{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="page-header">
    <div class="page-header">
        <h1>Оператор</h1>
    </div>
    Нет филиала
</div>
{% endblock content %}
