{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Выдать ордер</h1>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-lg btn-success">Подтвердить</button>
                <a class="btn btn-lg btn-default pull-right" href="{{ path('operator_orders') }}">
                    <i class="fa fa-arrow-left"></i> Назад к списку
                </a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}
