{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Ордера</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Расписчик</th>
                    <th>Назначение</th>
                    <th class="min_col text-right">Сумма</th>
                    <th class="min_col"></th>
                </tr>
            </thead>
            <tbody>
            {% for order in pagerfanta.currentPageResults %}
                <tr>
                    <td>{{ order.acquittanceman }}</td>
                    <td>{{ order.appointment }}</td>
                    <td class="min_col text-right">{{ order.sum|number_format }}</td>
                    <td class="min_col">
                        <a href="{{ path('operator_orders_issue_order', { id : order.id }) }}">
                            <i class="fa fa-credit-card"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
