{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Ордера</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="min_col">Дата и время</th>
                    <th>Назначение</th>
                    <th class="min_col">Пинкод</th>
                    <th class="min_col">Статус</th>
                    <th class="min_col text-right">Сумма (руб.)</th>
                    <th class="min_col text-right">Остаток (руб.)</th>
                </tr>
            </thead>
            <tbody>
            {% for order in pagerfanta.currentPageResults %}
                <tr>
                    <td class="min_col">{{ order.createdAt|date('Y-m-d H:i') }}</td>
                    <td>{{ order.appointment }}</td>
                    <td class="min_col">{{ order.pin }}</td>
                    <td class="min_col">{{ order.status == 'issuedByOperator' ? 'Обналичен' : 'Не обналичен' }}</td>
                    <td class="min_col text-right">{{ order.sum|number_format }}</td>
                    <td class="min_col text-right">{{ order.residual|number_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
