{% extends "AppBundle::layout.html.twig" %}
{% form_theme form '@AdminSkeleton/form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Забрать деньги</h1>
        {{ supervisor.fullName }}
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a href="{{ path('cashier_get') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> Назад</a>
                <button type="submit" class="btn btn-success">Забрать</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}
