{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Забрать деньги</h1>
    </div>

    {% if supervisors %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Супервизор</th>
                    <th class="min_col text-right">Сумма (руб.)</th>
                </tr>
            </thead>
            <tbody>
            {% for supervisor in supervisors %}
                <tr>
                    <td><a href="{{ path('cashier_get', { id: supervisor.id }) }}">{{ supervisor.fullName }}</a></td>
                    <td class="min_col text-right">{{ supervisor.supervisorSum|number_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}
