{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>На руках</h1>
    </div>
    {% if cgls %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col">#</th>
                <th class="min_col">Дата и время сбора</th>
                <th>Супервизор</th>
                <th class="min_col">Сумма (руб.)</th>
            </tr>
            </thead>
            <tbody>
            {% set sum = 0 %}
            {% for cgl in cgls %}
                <tr>
                    <td class="min_col">{{ cgl.id }}</td>
                    <td class="min_col">{{ cgl.createdAt|localizeddate('long', 'short') }}</td>
                    <td>{{ cgl.supervisor.fullName }}</td>
                    <td class="min_col text-right">{{ cgl.sum|number_format }}</td>
                </tr>
                {% set sum = sum + cgl.sum %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr><td colspan="5" class="text-right"><b>Итого: {{ sum|number_format }}</b></td></tr>
            </tfoot>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}
