{% extends "AdminSkeletonBundle::_list.html.twig" %}

{% block row_attr -%}
    {{ not entity.active ? ' class="active"' : '' }}
{%- endblock row_attr %}

{% block links %}
    <a href="{{ path('admin_consumable_tags', { tag_category: entity.id  }) }}" class="text-success"><i class="fa fa-list"></i></a>
    <a href="{{ path('admin_consumable_tag_categories_up', { id: entity.id }) }}" class="nodecor text-info"><i class="fa fa-arrow-up"></i></a>
    <a href="{{ path('admin_consumable_tag_categories_down', { id: entity.id }) }}" class="nodecor text-info"><i class="fa fa-arrow-down"></i></a>
    <a href="{{ path(router_item_edit, { id: entity.id }) }}" class="text-success"><i class="fa fa-pencil-square-o"></i></a>
{% endblock links %}
