{% extends "AppBundle::layout.html.twig" %}

{% block container %}
{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Закрыть</span>
    </button>
    {{ error.messageKey|trans(error.messageData, 'security') }}
</div>
{% endif %}

<form id="login" action="{{ path('login_check') }}" method="post">
    <label for="username">Логин:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required">

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="_password" required="required">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-primary" type="submit">Войти</button>
</form>
{% endblock container %}
