{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('operator_blanks_add_operator_cancelled') }}"><i class="fa fa-plus"></i> Добавить испорченный бланк</a>
        <h1>Испорченные бланки</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Юридическое лицо</th>
                <th>Тип справки</th>
                <th class="min_col text-right">Заменён на</th>
                <th class="min_col text-right">Испорчен</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for blank in pagerfanta.currentPageResults  %}
                <tr>
                    <td>{{ blank.legalEntity }}</td>
                    <td>{{ blank.referenceType }}</td>
                    <td class="min_col text-right">
                        {% if blank.serviceLog.medicalCenterCorrects is defined and blank.serviceLog.medicalCenterCorrects|length > 0 %}
                            {{ blank.serviceLog.medicalCenterCorrects.0.blank.serie }}
                            {{ blank.serviceLog.medicalCenterCorrects.0.blank.number }}
                        {% endif %}
                    </td>
                    <td class="min_col text-right">{{ blank.serie }} {{ blank.number }}</td>
                    <td class="min_col">
                        {% if blank.serviceLog.medicalCenterCorrects is not defined %}
                            <a href="{{ path('operator_blanks_revert_cancelled_blank', {'id': blank.id}) }}"
                               class='text-danger' onclick="return confirm('Вы действительно хотите вернуть бланк в работу?')">
                                <i class="fa fa-times"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-right"><b>Итого: {{ pagerfanta.currentPageResults|length }}</b></td>
            </tr>
            </tfoot>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}

    <a href="{{ path('operator_blanks_referenceman_envelopes') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> Назад</a>
{% endblock content %}
