{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Добавить испорченный бланк</h1>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="{{ path('operator_blanks_cancelled_blanks') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> Назад</a>
            <button type="submit" class="btn btn-success">Подтвердить</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}

{% block js %}
<script>
$(function() {
    var blanks = {{ blanks|json_encode|raw }};
    var reference_types = {{ reference_types|json_encode|raw }};
    var form_reference_type = $('#form_reference_type');
    var form_legal_entity = $('#form_legal_entity');
    var form_serie = $('#form_serie');
    var form_serie_form_group = form_serie.closest('.form-group');
    var serie_selected = "{{ serie_selected|raw }}";
    var reference_type_selected = "{{ reference_type_selected|raw }}";

    if (typeof(reference_type_selected) !== 'undefined' && reference_type_selected != '') {
        form_reference_type.val(reference_type_selected).change();
    }

    function onChangeLegalEntityOrReferenceType(e) {
        if (form_reference_type.val() == '' || reference_types[form_reference_type.val()].is_serie == false) {
            form_serie_form_group.hide();
            form_serie.removeAttr('required');
        } else if (reference_types[form_reference_type.val()].is_serie == true) {
            form_serie_form_group.show();
            form_serie.attr('required', 'required');
        }

        form_serie.empty();
        form_serie.append(new Option('-- Выберите серию --', '') );

        if (form_legal_entity.val() && form_reference_type.val()) {
            if (blanks.hasOwnProperty(form_legal_entity.val()) && blanks[form_legal_entity.val()].hasOwnProperty([form_reference_type.val()])) {
                var series = blanks[form_legal_entity.val()][form_reference_type.val()];
                $.each(series, function(val, text) {
                    form_serie.append(new Option(text, text, '', serie_selected) );
                });

            }
        }
    }

    form_legal_entity.on('change', onChangeLegalEntityOrReferenceType);
    form_reference_type.on('change', onChangeLegalEntityOrReferenceType);
    onChangeLegalEntityOrReferenceType();

});
</script>
{% endblock js %}
