{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block container %}
    <div class="page-header">
        <h1>Выбор рабочего места</h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock container %}
