{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Текущие бланки</h1>
    </div>

    {% if rows|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-left">Код юрлица</th>
                    <th class="text-left">Тип бланка</th>
                    <th class="min_col"></th>
                    <th class="min_col text-left">Серия</th>
                    <th class="min_col text-right">Количество</th>
                    <th class="min_col text-right"></th>
                </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td class=" text-left">{{ row.legal_entity.shortName }}</td>
                    <td class=" text-left">{{ row.reference_type.name }}</td>
                    <td class="min_col">
                        {% if row.stamp %}
                            <i title='С печатью' class="fa fa-bullseye text-success"></i>
                        {% else %}
                            <i title='Без печати' class="fa fa-bullseye text-info"></i>
                        {% endif %}
                    </td>
                    <td class="min_col text-left">{{ row.serie }}</td>
                    <td class="min_col text-right">
                        {% set cnt = 0 %}
                        {% for leadingZero, intervals in row.intervals %}
                        {% for interval in intervals %}
                            {% set cnt = cnt + (interval[1] - interval[0] + 1)  %}
                        {% endfor %}
                        {% endfor %}
                        {{ cnt }}
                    </td>
                    <td class="min_col text-right">
                        <a title='Просмотр' class="text-info" href="{{ path('operator__current_blanks__view', { referenceTypeId: row.reference_type.id, serie: row.serie, stamp: row.stamp }) }}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
