{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Текущие бланки</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Код юрлица</th>
                        <th>Тип справки</th>
                        <th class="min_col text-left">Серия</th>
                        <th class="min_col text-right">Номер</th>
                        <th class="min_col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for blank in pagerfanta.currentPageResults  %}
                    <tr>
                        <td>{{ blank.legalEntity.shortName }}</td>
                        <td>{{ blank.referenceType }}</td>
                        <td class="min_col text-left">{{ blank.serie }}</td>
                        <td class="min_col text-right">{{ blank.number }}</td>
                        <td class="min_col">
                            <a class="text-danger" href="{{ path('operator_blanks_on_hands_lost', { id: blank.id }) }}" title="Утеря бланка"><i class="fa fa-close"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-right"><b>Всего: {{ pagerfanta.nbResults }}</b></td>
                    </tr>
                </tfoot>
            </table>

        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}

    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}

    <a href="{{ path('operator_current_blanks') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> Назад</a>
{% endblock content %}
