
{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">

        <button class="btn btn-default pull-right" data-toggle="modal" data-target="#package_formation">
            <i class="fa fa-envelope-o"></i> Сформировать конверт
        </button>
        <h1>Оказанные услуги за текущий день</h1>
    </div>

    <div class="modal fade" id="package_formation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Сформировать конверт</h4>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сформировать конверт?
                    <br>Наличными: {{ sumLogs|number_format }} руб.
                    <br>Ордера: {{ sumOrders|number_format }} руб.
                    <br>Сумма: {{ workplace.sum|number_format }} руб.
                </div>
                <div class="modal-footer">
                    {% if workplace.sum > 0 %}
                        <a href="{{ path('create_envelope') }}" class="btn btn-danger">Да</a>
                    {% endif %}
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>

    {% if items|length > 0 or lLogs|length > 0  %}
        <table class="table table-hover">
            <thead>
            <tr>
                <td colspan="10" class="text-right"><b>Итого: <span id="total_thead">0</span></b></td>
            </tr>
            <tr>
                <th class="min_col">Время</th>
                <th class="min_col">Код услуги</th>
                <th class="min_col">Серия</th>
                <th class="min_col">Номер бланка</th>
                <th>Клиент</th>
                <th>Оператор</th>
                <th class="min_col">Касса</th>
                <th class="min_col">№ чека</th>
                <th class="min_col text-right">Скидка (руб.)</th>
                <th class="min_col text-right">Сумма (руб.)</th>
            </tr>
            </thead>
            <tbody>

            {% set sum = 0 %}
            {% for date, date_sum in lLogs %}
                <tr class="bg-danger">
                    <td colspan="9">
                        За {{ date }} не сформированно в конверты
                        <br><span style="padding-left:30px">Наличные</span>
                        <br><span style="padding-left:30px">Ордера</span>
                    </td>
                    <td class="min_col text-right">
                        <br>{{ date_sum['logs']|number_format }}
                        <br>{{ date_sum['orders']|number_format }}
                    </td>
                </tr>
                {% set sum = sum + date_sum['all'] %}
            {% endfor %}

            {% for item in items %}
                {% if item.is_order is defined %}
                    <tr class="bg-danger">
                        <td class="min_col">{{ item.created_at|date('H:i') }}</td>
                        <td class="min_col">{{ item.service }}</td>
                        <td class="min_col">{{ item.id }}</td>
                        <td>{{ item.acquittanceman }}</td>
                        <td>{{ item.operator }}</td>
                        <td colspan="3">{{ item.appointment }}</td>
                        <td class="min_col text-right">{{ item.sum|number_format }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="min_col">{{ item.created_at|date('H:i') }}</td>
                        <td class="min_col">{{ item.service }}</td>
                        <td class="min_col">{{ item.serie }}</td>
                        <td class="min_col">{{ item.num_blank }}</td>
                        <td>{{ item.client }}</td>
                        <td>{{ item.operator }}</td>
                        <td class="min_col">{{ item.cashbox }}</td>
                        <td class="min_col">{{ item.num_check }}</td>
                        <td class="min_col text-right">{{ item.discount|number_format }}</td>
                        <td class="min_col text-right">{{ item.sum|number_format }}</td>
                    </tr>
                {% endif %}
                {% set sum = sum + item.sum %}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-right"><b>Итоговая сумма: <span id="total_tfoot">{{ sum|number_format }}</span></b></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        $(function () {
            var total_tfoot = $('#total_tfoot');
            var total_thead = $('#total_thead');
            total_thead.html(total_tfoot.html());
        });
    </script>
{% endblock js %}
