{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Пакеты от справковеда</h1>
    </div>
    {% if pagerfanta.currentPageResults|length %}
    <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-right">Номер конверта</th>
                <th>Интервал</th>
                <th class="min_col"></th>
                <th class="min_col text-right">Количество</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for envelope in pagerfanta.currentPageResults  %}
                <tr>
                    <td>{{ envelope.id }}</td>
                    <td>
                        {% set sum = 0 %}
                        {% for legal_entity, reference_types__series in envelope.intervals %}
                            {% for reference_type, series in reference_types__series %}
                                <strong>{{ legal_entities[legal_entity] }}</strong>
                                <kbd>{{ reference_types[reference_type] }}</kbd>
                                {% for serie, leadingZeros in series %}
                                    {% for leadingZero, intervals in leadingZeros %}
                                        {% set format = '%0'~leadingZero~'d' %}
                                        <br><code>{{ serie }} </code>:
                                        {% for interval in intervals %}
                                            {% if interval is defined %}
                                                {%- if interval[0] == interval[1] -%}
                                                    {{ format|format(interval[0]) }}
                                                    {% set sum = sum + 1 %}
                                                {%- else -%}
                                                    [{{ format|format(interval[0]) }}, {{ format|format(interval[1]) }}]
                                                    {% set sum = sum + (interval[1] - interval[0]) + 1 %}
                                                {%- endif -%}
                                                {{ loop.last ? '' : '; ' }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}<br>
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td class="min_col">
                        {% if envelope.stamp %}
                            <i title='Бланки с печатью' class="fa fa-circle text-info"></i>
                        {% else %}
                            <i title='Бланки без печати' class="fa fa-circle text-success"></i>
                        {% endif %}
                    </td>
                    <td class="min_col text-right">
                        <a href="{{ path('operator_blanks_referenceman_envelope', {'envelopeId': envelope.id}) }}">
                            {{ sum }}
                        </a>
                    </td>
                    <td class="min_col">
                        <a href="{{ path('operator_blanks_get_referenceman_envelope',{ id : envelope.id }) }}"><i class="fa fa-hand-rock-o"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
            Нет данных
    {% endif %}
{% endblock content %}
