{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('operator_blanks_transfer_blanks_to_referenceman') }}">
            <i class="fa fa-list"></i>
            Добавить
        </a>
        <h1>Возврат бланков</h1>
    </div>

    {% if envelopes|length %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="min_col text-right">№ Конверта</th>
            <th class="min_col text-left">Тип бланка</th>
            <th class="min_col text-right">Серия</th>
            <th>Номера</th>
            <th class="min_col"></th>
            <th class="min_col text-right">Количество</th>
            <th>Кладовщик / Справковед</th>
        </tr>
        </thead>
        <tbody>

        {% for envelope in envelopes %}
            <tr>
                <td class="min_col text-right">{{ envelope.id }}</td>
                <td class="min_col text-left">{{ envelope.referenceType }}</td>
                <td class="min_col text-right">{{ envelope.serie }}</td>
                <td>
                    {% if envelope.intervals[envelope.legalEntity.id][envelope.referenceType.id][envelope.serie] is defined %}
                        {% for leadingZero, intervals in envelope.intervals[envelope.legalEntity.id][envelope.referenceType.id][envelope.serie] %}
                            {% set format = '%0'~leadingZero~'d' %}
                            {% for interval in intervals %}
                                {{ format|format(interval[0]) }}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% if envelope.intervals[envelope.legalEntity.id][envelope.referenceType.id]['-'] is defined %}
                        {% for leadingZero, intervals in envelope.intervals[envelope.legalEntity.id][envelope.referenceType.id]['-'] %}
                            {% set format = '%0'~leadingZero~'d' %}
                            {% for interval in intervals %}
                                {{ format|format(interval[0]) }}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="min_col">
                    {% if envelope.blanks[0] is defined and envelope.blanks[0].stamp %}
                        <i title='Бланки с печатью' class="fa fa-circle text-info"></i>
                    {% else %}
                        <i title='Бланки без печати' class="fa fa-circle text-success"></i>
                    {% endif %}
                </td>
                <td class="min_col text-right">{{ envelope.blanks|length }}</td>
                <td>
                        {{ envelope.referenceman }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        Нет данных
    {% endif %}

{% endblock content %}
