{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Бланки в конверте</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Юридическое лицо</th>
                    <th>Тип справки</th>
                    <th class="min_col text-left">Серия</th>
                    <th class="min_col text-right">Номер</th>
                </tr>
            </thead>
            <tbody>
            {% for blank in pagerfanta.currentPageResults  %}
                <tr>
                    <td>{{ blank.legalEntity }}</td>
                    <td>{{ blank.referenceType }}</td>
                    <td class="min_col text-left">{{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right"><b>Итого: {{ pagerfanta.currentPageResults|length }}</b></td>
                </tr>
            </tfoot>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}

    <a href="{{ path('operator_blanks_referenceman_envelopes') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> Назад</a>
{% endblock content %}
