{% extends 'AppBundle::layout.html.twig' %}
{% if filter_form %}
    {% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}
{% endif %}

{% block content %}
    <div class="page-header">
        <h1>Бланки на руках</h1>
    </div>

    {% if filter_form %}
        <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
        <div id="filter">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-filter"></i>
                        <span>Отфильтровать</span>
                    </button>
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
        <br>
    {% endif %}

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Юридическое лицо</th>
                <th>Тип бланка</th>
                <th class="min_col"></th>
                <th>Серия</th>
                <th class="min_col text-right">Количество</th>
                <th class="min_col text-right"></th>
            </tr>
            </thead>
            <tbody>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.legal_entity }}</td>
                    <td>{{ blank.reference_type }}</td>
                    <td class="min_col">
                        {% if blank.stamp %}
                            <i title='Бланки с печатью' class="fa fa-circle text-info"></i>
                        {% else %}
                            <i title='Бланки без печати' class="fa fa-circle text-success"></i>
                        {% endif %}
                    </td>
                    <td>{{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.amount }}</td>
                    <td class="min_col text-right">
                        <a class="text-info" href="{{ path('operator_blanks_on_hands_view', { 'legalEntityId' : blank.legal_entity.id, 'referenceTypeId' : blank.reference_type.id, 'serie': blank.serie, 'stamp': blank.stamp|length }) }}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        $(function() {
            {% if app.request.queryString == '' %}
            $('#filter').hide();
            {% endif %}

            var filter_class = function() {
                $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
                    return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
                });
            };
            filter_class();

            $('#filter_link').click(function(e) {
                e.preventDefault();
                $('#filter').toggle();
                filter_class();
            });
        });
    </script>
{% endblock js %}
