{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    {{ message|raw }}

    <hr>

    <dl class="dl-horizontal">
        <dt>Тип бланка:</dt><dd>{{ blank.referenceType.name }}</dd>
        <dt>Серия:</dt><dd>{{ blank.serie ? blank.serie : '-' }}</dd>
        <dt>Номер:</dt><dd>{{ blank.number }}</dd>
    </dl>

    <hr>

    <form class="form-horizontal" method="post" action="">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-danger">Утерян</button>
                <a href="{{ path('operator_blanks_on_hands_view', {
                    'legalEntityId': blank.legalEntity.id,
                    'referenceTypeId': blank.referenceType.id,
                    'serie': blank.serie ? blank.serie : '-',
                }) }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> Вернуться к списку</a>
            </div>
        </div>
    </form>
{% endblock content %}
