{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% for service in services %}
        <table class="table well noborder">
            <tr>
                <td>
                    <h3>
                        {% if services_info[service.id]['is_disabled'] %}
                            {{ service.name }}
                        {% else %}
                            <a class="text-info" href="{{ path('service_service_init', { id: service.id }) }}">{{ service.name }}</a>
                        {% endif %}
                    </h3>
                </td>
            </tr>
            <tr>
                <td>
                    {{ service.desc }}
                </td>
            </tr>
            <tr>
                <td class="text-left" width="30%">
                    {% if services_info[service.id]['guarantor'] %}
                        Поручитель: {{ services_info[service.id]['guarantor'].shortName }}
                    {% endif %}
                </td>
                <td class="text-left" width="30%">
                    Исполнитель: {% if services_info[service.id]['executor'] %}{{ services_info[service.id]['executor'].shortName }}{% else %}Нет{% endif %}
                </td>
                <td class="min_col text-right">
                    {% if service.referenceType %}
                        Текущие:
                        {% if services_info[service.id]['amount_current_blanks'] and not services_info[service.id]['is_disabled'] %}
                            <a class="text-info" href="{{ path('operator_blanks_agreement_current_view', { 'service': service.id }) }}">{{ services_info[service.id]['amount_current_blanks'] }}</a>
                        {% else %}
                            0
                        {% endif %}
                    {% endif %}
                </td>
                <td class="min_col text-right">
                    {% if service.referenceType %}
                        На руках:
                        {% if services_info[service.id]['amount_on_hands_blanks'] and not services_info[service.id]['is_disabled'] %}
                            <a class="text-info" href="{{ path('operator_blanks_agreement_on_hands_view', { 'service': service.id }) }}">{{ services_info[service.id]['amount_on_hands_blanks'] }}</a>
                        {% else %}
                            0
                        {% endif %}
                    {% endif %}
                </td>
                <td class="min_col text-right">
                    {% if service.referenceType %}
                        {% if service.isGnoch %}
                            Без печати
                            <i class="fa fa-circle-thin text-info"></i>
                        {% else %}
                            С печатью
                            <i class="fa fa-circle text-info"></i>
                        {% endif %}
                    {% else %}
                        Без бланков
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock content %}

