{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Возврат бланков</h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Найти</button>
        </div>
    </div>
    {{ form_end(form) }}

    {% if blanks|length > 0 %}
        {{ form_start(form2) }}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Тип справки</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Номер</th>
                <th class="min_col">
                    <input type="checkbox" name="checkAll" id="checkAllCheckbox" onclick="$('input[id^=\'form2_blanks\']' ).prop('checked', this.checked)">
                </th>
            </tr>
            </thead>
            <tbody>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.referenceType }}</td>
                    <td class="min_col text-left">{{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                    <td class="min_col">{{ form_widget(form2.blanks[loop.index0]) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="text-right"><b>Всего: {{ blanks|length }}</b></td>
            </tr>
            </tfoot>
        </table>
        {{ form_rest(form2) }}
        {{ form_end(form2) }}
    {% elseif app.request.queryString != '' %}
        <hr>Ничего не найдено
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        $(function() {
            var blanks = {{ blanksFilter|json_encode|raw }};
            var reference_types = {{ reference_types|json_encode|raw }};
            var form_reference_type = $('#reference_type');
            var form_legal_entity = $('#legal_entity');
            var form_serie = $('#serie');
            var form_serie_span = form_serie.closest('.form-group');
            var serie_selected = "{{ serie_selected|raw }}";

            function onChangeLegalEntityOrReferenceType(e) {
                if (form_reference_type.val() =='' ||  reference_types[form_reference_type.val()].is_serie == false) {
                    form_serie_span.hide();
                    form_serie.removeAttr('required');
                } else if (reference_types[form_reference_type.val()].is_serie == true) {
                    form_serie_span.show();
                    form_serie.attr('required', 'required');
                };

                form_serie.empty();
                form_serie.append(new Option('-- Выберите серию --', '') );

                if (form_legal_entity.val() && form_reference_type.val()) {
                    if (blanks.hasOwnProperty(form_legal_entity.val()) && blanks[form_legal_entity.val()].hasOwnProperty([form_reference_type.val()])) {
                        var series = blanks[form_legal_entity.val()][form_reference_type.val()];
                        $.each(series, function(val, text) {
                            form_serie.append(new Option(text, text, '', serie_selected) );
                        });

                    }
                }

            };

            $.each($("input[id^='form2_blanks']" ), function () {
                $(this).change(function() {
                    $('#checkAllCheckbox').prop('checked', false);
                })
            });


            form_legal_entity.on('change', onChangeLegalEntityOrReferenceType);
            form_reference_type.on('change', onChangeLegalEntityOrReferenceType);
            onChangeLegalEntityOrReferenceType();

        });
    </script>
{% endblock %}