{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Редактировать расходник</h1>
    </div>

    {{ form_start(form) }}
        {{ form_row(form.doc_date) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.consumable_doc_type) }}
        {#{{ form_row(form.sum) }}#}

        <div class="form-group{{ form.tag.vars.errors|length > 0 ? ' has-error' : '' }}">
            {{ form_label(form.tag) }}
            <div class="col-sm-9">
                <div style="float: left">
                    {{ form_widget(form.tag_category) }}
                </div>
                <div style="float: left; margin-left: 30px">
                    {{ form_widget(form.tag) }}
                </div>
                <div style="clear: both">
                    {{ form_errors(form.tag) }}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <a class="btn btn-default pull-right" href="{{ path('orderman_orders_order', { id: order_id}) }}"><i class="fa fa-arrow-left"></i> Назад к ордеру</a>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}

{% block js %}
<script src="/ckeditor/ckeditor.js"></script>
<script>
$(function() {
    var tag_selected = {{ tag_selected|json_encode|raw }};
    var tag_category_selected = {{ tag_category_selected|json_encode|raw }};
    var tag_categories = {{ tag_categories|json_encode|raw }};
    var form_tag_categories = $('input[name="form[tag_category]"]');
    var form_tags = $('input[name="form[tag]"]');

    for (i = 0; i < form_tag_categories.length; i++) {
        if($(form_tag_categories[i]).val() == tag_category_selected) {
            $(form_tag_categories[i]).attr('checked', 'checked');
        }
    }

    for (i = 0; i < form_tags.length; i++) {
        $(form_tags[i]).closest('.radio').hide();
    }
    var enabled_tags = tag_categories[tag_category_selected];

    for (i = 0; i < form_tags.length; i++) {
        for (j = 0; j < enabled_tags.length; j++) {
            if ($(form_tags[i]).val() == enabled_tags[j]) {
                $(form_tags[i]).closest('.radio').show();
            }

            if($(form_tags[i]).val() == tag_selected) {
                $(form_tags[i]).attr('checked', 'checked');
            }
        }
    }

    function changeTag() {
        var form_tag_category_checked = $('input[name="form[tag_category]"]:checked');
        var enabled_tags = tag_categories[form_tag_category_checked.val()];

        form_tags.each(function (k, v) {
            $(v).closest('.radio').hide();
            $(v).removeAttr('checked');
            for (i = 0; i < enabled_tags.length; i++) {
                if ($(v).val() == enabled_tags[i]) {
                    $(v).closest('.radio').show();
                }
            }
        });
    }

    form_tag_categories.on('change', changeTag);
});
</script>
{% endblock js %}
