{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

<div class="page-header">
    <a class="btn btn-default pull-right" href="{{ path('orderman_consumable_edit', { consumableId: consumable.id }) }}">Редактировать</a>
    <h1>Просмотр расходника</h1>
</div>

<form class="form-horizontal">
    {% if consumable.updatedAt is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Дата и время<br>последнего обновления</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ consumable.updatedAt|date('Y-m-d H:i') }}</p>
            </div>
        </div>
    {% endif %}

    {% if consumable.consumableDocType is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Тип документа</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{  consumable.consumableDocType }}</p>
            </div>
        </div>
    {% endif %}

    {% if consumable.docDate is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Дата документа</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ consumable.docDate|date('Y-m-d H:i') }}</p>
            </div>
        </div>
    {% endif %}

    {% if consumable.id is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Архивный номер</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ consumable.id }}</p>
            </div>
        </div>
    {% endif %}

    {% if consumable.name is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Название</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ consumable.name }}</p>
            </div>
        </div>
    {% endif %}

    {% if consumable.description is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Описание</label>
            <div class="col-sm-9 form-control-static">
                {{ consumable.description|raw }}
            </div>
        </div>
    {% endif %}

    {% if consumable.filial is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Филиал</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ consumable.filial }}</p>
            </div>
        </div>
    {% endif %}

    {% if consumable.tags is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Теги</label>
            <div class="col-sm-9 form-control-static">
                {% for tag in consumable.tags %}
                    {{ tag.tagCategory~': '~tag }}<br>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if consumable.sum is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Сумма</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ consumable.sum|number_format }} руб.</p>
            </div>
        </div>
    {% endif %}

    <hr>
    <a class="btn btn-default pull-right" href="{{ path('orderman_orders_order', { id: consumable.order.id }) }}"><i class="fa fa-arrow-left"></i> Назад</a>
</form>
{% endblock content %}
