{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Архивная коробка</h1>
    </div>

    {% if box|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-right">#</th>
                <th class="min_col text-left">Дата расходника</th>
                <th class="min_col text-left">Тип расходника</th>
                <th class="min_col text-left">№ расходника</th>
                <th class="min_col text-left">Расписчик</th>
                <th class="min_col"></th>

            </tr>
            </thead>
            <tbody>

            {% for consumable in box.consumables  %}
                <tr>
                    <td class="min_col text-right">{{ consumable.id }}</td>
                    <td class="min_col text-left">{{ consumable.createdAt|localizeddate('long', 'short') }}</td>
                    <td class="min_col text-дуае">{{ consumable.consumableDocType }}</td>
                    <td class="min_col text-left">{{ consumable.name }}</td>
                    <td class="min_col text-left">{{ consumable.order.acquittanceman }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-right"><b>Итого: {{ box.consumables|length }}</b></td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('orderman__consumable_boxes') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
        </div>
    </div>

{% endblock content %}
