{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Добавление расходника</h1>
    </div>

    {{ form_start(form) }}
        {{ form_row(form.consumable_doc_type) }}
        {{ form_row(form.name) }}
        {{ form_row(form.doc_date) }}
        {{ form_row(form.description) }}

        <div class="form-group{{ form.tag.vars.errors|length > 0 ? ' has-error' : '' }}">
            {{ form_label(form.tag) }}
            <div class="col-sm-9">
                <div style="float: left">
                    {{ form_widget(form.tag_category) }}
                </div>
                <div style="float: left; margin-left: 30px">
                    {{ form_widget(form.tag) }}
                </div>
                <div style="clear: both">
                    {{ form_errors(form.tag) }}
                </div>
            </div>
        </div>

        {{ form_row(form.name) }}
        {{ form_rest(form) }}

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <a class="btn btn-default pull-right" href="{{ path('orderman_orders_order', { id: order_id}) }}"><i class="fa fa-arrow-left"></i> Назад к ордеру</a>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}

{% block js %}
<script src="/ckeditor/ckeditor.js"></script>

<script>
$(function() {
    var tag_categories = {{ tag_categories|json_encode|raw }};
    var form_tag_category = $('input[name="form[tag_category]"]');
    var form_tags = $('input[name="form[tag]"]');

    for (i = 0; i < form_tags.length; i++) {
        $(form_tags[i]).closest('.radio').hide();
    }

    function changeTag(e) {
        var form_tag_category_checked = $('input[name="form[tag_category]"]:checked');
        var enabled_tags = tag_categories[form_tag_category_checked.val()];

        form_tags.each(function (k, v) {
            $(v).closest('.radio').hide();
            $(v).removeAttr('checked');

            for (i = 0; i < enabled_tags.length; i++) {
                if ($(v).val() == enabled_tags[i]) {
                    $(v).closest('.radio').show();
                }
            }
        });
    }

    form_tag_category.on('change', changeTag);
    changeTag();
});
</script>

{% endblock js %}
