{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        {% if order is defined and order.parent is empty %}
            <a class="btn btn-default pull-right"  href="{{ path('orderman_consumable_add', {'orderId' : order.id}) }}"> <i class="fa fa-plus"></i> Добавить расходник</a>
        {% endif %}
        <h1>Просмотр ордера</h1>
    </div>

    <form class="form-horizontal">
        {% if order.id is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Номер ордера</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ order.id }}</p>
                </div>
            </div>
        {% endif %}

        {% if order.createdAt is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Дата и время создания</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ order.getCreatedAt|date('Y-m-d H:i') }}</p>
                </div>
            </div>
        {% endif %}

        {% if order.treasurer is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Казначей</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ order.treasurer }}</p>
                </div>
            </div>
        {% endif %}

        {% if order.acquittanceman is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Расписчик</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ order.acquittanceman }}</p>
                </div>
            </div>
        {% endif %}

        {% if order.appointment is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Назначение</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ order.appointment }}</p>
                </div>
            </div>
        {% endif %}

        {% if order.description is defined and order.description is not empty %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Описание</label>
                <div class="col-sm-9">
                    <div class="form-control-static">{{ order.description|raw }}</div>
                </div>
            </div>
        {% endif %}

        {% if order.sum is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Суммма</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ order.sum }}</p>
                </div>
            </div>
        {% endif %}

        {% if order.residual is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Остаток</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ order.residual }}</p>
                </div>
            </div>
        {% endif %}
    </form>

    {% if supervisorRepayments|length %}
        <h3>Список операций:</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="min_col">Дата и время создания</th>
                    <th>Ф.И.О. супервайзера</th>
                    <th class="min_col text-right">Сумма (руб.)</th>
                </tr>
            </thead>
            {% for supervisorRepayment in supervisorRepayments %}
                <tr>
                    <td class="min_col">{{ supervisorRepayment.createdAt|date('Y-m-d H:i') }}</td>
                    <td>{{ supervisorRepayment.supervisor }}</td>
                    <td class="min_col text-right">{{ supervisorRepayment.sum|number_format }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if consumables|length %}
        <h3>Расходники:</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="min_col">Дата и время создания</th>
                    <th class="min_col text-right">Архивный номер</th>
                    <th>Ф.И.О. ордериста</th>
                    <th>Название</th>
                    <th class="min_col text-right">Сумма (руб.)</th>
                    <th class="min_col"></th>
                </tr>
            </thead>
            {% for consumable in consumables %}
                <tr>
                    <td class="min_col">{{ consumable.createdAt|date('Y-m-d H:i') }}</td>
                    <td class="min_col text-right">{{ consumable.id }}</td>
                    <td>{{ consumable.orderman }}</td>
                    <td>{{ consumable.name }}</td>
                    <td class="min_col text-right">{{ consumable.sum|number_format }}</td>
                    <td class="min_col">
                        <a href="{{ path('orderman_consumable', { id : consumable.id }) }}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if order.status in ['issuedByOperator'] %}
        <a class="btn btn-default" href="{{ path('orderman_orders_order_close', { id: order.id }) }}">Закрыть с получением сдачи</a>
    {% endif %}
    <a class="btn btn-default pull-right" href="{{ path('orderman_orders') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
{% endblock content %}
