{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Выбор активной коробки</h1>
    </div>
<form class="form-horizontal">
    {% if oldBox %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Закрыта коробка №
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ oldBox.id }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                От
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ box.createdAt|localizeddate('long', 'short') }}
                </p>
            </div>
        </div>
        <br>
    {% endif %}

    {% if action in ['create', 'close'] %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Создана коробка №
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ box.id }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                От
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ box.createdAt|localizeddate('long', 'short') }}
                </p>
            </div>
        </div>
    {% endif %}


    <div class="form-group">
        <label class="col-sm-3 control-label">
            Помещён расходник
        </label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ consumable.id }} {{ consumable.name }}
            </p>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-3 control-label">
            От расписчика
        </label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ box.acquittanceman }}
            </p>
        </div>
    </div>

    <div class="form-group"><div class="col-sm-offset-3 col-sm-9"><br></div></div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default" href="{{ path('orderman_orders_order', {'id': consumable.order.id}) }}">Продолжить</a>
        </div>
    </div>
</form>
{% endblock content %}
