{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        {% if app.request.get('_route') == 'archivarius_fio' %}
            <h1>Поиск по ФИО и дате рождения</h1>
        {% endif %}
        {% if app.request.get('_route') == 'archivarius_date' %}
            <h1>Поиск по номеру бланка и дате выдачи</h1>
        {% endif %}
        {% if app.request.get('_route') == 'archivarius_legal' %}
            <h1>Поиск по номеру бланка и юридическому лицу</h1>
        {% endif %}
        {% if app.request.get('_route') == 'archivarius_number' %}
            <h1>Поиск по номеру бланка</h1>
        {% endif %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock content %}
