{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Найденные услуги</h1>
        <h3>
            {% if num_blank is defined %}{{ num_blank }}<br>{% endif %}
            {% if last_name is defined and first_name is defined and patronymic is defined %}
                {{ last_name~' '~first_name~' '~patronymic }}<br>
            {% endif %}
            {% if birthday is defined %}{{ birthday }}<br>{% endif %}
            {% if legal_entity is defined %}{{ legal_entity }}<br>{% endif %}
        </h3>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="min_col">#</th>
            <th class="min_col text-right">Дата выдачи</th>
            <th class="min_col text-left">Услуга</th>
            <th class="min_col text-right">Код услуги</th>
            <th>Клиент</th>
            <th class="min_col text-right">№ справки</th>
            <th class="min_col text-right">№ род. справки</th>
            <th class="min_col text-right">Стоимость (руб.)</th>
            <th class="min_col"></th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td class="min_col text-right">{{ log.id }}</td>
                <td class="min_col text-right">{{ log.dateGiving|localizeddate('short', 'none') }}</td>
                <td class="min_col text-left">{{ log.service }}</td>
                <td class="min_col text-right">{% if log.parent %}Д/{% endif %}{{ log.service.code }}</td>
                <td>{{ log.params['last_name']~' '~log.params['first_name']|first~'. '~log.params['patronymic']|first~'.' }}</td>
                <td class="min_col text-right">{{ log.numBlank }}</td>
                <td class="min_col text-right">{% if log.parent %}{{ log.parent.numBlank }}{% endif %}</td>
                <td class="min_col text-right">{{ log.sum|number_format }}</td>
                <td class="min_col">
                    {% if app.request.get('_route') == 'archivarius_fio' %}
                        <a href="{{ path('archivarius_fio_view', { id: log.id }) }}" class="text-success"><i class="fa fa-eye"></i></a>
                    {% endif %}
                    {% if app.request.get('_route') == 'archivarius_date' %}
                        <a href="{{ path('archivarius_date_view', { id: log.id }) }}" class="text-success"><i class="fa fa-eye"></i></a>
                    {% endif %}
                    {% if app.request.get('_route') == 'archivarius_legal' %}
                        <a href="{{ path('archivarius_legal_view', { id: log.id }) }}" class="text-success"><i class="fa fa-eye"></i></a>
                    {% endif %}
                    {% if app.request.get('_route') == 'archivarius_number' %}
                        <a href="{{ path('archivarius_number_view', { id: log.id }) }}" class="text-success"><i class="fa fa-eye"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    {% if app.request.get('_route') == 'archivarius_fio' %}
        <a href="{{ path('archivarius_fio') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> К поиску</a>
    {% endif %}
    {% if app.request.get('_route') == 'archivarius_date' %}
        <a href="{{ path('archivarius_date') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> К поиску</a>
    {% endif %}
    {% if app.request.get('_route') == 'archivarius_legal' %}
        <a href="{{ path('archivarius_legal') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> К поиску</a>
    {% endif %}
    {% if app.request.get('_route') == 'archivarius_number' %}
        <a href="{{ path('archivarius_number') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> К поиску</a>
    {% endif %}
{% endblock content %}
