{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Найденные услуги</h1>
        <h3>
            {{ last_name~' '~first_name~' '~patronymic }}<br>
            {{ birthday }}
        </h3>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="min_col text-right">#</th>
                <th class="min_col">Дата выдачи</th>
                <th class="min_col text-right">Код услуги</th>
                <th>Услуга</th>
                <th class="min_col text-right">№ справки</th>
                <th class="min_col text-right">№ род. справки</th>
                <th class="min_col text-right">Стоимость (руб.)</th>
                <th class="min_col"></th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td class="min_col text-right">{{ log.id }}</td>
                <td class="min_col">{{ log.dateGiving|localizeddate('short', 'none') }}</td>
                <td class="min_col text-right">
                    {% if log.medicalCenterCorrects|length > 0 %}Х/{% endif %}{% if log.medicalCenterError %}О/{% endif %}{% if log.parent %}Д/{% endif %}{{ log.service.code }}
                </td>
                <td>{{ log.service }}</td>
                <td class="min_col text-right">{{ log.numBlank }}</td>
                <td class="min_col text-right">{% if log.parent %}{{ log.parent.numBlank }}{% endif %}</td>
                <td class="min_col text-right">{{ log.sum|number_format }}</td>
                <td class="min_col">
                    <a href="{{ path('archivarius_fio_view', { id: log.id }) }}" class="text-success"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{{ path('archivarius_fio') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> К поиску</a>
{% endblock content %}
