{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Оказанная услуга</h1>
    </div>

    <form class="form-horizontal">
        {% if log.params.last_name is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Фамилия</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.last_name }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.first_name is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Имя</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.first_name }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.patronymic is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Отчество</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.patronymic }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.birthday is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Дата рождения</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.birthday|localizeddate('long', 'none') }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.sex is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Пол</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.sex ? 'Мужской' : 'Женский' }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.phone is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Телефон</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.phone|phone_format }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.passport is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Паспортные данные</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.passport }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.address is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Адрес</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.address }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.num is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Номер договора</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ log.params.num }}</p>
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-3 control-label">Цена услуги</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.service.price|number_format }} руб.</p>
            </div>
        </div>

        {% if log.params.discount is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Цена со скидкой</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {% if log.params.sum_type == 'revisit' %}
                            {{ (log.service.price - log.params.discount)|number_format }} руб.
                        {% else %}
                            {{ log.sum|number_format }} руб.
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Скидка</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {% if log.params.sum_type == 'revisit' %}
                            {{ log.params.discount|number_format }} руб.
                        {% else %}
                            {{ (log.service.price - log.sum)|number_format }} руб.
                        {% endif %}
                    </p>
                </div>
            </div>
        {%  endif %}

        {% if log.params.sum_type is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Название скидки</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {% if log.params.sum_type=='revisit' %}
                            Повторное посещение
                        {% elseif log.params.sum_type == 'duplicate' %}
                            Дубликат
                        {% elseif discount.name is defined %}
                            {{ discount.name}}
                        {% else %}
                            -
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endif %}

        {% if log.parent %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Стоимость дубликата</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ log.service.duplicatePrice|number_format }} руб.</p>
                </div>
            </div>
        {% endif %}

        {% if log.params.discount_comment is defined and log.params.discount_comment%}
        <div class="form-group">
            <label class="col-sm-3 control-label">Комментарий к скидке</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.discount_comment}}</p>
            </div>
        </div>
        {%  endif %}

        {% if log.params.sum_online is defined %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Онлайн скидка</label>
            <div class="col-sm-9">
                <p class="form-control-static">Да</p>
            </div>
        </div>
        {%  endif %}

        <div class="form-group">
            <label class="col-sm-3 control-label">Название услуги</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.service }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Код услуги</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if log.medicalCenterCorrects|length > 0 %}Х/{% endif %}{% if log.medicalCenterError %}О/{% endif %}{% if log.parent %}Д/{% endif %}{{ log.service.code }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Описание услуги</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if log.service.desc %}{{ log.service.desc}}{% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Водительская</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if log.service.referenceType.driverReference is defined %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Есть серия</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if log.service.referenceType.isSerie is defined %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">ГНОЧ</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.service.isGnoch ? 'Да' : 'Нет' }}</p>
            </div>
        </div>

        {% if log.service.referenceType.driverReference is defined %}
            {% if log.params.d_license_date is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Дата выдачи</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ log.params.d_license_date|localizeddate('long', 'none') }}</p>
                </div>
            </div>
            {% endif %}

            {% if log.categories|length > 0 %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Категория</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ log.categories | join(', ') }}
                    </p>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% if log.workplace %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Юр.лицо</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.workplace.legalEntity }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Филиал</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.workplace.filial }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Рабочее место</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.workplace }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.operator %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Оператор</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ log.operator }}</p>
                </div>
            </div>
        {% endif %}

        {% if log.workplace %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Лицензия</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ log.workplace.legalEntity.license }}</p>
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-3 control-label">Серия бланка</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if log.blank.serie is defined %}
                        {{ log.blank.serie }}
                    {% else %}
                        -
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Номер бланка</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if log.blank.number is defined %}
                        {{ log.blank.number }}
                    {% else %}
                        -
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Дубликат</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if log.parent and log.parent.blank is defined and log.parent.blank.number is defined %}
                        {{ log.parent.blank.serie ? log.parent.blank.serie : '-' }} {{ log.parent.blank.number }}
                    {% else %}
                        -
                    {% endif %}
                </p>
            </div>
        </div>

        {% if log.medicalCenterCorrects is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Возврат бланка с опечатками</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {% if log.medicalCenterCorrects|length > 0 %}
                            {{ log.medicalCenterCorrects.0.blank.serie }}
                            {{ log.medicalCenterCorrects.0.blank.number }}
                        {% else %}
                            -
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endif %}

        {% if log.params.num_in_journal is defined and log.params.num_in_journal %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Номер в журнале</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ log.params.num_in_journal }}</p>
                </div>
            </div>
        {% endif %}

        {% if log.cashbox %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Касса</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ log.cashbox }}</p>
                </div>
            </div>
        {% endif %}

        {% if log.params.num_check is defined and log.params.num_check %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Номер чека</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.num_check }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.num_shift is defined and log.params.num_shift %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Номер смены</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.num_shift }}</p>
            </div>
        </div>
        {% endif %}

        {% if log.params.comment is defined and log.params.comment %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Комментарий</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.params.comment }}</p>
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-3 control-label">Дата оказания услуги</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ log.createdAt|localizeddate('long', 'none') }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Дата выдачи справки</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if log.parent and log.parent.dateGiving is not empty %}
                        {{ log.parent.dateGiving|localizeddate('long', 'none') }}
                    {% elseif log.dateGiving is not empty %}
                        {{ log.dateGiving|localizeddate('long', 'none') }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Дата окончания справки</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ log.endTime|localizeddate('long', 'none')  }}</p>
            </div>
        </div>

        {% if log.getEegConclusion() %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Заключение ЭЭГ</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ log.getEegConclusion()|raw }}
                    </p>
                </div>
            </div>
        {% endif %}

        {% if log.docs|length %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Документы</label>
            <div class="col-sm-9">
                {% for doc in log.docs %}
                    <a target="_blank" href="{{ doc.webPath }}"><img src="{{ doc.webPath|imagine_filter('image_small') }}" class="img-thumbnail"></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <hr>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <a href="{{ path('archivarius_pdf_blank', { id: log.id }) }}" class="btn btn-default"><i class="fa fa-file-pdf-o"></i> PDF</a>
                {% if app.request.get('_route') == 'archivarius_fio_view' %}
                    <a href="{{ path('archivarius_fio') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> К поиску</a>
                {% endif %}
                {% if app.request.get('_route') == 'archivarius_date_view' %}
                    <a href="{{ path('archivarius_date') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> К поиску</a>
                {% endif %}
                {% if app.request.get('_route') == 'archivarius_legal_view' %}
                    <a href="{{ path('archivarius_legal') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> К поиску</a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock content %}
