{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('treasurer_orders_add') }}">Создать ордер</a>
        <h1>Ордера</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col">Дата и время создания</th>
                <th class="min_col">Статус</th>
                <th class="min_col">Пин-код</th>
                <th>Назначение</th>
                <th>Расписчик</th>
                <th class="min_col text-right">Сумма (руб.)</th>
                <th class="min_col text-right"></th>
            </tr>
            </thead>
            <tbody>
            {% for order in pagerfanta.currentPageResults %}
                <tr>
                    <td class="min_col">{{ order.getCreatedAt().date|date('Y-m-d H:i') }}</td>
                    <td class="min_col">{{ order.operator ? 'Обналичен' : 'Новый' }}</td>
                    <td class="min_col">{{ order.pin }}</td>
                    <td>{{ order.appointment }}</td>
                    <td>{{ order.acquittanceman }}</td>
                    <td class="min_col text-right">{{ order.sum|number_format }}</td>
                    <td><a class="text-danger" href="{{ path('treasurer_orders_delete', { id: order.id }) }}"
                            {% if order.status == 'createdByTreasurer' %}
                                onclick="return confirm('Вы действительно хотите удалить ордер №{{ order.id }} для {{ order.acquittanceman }} на сумму {{ order.sum|number_format }} рублей?')"
                           ><i class="fa fa-times"></i>
                            {% else %}
                                >
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
