{% extends 'AppBundle::layout.html.twig' %}
{% if filter_form %}
    {% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}
{% endif %}

{% block content %}
    <div class="page-header">
        <h1>Архивная коробка</h1>
    </div>

    {% if filter_form %}
        <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
        <div id="filter">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-filter"></i>
                        <span>Отфильтровать</span>
                    </button>
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
        <br>
    {% endif %}

    {% if blanks|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">№</th>
                <th class="min_col text-left">ID бланка</th>
                <th class="min_col text-left">Код юрлица</th>
                <th class="min_col text-left">Тип бланка</th>
                <th class="min_col text-left"></th>
                <th class="min_col text-right">Серия</th>
                <th class="min_col text-right">№ бланка</th>
                <th class="min_col text-left">Виновник</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>

            {% set n = 0 %}
            {% for blank in blanks  %}
                <tr>
                    <td class="min_col text-left">{% set n = n + 1 %}{{ n }}</td>
                    <td class="min_col text-left">{{ blank.id }}</td>
                    <td class="min_col text-left">{{ blank.legalEntityShortName }}</td>
                    <td class="min_col text-left">{{ blank.referenceType }}</td>
                    <td class="min_col text-left">
                        {% if blank.stamp %}
                            <i title='С печатью испорченный' class="fa fa-bullseye text-danger"></i>
                        {% elseif blank.replacedByBlankWithStamp %}
                            <i title='Без печати использованный' class="fa fa-bullseye text-info"></i>
                        {% endif %}
                    </td>

                    <td class="min_col text-right">{{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                    <td class="min_col text-left">
                        {% if blank.referencemanArchiveBox.operator is defined %}
                            {{ blank.operator }}
                        {% else %}
                            {{ blank.referencemanArchivebox.referenceman }}
                        {% endif %}
                    </td>
                    <td class="min_col">
                        <a title='Читать примечание' href='{{ path('referenceman_blanks__arhival_box__view_desc', { id: blank.id }) }}'><i class="fa fa-commenting-o"></i></a>&nbsp;
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="9" class="text-right"><b>Итого: {{ blanks|length }}</b></td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks__arhival_boxes') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script>
        $(function() {
            {% if app.request.queryString == '' %}
            $('#filter').hide();
            {% endif %}

            var filter_class = function() {
                $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
                    return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
                });
            };
            filter_class();

            $('#filter_link').click(function(e) {
                e.preventDefault();
                $('#filter').toggle();
                filter_class();
            });
        });
    </script>
{% endblock js %}
