{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Архивные коробки</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">№ коробки</th>
                <th class="text-left">Дата открытия</th>
                <th class="text-left">Дата закрытия</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>

            {% for box in pagerfanta.currentPageResults  %}
                <tr>
                    <td class="min_col text-left">{{ box.id }}</td>
                    <td class="min_col text-left">{{ box.createdAt|date('d.m.Y H:i') }}</td>
                    <td class="min_col text-left">{% if box.closedAt is not empty %}{{ box.closedAt|date('d.m.Y H:i') }}{% else %}-{% endif %}</td>
                    <td class="min_col">
                        <a href="{{ path('referenceman_blanks__arhival_box',{ id : box.id }) }}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-right"><b>Итого: {{ pagerfanta.currentPageResults|length  }}</b></td>
            </tr>
            </tfoot>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
