{% extends 'AppBundle::layout.html.twig' %}
{% if filter_form %}
    {% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}
{% endif %}

{% block content %}
    <div class="page-header">
        <h1>Использованные бланки без печати</h1>
    </div>

    {% if filter_form %}
        <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
        <div id="filter">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-filter"></i>
                        <span>Отфильтровать</span>
                    </button>
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
        <br>
    {% endif %}

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Код юрлица</th>
                <th>Оператор</th>
                <th>Тип бланка</th>
                <th class="min_col text-right">Серия</th>
                <th class="min_col text-right">Номер</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            {% for blank in pagerfanta.currentPageResults  %}
                <tr>
                    <td>{{ blank.legalEntity.shortName }}</td>
                    <td>{{ blank.operator }}</td>
                    <td>{{ blank.referenceType }}</td>
                    <td class="min_col text-right"> {{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.number }} </td>
                    <td class="min_col">
                        <a title='Принять и сложить в архивную коробку' href='{{ path('referenceman_blanks__blanks_with_no_stamps__get', { id: blank.id }) }}'><i class="fa fa-hand-rock-o fa-fw"></i></a>&nbsp;
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        $(function() {
            {% if app.request.queryString == '' %}
            $('#filter').hide();
            {% endif %}

            var filter_class = function() {
                $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
                    return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
                });
            };
            filter_class();

            $('#filter_link').click(function(e) {
                e.preventDefault();
                $('#filter').toggle();
                filter_class();
            });
        });
    </script>
{% endblock js %}
