{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Бланки утерянные оператором</h1>
    </div>

    {% if blanks|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ф.И.О.</th>
                    <th>Код. юрлица</th>
                    <th class="min_col text-left">Тип бланка</th>
                    <th class="min_col text-left">Серия</th>
                    <th class="min_col text-right">Номер</th>
                    <th class="min_col text-left"></th>
                </tr>
            </thead>
            <tbody>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.operator }}</td>
                    <td>{{ blank.legalEntity.shortName }}</td>
                    <td class="min_col text-left">{{ blank.referenceType }}</td>
                    <td class="min_col text-left">{{ blank.serie ? blank.serie : '-' }}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                    <td class="min_col text-left">
                        <a title='Вернуть оператору' href="{{ path('referenceman_blanks_lost_undo',{ id: blank.id }) }}"><i class="fa fa-undo text-success"></i></a>
                        <a title='Подтвердить утерю бланка' href="{{ path('referenceman_blanks_lost_check',{ id: blank.id }) }}"><i class="fa fa-check text-danger"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
