{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('showNewBlankPackagesByReferenceman') }}">
            <i class="fa fa-list"></i>
            Получить бланки
        </a>
        <h1>Полученные бланки</h1>
    </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Тип справки</th>
                <th>Серия</th>
                <th>Номер</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.getReferenceType() }}</td>
                    <td>{{ blank.series }}</td>
                    <td>{{ blank.getNumBlank() }}</td>
                    <td>
                        <a href="{{ path('cancelBlankByReferenceman',
                                        { id : blank.id }) }}">
                            <i class="fa fa-undo fa-fw" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock content %}
