{% extends '@AdminSkeleton/_list.html.twig' %}

{% set entity_name_s = 'referenceman' %}

{% block title 'Бланки испорченные оператором' %}

{% block add_button '' %}

{% block links %}
    <a title='Просмотр бланков' href="{{ path('referenceman_blanks_view_operator_cancelled',{ id : entity[0].id }) }}">
        <i class="fa fa-eye"></i>
    </a>
{% endblock links %}

{% block td %}
    {% if field[0] is defined and field[0] == 'amount'%}
        {{ entity['amount'] }}
    {% else %}
        {% set method = (field is iterable ? field|first : field)|title|replace({'_': ''}) %}
        {{ attribute(entity[0], method) }}
    {% endif %}
{% endblock td %}
