{% extends '@AdminSkeleton/_list.html.twig' %}

{% set entity_name_s = 'referenceman' %}

{% block title 'Ненайденные бланки' %}

{% block add_button %}
    <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_add_referenceman_cancelled') }}">
        <i class="fa fa-plus"></i>
        Добавить ненайденный бланк
    </a>
{% endblock %}

{% block links %}
    <a title='Вернуть бланк' href="{{ path('referenceman_blanks_undo_referenceman_cancelled',{ id : entity.id }) }}">
        <i class="fa fa-undo"></i>
    </a>
{% endblock links %}
