{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Добавить ненайденный бланк</h1>

        {% if info is not empty %}
        <hr>
        <dl class="dl-horizontal">
            <dt>Код юрлица:</dt><dd>{{ info['legalEntity'] }}</dd>
            <dt>Тип бланков:</dt><dd>{{ info['referenceType'] }}</dd>
            <dt>Серия:</dt><dd>{{ info['serie'] }}</dd>
            <dt>Всего:</dt><dd>{{ info['amount'] }}</dd>
        </dl>
        {% endif %}

    {% if info['intervals'] is defined %}
            <a href='#' id='toggle_interval'>Список интервалов</a>
            <table class='table table-responsive' id='intervals' style="display: none">
                <th>Интервал</th>
                <th class="min_col text-right">Количество</th>
                {% for interval in info['intervals'] %}
                    <tr>
                        <td>
                            {{ interval['interval'] }}
                        </td>
                        <td  class="min_col text-right" >
                            {{ interval['amount'] }}
                        </td>
                    </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <td class="min_col text-right" colspan="2">Всего: {{ info['amount'] }}</td>
                </tr>
                </tfoot>
            </table>
            <br>
    {% endif %}

    </div>
    {{ form(form) }}
{% endblock content %}

{% block js %}
<script>
    $(function() {
        var reference_types = {{ reference_types|json_encode|raw }};
        var form_reference_type = $('#form_reference_type');
        var form_serie = $('#form_serie');
        var form_serie_form_group = form_serie.closest('.form-group');

        function onChangeReferenceType(e) {
            if (form_reference_type.val() == '' ||  reference_types[form_reference_type.val()].is_serie == false) {
                form_serie_form_group.hide();
                form_serie.removeAttr('required');
            } else if (reference_types[form_reference_type.val()].is_serie == true) {
                form_serie_form_group.show();
                form_serie.attr('required', 'required');
            }
        }
        form_reference_type.on('change', onChangeReferenceType);
        onChangeReferenceType();

        $('#toggle_interval').on('click', function toggle_interval() {
            $('#intervals').toggle();
        })
    });
</script>
{% endblock js %}
