{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_transfer_blanks_to_stockman_or_referenceman') }}">
            <i class="fa fa-plus"></i>
            Добавить бланки
        </a>
        <h1>Возврат бланков</h1>
    </div>

    {% if envelopes|length %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="min_col text-right">№ пакета</th>
            <th class="min_col text-left">Код юрлица</th>
            <th class="min_col text-left">Тип бланка</th>
            <th class="min_col text-left"></th>
            <th class="min_col text-right">Серия</th>
            <th>Номер</th>
            <th class="min_col text-right">Количество</th>
            <th class="min_col text-left">Пользователь</th>
            <th class="text-left"></th>
            <th class="text-right"></th>
        </tr>
        </thead>
        <tbody>

        {% for envelope in envelopes %}
                <tr>
                    <td class="min_col text-right">{{ envelope.id }}</td>
                    <td class="text-left">{{ envelope.legalEntity.shortName }}</td>
                    <td class="min_col text-left">{{ envelope.referenceType }}</td>
                    <td class="min_col text-left">
                        {% if envelope.blanks[0].stamp  %}
                            <i title='Бланки с печатью' class="fa fa-circle text-info"></i>
                        {% else %}
                            <i title='Бланки без печати' class="fa fa-circle text-success"></i>
                        {% endif %}
                    </td>
                    <td class="min_col text-right">{{ envelope.serie }}</td>
                    <td>
                        {% if envelope.intervals[envelope.legalEntity.id][envelope.referenceType.id][envelope.serie] is defined %}
                            {% for leadingZero, intervals in envelope.intervals[envelope.legalEntity.id][envelope.referenceType.id][envelope.serie] %}
                                {% set format = '%0'~leadingZero~'d' %}
                            {% for interval in intervals %}
                                    {{ format|format(interval[0]) }}
                            {% endfor %}
                            {% endfor %}
                        {% endif %}

                        {% if envelope.intervals[envelope.legalEntity.id][envelope.referenceType.id]['-'] is defined %}
                            {% for leadingZero, intervals in envelope.intervals[envelope.legalEntity.id][envelope.referenceType.id]['-'] %}
                                {% set format = '%0'~leadingZero~'d' %}
                            {% for interval in intervals %}
                                    {{ format|format(interval[0]) }}
                            {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="min_col text-right">{{ envelope.blanks|length }}</td>
                    <td class="min_col text-left">
                        {% if envelope.stockmanApplied() is defined and envelope.stockman is defined %}
                            Кладовщик
                        {% endif %}
                        {% if envelope.referencemanApplied() is defined and envelope.referenceman is defined %}
                            Справковед
                        {% endif %}
                    </td>
                    <td class="text-left">
                            {% if envelope.stockmanApplied() is defined and envelope.stockman is defined %}
                                    <td>{{ envelope.stockman }}</td>
                                {% set user_type = 'stockman' %}
                            {% endif %}

                            {% if envelope.referencemanApplied() is defined and envelope.referenceman is defined %}

                                    <td>{{ envelope.referenceman }}</td>
                                {% set user_type = 'referenceman' %}
                            {% endif %}
                    </td>
                    <td class="text-right">
                        <a title='Просмотр интервалов' href="{{ path('envelope_of_transfered_blanks_to_stockman_or_referenceman__intervals',
                        { envelopeId : envelope.id, userType : user_type }) }}">
                            <i class="fa fa-list"></i>
                        </a>
                        <a title='Просмотреть список' href="{{ path('envelope_of_transfered_blanks_to_stockman_or_referenceman__list',
                        { envelopeId : envelope.id, userType : user_type }) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a title='Расформировать пакет' href="{{ path('delete_envelope_of_transfered_blanks_to_stockman_or_referenceman',
                        { envelopeId : envelope.id, userType : user_type }) }}">
                            <i class="text-danger fa fa-times" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        Нет данных
    {% endif %}

{% endblock content %}
