{% extends '@AdminSkeleton/_list.html.twig' %}

{% set entity_name_s = 'referenceman' %}

{% block title 'Пакеты от справковеда' %}

{% block add_button '' %}

{% block row_value %}
    {% if method == 'Amount'  %}
        {{ entity.blanks|length }}
    {% else %}
        {{ value }}
    {% endif %}
{% endblock row_value %}

{% block links %}
    <a title='Просмотр конверта' href="{{ path('referenceman_blanks_view_referenceman_referenceman_envelope',{ id : entity.id }) }}"><i class="fa fa-eye text-success"></i></a>
    <a title='Просмотреть интервалы бланков' href="{{ path('referenceman_blanks_view_intervals_referenceman_referenceman_envelope',{ id : entity.id }) }}"><i class="fa fa-list"></i></a>
    <a title='Принять конверт' href="{{ path('referenceman_blanks_get_referenceman_envelope',{ id : entity.id }) }}"><i class="fa fa-hand-rock-o"></i></a>
{% endblock links %}
