{% extends '@AdminSkeleton/_list.html.twig' %}

{% set entity_name_s = 'referenceman' %}

{% block title 'Получено от оператора' %}

{% block add_button '' %}

{% block row_value %}
    {% if method == 'Amount'  %}
        {{ entity.amount }}
    {% else %}
        {{ value }}
    {% endif %}
{% endblock row_value %}

{% block links %}
    <a title="Посмотреть бланки" href="{{ path('referenceman_blanks_view_operator_referenceman_envelope',{ id : entity.id }) }}"><i class="fa fa-eye text-success"></i></a>
    <a title="Принять все бланки" href="{{ path('referenceman_blanks_get_operator_referenceman_envelope',{ id : entity.id }) }}"><i class="fa fa-hand-rock-o"></i></a>
{% endblock links %}
