{% extends '@AdminSkeleton/_list.html.twig' %}

{% set entity_name_s = 'referenceman' %}

{% block title 'Пакеты от кладовщика' %}

{% block add_button '' %}

{% block row_value %}
    {% if method == 'FirstNum'  %}
        {% set format = '%0'~entity.leadingZeros~'d' %}
        {{ format|format(entity.firstNum) }}
    {% else %}
        {{ value }}
    {% endif %}
{% endblock row_value %}

{% block links %}
    <a title='Просмотр пакета' href="{{ path('referenceman_blanks__stockman_envelope__view',{ id : entity.id }) }}"><i class="fa fa-eye text-success"></i></a>
    <a title='Просмотр интервалов' href="{{ path('referenceman_blanks__stockman_envelope__view_intervals',{ id : entity.id }) }}"><i class="fa fa-list"></i></a>
    <a title='Принять пакет' href="{{ path('referenceman_blanks_get_stockman_envelope',{ id : entity.id }) }}"><i class="fa fa-hand-rock-o"></i></a>
{% endblock links %}
