{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Список бланков</h1>
    </div>

    {% if envelope.blanks|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">Код юрлица</th>
                <th class="min_col text-left">Тип справки</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Номер</th>
            </tr>
            </thead>
            <tbody>

            {% for blank in envelope.blanks %}
                <tr>
                    <td class="min_col text-left">{{ blank.legalEntityShortName }}</td>
                    <td class="min_col text-left">{{ blank.referenceType }}</td>
                    <td class="min_col text-left">{% if blank.serie is not empty %}{{ blank.serie }}{% else %}-{% endif %}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-right"><b>Итого: {{ envelope.blanks|length  }}</b></td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_envelopes_of_transfered_blanks_to_stockman_or_referenceman') }}"><i class="fa fa-arrow-left"></i> Вернуться к списку</a>
        </div>
    </div>
{% endblock content %}
