{% extends '@AdminSkeleton/_list.html.twig' %}

{% set entity_name_s = 'referenceman' %}
{% block add_button %}
{% endblock %}
{% block title 'Конверты для оператора' %}

{% block td %}
    {% set method = (field is iterable ? field|first : field)|title|replace({'_': ''}) %}
    {% set value = attribute(entity, method) %}

    {% if value is instanceof('DateTime') %}
        {{ value|localizeddate('medium', value|date('H:i:s') == '00:00:00' ? 'none' : 'short') }}
    {% else %}
        {% set sum = 0 %}
        {% if field[0] is defined and field[0]=='operator' and value is empty %}
            <a title='Назначить оператора для этого конверта' href="{{ path('referenceman_blanks_send_operator_envelope',{ id : entity.id }) }}">
                Назначить
            </a>
        {% elseif field[0] is defined and field[0] == 'stamp' %}
            {% if value %}
                <i title='Бланки с печатью' class="fa fa-circle text-info"></i>
            {% else %}
                <i title='Бланки без печати' class="fa fa-circle text-success"></i>
            {% endif %}

        {% elseif field[0] is defined and field[0] == 'countIntervals' %}
            {{ value }}
        {% else %}
            {% block row_value value %}
        {% endif %}
    {% endif %}
{% endblock td %}

{% block links %}
    <a title='Посмотреть содержимое конверта' href="{{ path('referenceman_blanks_view_operator_envelope',{ id : entity.id }) }}"><i class="fa fa-eye text-success"></i></a>
    <a title='Посмотреть содержимое конверта' href="{{ path('referenceman_blanks_view_intervals_operator_envelope',{ id : entity.id }) }}"><i class="fa fa-list"></i></a>
    {% if entity.operator is null %}
        <a title='Назначить оператора для этого конверта' href="{{ path('referenceman_blanks_send_operator_envelope',{ id : entity.id }) }}"><i class="fa fa-user-plus"></i></a>
        <a title='Расформировать конверт'  href="{{ path('referenceman_blanks_operator_envelope_remove_envelope',{ id : entity.id }) }}"><i class="fa fa-times text-danger"></i></a>
    {% else %}
        <a title='Снять оператора с этого конверта' href="{{ path('referenceman_blanks_operator_envelope_remove_operator',{ id : entity.id }) }}"><i class="fa fa-user-times text-danger"></i></a>
        <i class="fa fa-times" style="color: gainsboro"></i>
    {% endif %}
{% endblock links %}
