{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Передать бланки</h1>
    </div>
    {{ form(form) }}
{% endblock content %}
