{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}
{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('showBlankLogsByStockman') }}">
            <i class="fa fa-list"></i>
            Список
        </a>
        <h1>Сформировать конверт</h1>
    </div>
    {{ form(form) }}

    {% if blanks %}
        <form name="blanks" method="post">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Тип бланка</th>
            <th>Серия</th>
            <th>Номер</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for blank in blanks %}
            <tr>
                <td>{{ blank.referenceType }}</td>
                <td>{{ blank.series }}</td>
                <td>{{ blank.getNumBlank() }}</td>
                <td class="min_col">{{ form_widget(form.blanks[loop.index0]) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <input type="submit">
        </form>
{% endif %}
{% endblock content %}
