{% extends 'AppBundle::layout.html.twig' %}
{% if filter_form %}
    {% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}
{% endif %}

{% block content %}
    <div class="page-header">
        <h1>Бланки не в конвертах</h1>
    </div>

    {% if filter_form %}
        <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
        <div id="filter">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-filter"></i>
                        <span>Отфильтровать</span>
                    </button>
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
        <br>
    {% endif %}

    {% if referenceman_invervals|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">Код юрлицо</th>
                <th class="min_col text-left">Тип бланков</th>
                <th class="min_col text-right">Серия</th>
                <th class="min_col text-right">Кол-во интервалов</th>
                <th class="min_col text-right">Количество</th>
                <th class="min_col text-right"></th>
            </tr>
            </thead>
            <tbody>
                {% for legal_entity, reference_types__series in referenceman_invervals %}
                    {% for reference_type, series in reference_types__series %}
                        {% for serie, leadingZeros in series %}
                            {% for leadingZero, intervals in leadingZeros %}
                            {% if intervals|length %}
                                <tr>
                                    <td class="min_col text-left">{{ legal_entities[legal_entity].shortName }}</td>
                                    <td class="min_col text-left">{{ reference_types[reference_type].name }}</td>
                                    <td class="min_col text-right">{% if serie is defined %}{{ serie }}{% endif %}</td>
                                    <td class="min_col text-right">
                                        {% set amount = 0 %}
                                        {% set interval_amount = 0 %}
                                        {% for interval in intervals %}
                                            {% set interval_amount = interval_amount + 1 %}
                                            {% set amount = amount + (interval[1]-interval[0]+1)  %}
                                        {% endfor %}
                                        {{ interval_amount }}
                                    </td>
                                    <td class="min_col text-right">
                                        {% if amount is defined %}
                                            {{ amount }}
                                        {% endif %}
                                    </td>
                                    <td class="min_col text-right">
                                        <a title='Возврат бланков' href='{{ path('referenceman_blanks_transfer_blanks_to_stockman_or_referenceman', { lEntityId: legal_entity, refTypeId: reference_type, amount: amount, serieIn: serie }) }}'><i class="fa fa-undo"></i></a>
                                        <a title='Ненайденные бланки' href='{{ path('referenceman_blanks_add_referenceman_cancelled', { lEntityId: legal_entity, refTypeId: reference_type, amount: amount, serieIn: serie }) }}'><i class="fa fa-bug text-danger"></i></a>

                                        {% if serie is defined and serie is not empty %}
                                            <a title='Сформировать конверт' href="{{ path('referenceman_blanks_add_operator_envelope_reference_type_serie',{ legalEntity: legal_entity, referenceType: reference_type, serie: serie }) }}"><i class="fa fa-envelope-o"></i></a>
                                            <a title='Просмотреть список' href="{{ path('referenceman_blanks_not_in_operator_envelopes__view_list',{ lEntityId: legal_entity, refTypeId: reference_type, serie: serie }) }}"><i class="fa fa-eye text-success"></i></a>
                                            <a title='Просмотреть интервалы' href="{{ path('referenceman_blanks_not_in_operator_envelopes__view_serie',{ lEntityId: legal_entity, refTypeId: reference_type, serie: serie }) }}"><i class="fa fa-list"></i></a>
                                        {% else %}
                                            <a title='Сформировать конверт' href="{{ path('referenceman_blanks_add_operator_envelope_reference_type',{ legalEntity: legal_entity, referenceType: reference_type }) }}"><i class="fa fa-envelope-o"></i></a>
                                            <a title='Просмотреть список' href="{{ path('referenceman_blanks_not_in_operator_envelopes__view_list',{ lEntityId: legal_entity, refTypeId: reference_type, serie: serie }) }}"><i class="fa fa-eye text-success"></i></a>
                                            <a title='Просмотреть интервалы' href="{{ path('referenceman_blanks_not_in_operator_envelopes__view',{ lEntityId: legal_entity, refTypeId: reference_type }) }}"><i class="fa fa-list"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                            {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        $(function() {
            {% if app.request.queryString == '' %}
            $('#filter').hide();
            {% endif %}

            var filter_class = function() {
                $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
                    return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
                });
            };
            filter_class();

            $('#filter_link').click(function(e) {
                e.preventDefault();
                $('#filter').toggle();
                filter_class();
            });
        });
    </script>
{% endblock js %}
