{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Список бланков</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">Код юрлица</th>
                <th class="min_col text-left">Тип справки</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Номер</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>

            {% for blank in pagerfanta.currentPageResults  %}
                <tr>
                    <td class="min_col text-left">{{ blank.legalEntityShortName }}</td>
                    <td class="min_col text-left">{{ blank.referenceType }}</td>
                    <td class="min_col text-left">{% if blank.serie is not empty %}{{ blank.serie }}{% else %}-{% endif %}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                    <td class="min_col text-right">
                        <a title='Возврат бланка' href='{{ path('referenceman_blanks_transfer_blanks_to_stockman_or_referenceman__blank_id', { blankId: blank.id }) }}'><i class="fa fa-undo"></i></a>
                        <a title='Ненайденный бланк' href='{{ path('referenceman_blanks_add_referenceman_cancelled', { lEntityId: blank.legalEntity.id, refTypeId: blank.referenceType.id, serieIn: blank.serie, number: blank.number }) }}'><i class="fa fa-bug text-danger"></i></a>
                        <a title='Испорченный бланк' href='{{ path('referenceman_blanks__referenceman_referenceman_broken__add', { lEntityId: blank.legalEntity.id, refTypeId: blank.referenceType.id, serieIn: blank.serie, number: blank.number }) }}'><i class="fa fa-times text-danger"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-right"><b>Итого: {{ pagerfanta.currentPageResults|length  }}</b></td>
            </tr>
            </tfoot>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_not_in_operator_envelopes') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
        </div>
    </div>
{% endblock content %}
