{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Испорченные бланки Оператора</h1>
    </div>
    <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Оператор
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ blank.operator }}
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Код юрлица
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ blank.legalEntity.shortName }}
                    </p>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Тип справки
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ blank.referenceType }}
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Испорчен
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ blank.serie }} {{ blank.number }}
                    </p>
                </div>
            </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                Заменён на
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if blank.serviceLog.medicalCenterCorrects is defined and blank.serviceLog.medicalCenterCorrects|length > 0 %}
                        {{ blank.serviceLog.medicalCenterCorrects.0.blank.serie }}
                        {{ blank.serviceLog.medicalCenterCorrects.0.blank.number }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                Примечание
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ blank.descCancelled }}
                </p>
            </div>
        </div>

        <div class="form-group"><div class="col-sm-offset-3 col-sm-9"><br></div></div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_view_operator_cancelled', {'id': blank.operator.id}) }}"> <i class="fa fa-arrow-left"></i> Назад</a>
            </div>
        </div>
    </form>
{% endblock content %}
