{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Коробка</h1>
        {{ text|raw }}
    </div>

    <form method="post">
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {% if box is empty %}
                <button name='action' value='create' type="submit" class="btn btn-success">Создать</button>
            {% else %}
                <button name='action' value='forward' type="submit" class="btn btn-success">Продолжить</button>
                <button name='action' value='close' type="submit" class="btn btn-danger">Закрыть коробку</button>
            {% endif %}
        </div>
    </div>
    </form>

{% endblock content %}
