{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Коробка</h1>
    </div>

    {% if oldBox %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Закрыта коробка №
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ oldBox.id }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                От
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ box.createdAt|localizeddate('long', 'short') }}
                </p>
            </div>
        </div>
    {% endif %}

    {% if action in ['create', 'close'] %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Создана коробка №
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ box.id }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                От
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ box.createdAt|localizeddate('long', 'short') }}
                </p>
            </div>
        </div>
    {% endif %}

    {% for blank in blanks %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Помещён бланк
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ blank.referenceType }} {{ blank.serie }} №{{ blank.number }}
                </p>
            </div>
        </div>
    {% endfor %}

    <div class="form-group">
        <label class="col-sm-3 control-label">
            От оператора
        </label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ box.operator }}
            </p>
        </div>
    </div>

    <div class="form-group"><div class="col-sm-offset-3 col-sm-9"><br></div></div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default" href="{{ path('referenceman_blanks_operator_cancelled') }}">Продолжить</a>
        </div>
    </div>
{% endblock content %}
