{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('showBlanksByReferenceman') }}">
            <i class="fa fa-list"></i>
            Бланки
        </a>
        <h1>Получить бланки</h1>
    </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Тип справки</th>
                <th>Серия</th>
                <th>Первый номер</th>
                <th>Количество</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.reference_type }}</td>
                    <td>{{ blank.series }}</td>
                    <td>{{ blank.num_blank }}</td>
                    <td>{{ blank.cnt }}</td>
                    <td>
                        <a href="{{ path('getBlanksByReferencemanFromStockman',
                                        { series : blank.series, reference_type : blank.reference_type }) }}">
                            <i class="fa fa-hand-rock-o fa-fw" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


{% endblock content %}
