{% extends 'AppBundle::layout.html.twig' %}


{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks__referenceman_referenceman_broken__add') }}"><i class="fa fa-plus"></i> Добавить испорченный бланк</a>
        <h1>Испорченные собственные бланки</h1>
    </div>

    {% if blanks|length > 0 %}
        {{ form_start(form) }}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Код юрлица</th>
                <th>Тип справки</th>
                <th class="min_col text-right">Номер</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.legalEntity.shortName }}</td>
                    <td>{{ blank.referenceType }}</td>
                    <td class="min_col text-right">{{ blank.serie }} {{ blank.number }}</td>
                    <td class="min_col">{{ form_widget(form.blanks[loop.index0]) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock content %}
