{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Выбор активной коробки</h1>
    </div>
<form class="form-horizontal">
    {% if oldBox %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Закрыта коробка №
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ oldBox.id }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                От
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ box.createdAt|localizeddate('long', 'short') }}
                </p>
            </div>
        </div>
        <br>
    {% endif %}

    {% if action in ['create', 'close'] %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Создана коробка №
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ box.id }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                От
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{ box.createdAt|localizeddate('long', 'short') }}
                </p>
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-3 control-label">
            Код юрлица
        </label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ box.legalEntity.shortName }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            Тип бланка
        </label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ box.referenceType }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            Помещен бланки
        </label>
        <div class="col-sm-9">
            <table class="table table-condensed">
                <th>Тип бланка</th>
                <th>Серия</th>
                <th>Номер</th>
                {% for blank in blanks %}
                    <tr>
                        <td>
                            {{ blank.referenceType }}
                        </td>
                        <td>
                            {{ blank.serie }}
                        </td>
                        <td>
                            {{ blank.number }}
                        </td>
                    </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <div class="form-group"><div class="col-sm-offset-3 col-sm-9"><br></div></div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default" href="{{ path('referenceman_blanks__referenceman_referenceman_broken__list') }}">Продолжить</a>
        </div>
    </div>
</form>
{% endblock content %}
