{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Передать конверт оператору</h1>
        <dl class="dl-horizontal">
            <dt>Конверт №:</dt>
            <dd>{{ envelope.id }}</dd>

            <dt>Код юрлица:</dt>
            <dd>{{ envelope.legalEntity.shortName }}</dd>

            <dt>Тип бланка:</dt>
            <dd>{{ envelope.referenceType }}</dd>

            <dt>Серия:</dt>
            <dd>{{ envelope.serie }}</dd>

            <dt>Всего:</dt>
            <dd>{{ envelope.blanks|length }}</dd>
        </dl>
    </div>


    {{ form_start(form) }}
    {{ form_row(form.operator) }}


    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button name='save' type="submit" class="btn btn-success">Передать</button>
            <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_operator_envelopes') }}">
                <i class="fa fa-arrow-left"></i> Вернуться к списку
            </a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock content %}
