{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Добавление бланков для возврата</h1>

        {% if info is not empty %}
            <hr>
            <dl class="dl-horizontal">
                <dt>Код юрлица:</dt><dd>{{ info['legalEntityShortName'] }}</dd>
                <dt>Тип бланка:</dt><dd>{{ info['referenceType'] }}</dd>
                <dt>Серия:</dt><dd>{{ info['serie'] }}</dd>
                <dt>Всего:</dt><dd>{{ info['amount'] }}</dd>
            </dl>
        {% endif %}
    </div>

    {% if info['interval'] is defined and info['amount'] is defined %}
    <a href='#' id='toggle_interval'>Список интервалов</a>
        <table class='table table-responsive' id='intervals' style="display: none">
            <th>Интервал</th>
            <th class="min_col text-right">Количество</th>
            {% for interval in info['intervals'] %}
                <tr>
                    <td>
                        {{ interval['interval'] }}
                    </td>
                    <td  class="min_col text-right" >
                        {{ interval['amount'] }}
                    </td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td class="min_col text-right" colspan="2">Всего: {{ info['amount'] }}</td>
            </tr>
            </tfoot>
        </table>
    <br>
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.legal_entity) }}
    {{ form_row(form.reference_type) }}
    {{ form_row(form.serie) }}
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <span class="grey">Максимальное число бланков 1000 шт.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Найти</button>
            <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_envelopes_of_transfered_blanks_to_stockman_or_referenceman') }}"><i class="fa fa-arrow-left"></i> Вернуться к списку</a>
        </div>
    </div>

    {{ form_end(form) }}

    {% if blanks|length > 0 %}
        {{ form_start(form2) }}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Код юрлица</th>
                <th>Тип справки</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Номер</th>
                <th class="min_col">
                    <input type="checkbox" name="checkAll" id="checkAllCheckbox" onclick="$('input[id^=\'form2_blanks\']' ).prop('checked', this.checked)">
                </th>
            </tr>
            </thead>
            <tbody>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.legalEntity.shortName }}</td>
                    <td>{{ blank.referenceType }}</td>
                    <td class="min_col text-left">{{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                    <td class="min_col">{{ form_widget(form2.blanks[loop.index0]) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-right"><b>Всего: {{ blanks|length }}</b></td>
            </tr>
            </tfoot>
        </table>
        {{ form_rest(form2) }}
        {{ form_end(form2) }}
    {% elseif app.request.queryString != '' %}
        <hr>Ничего не найдено
    {% endif %}

{% endblock content %}

{% block js %}
<script>
$(function() {
    var reference_type_series = {{ reference_type_series|json_encode|raw }};
    var reference_types = {{ reference_types|json_encode|raw }};
    var form_reference_type = $('#reference_type');
    var form_legal_entity = $('#legal_entity');
    var form_serie = $('#serie');
    var form_serie_span = form_serie.closest('.form-group');
    var serie_selected = {{ serieSelected}};

    console.log(serie_selected);

    var reference_type_selected_id = {{ refTypeSelectedId }};
    form_reference_type.val(reference_type_selected_id);

    var legal_entity_selected_id = {{ lEntitySelectedId }};
    form_legal_entity.val(legal_entity_selected_id);

    function changeSeries(e) {
        if (form_reference_type.val() =='' ||  reference_types[form_reference_type.val()].is_serie == false) {
            form_serie_span.hide();
            form_serie.removeAttr('required');
        } else if (reference_types[form_reference_type.val()].is_serie == true) {
            form_serie_span.show();
            form_serie.attr('required', 'required');
        };

        form_serie.val('');
        var series = reference_type_series[form_reference_type.val()];
        $('option', form_serie).each(function () {
            $(this).toggle($.inArray($(this).attr('value'), series) !== -1 || $(this).attr('value') == '');
        });
        form_serie.val(serie_selected);
    };

    $.each($("input[id^='form2_blanks']" ), function () {
        $(this).change(function() {
            $('#checkAllCheckbox').prop('checked', false);
        })
    });

    form_reference_type.on('change', changeSeries);
    changeSeries();

    $('#toggle_interval').on('click', function toggle_interval() {
        $('#intervals').toggle();
    })
});
</script>
{% endblock %}