{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Возврат бланков</h1>
    </div>

    {{ form_start(form) }}
    {{ form_row(form.legal_entity) }}
    {{ form_row(form.reference_type) }}
    {% if form.serie is defined %}
        {{ form_row(form.serie) }}
    {% endif %}
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Подтвердить</button>
            <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_not_in_operator_envelopes') }}"><i class="fa fa-arrow-left"></i> Вернуться к списку</a>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock content %}

