{% extends 'AppBundle::layout.html.twig' %}


{% block content %}
    <div class="page-header">
        <h1>Испорченные бланки оператора</h1>
        {% if blanks|length > 0 %}
            {{ blanks[0].operator.lastName }}
            {{ blanks[0].operator.firstName }}
            {{ blanks[0].operator.patronymic }}
        {% endif %}
    </div>

    {% if blanks|length > 0 %}
        {{ form_start(form) }}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Код юрлица</th>
                <th>Тип справки</th>
                <th class="min_col text-right">Заменён на</th>
                <th class="min_col text-right">Испорчен</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.legalEntity.shortName }}</td>
                    <td>{{ blank.referenceType }}</td>
                    <td class="min_col text-right">
                        {% if blank.serviceLog.medicalCenterCorrects is defined and blank.serviceLog.medicalCenterCorrects|length > 0 %}
                            {{ blank.serviceLog.medicalCenterCorrects.0.blank.serie }}
                            {{ blank.serviceLog.medicalCenterCorrects.0.blank.number }}
                        {% endif %}
                    </td>
                    <td class="min_col text-right">{{ blank.serie }} {{ blank.number }} </td>
                    <td class="min_col">
                        <a title='Читать примечание' href='{{ path('referenceman_blanks__operator_cancelled__view_desc', { id: blank.id }) }}'><i class="fa fa-commenting-o"></i></a>&nbsp;
                        {{ form_widget(form.blanks[loop.index0]) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock content %}
