{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Конверт для оператора</h1>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="min_col text-right">Номер конверта</th>
                <th class="text-left">Оператор</th>
                <th class="min_col text-left">Код юрлица</th>
                <th class="min_col text-left">Тип бланка</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Номер</th>
                {% if envelope.operator is null %}
                    <th class="min_col"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for blank in envelope.blanks %}
            <tr>
                <td class="min_col text-right">{{ envelope.id }}</td>
                <td class="text-left">{{ envelope.operator ? envelope.operator : '-'}}</td>
                <td class="min_col text-left">{{ envelope.legalEntity.shortName }}</td>
                <td class="min_col text-left">{{ blank.referenceType }}</td>
                <td class="min_col text-left">{{ blank.serie }}</td>
                <td class="min_col text-right">{{ blank.number }}</td>
                {% if envelope.operator is null %}
                    <td>
                        <a title='Изъять бланк из конверта' class="text-danger a_delete_blank_from_operator_envelope" href="{{ path('referenceman_blanks_delete_blank_from_operator_envelope', { id : blank.id }) }}"><i class="fa fa-times"></i></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{% if envelope.operator is null %}7{% else %}6{% endif %}" class="text-right"><b>Всего: {{ envelope.blanks|length }}</b></td>
        </tr>
        </tfoot>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_operator_envelopes') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
        </div>
    </div>
{% endblock content %}

{#{% block js %}#}
{#<script>#}
    {#$(function() {#}
        {#var links = $('.a_delete_blank_from_operator_envelope');#}
        {#links.on('click', function () {#}
            {#links.hide();#}
        {#});#}
    {#});#}
{#</script>#}
{#{% endblock %}#}
