{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Принять бланки от оператора</h1>
    </div>

    {{ form_start(form) }}
    {% if blanks|length > 0 %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Оператор</th>
                <th>Тип справки</th>
                <th>Код юрлица</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Номер</th>
                <th class="min_col">
                    <input type="checkbox" name="checkAll" id="checkAllCheckbox" onclick="$('input[id^=\'form_blanks\']' ).prop('checked', this.checked)">
                </th>
            </tr>
            </thead>
            <tbody>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.operator }}</td>
                    <td>{{ blank.referenceType }}</td>
                    <td>{{ blank.legalEntity.shortName }}</td>
                    <td class="min_col text-left">{{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                    <td class="min_col">{{ form_widget(form.blanks[loop.index0]) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-right"><b>Всего: {{ blanks|length }}</b></td>
            </tr>
            </tfoot>
        </table>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Принять</button>
                <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_operator_referenceman_envelopes') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
            </div>
        </div>
        {{ form_end(form) }}

    {% elseif app.request.queryString != '' %}
        <hr>Ничего не найдено
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        $(function() {
            $.each($("input[id^='form_blanks']" ), function () {
                $(this).change(function() {
                    $('#checkAllCheckbox').prop('checked', false);
                })
            });
        });
    </script>
{% endblock %}