{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Принять бланки от справковеда</h1>
    </div>

    {% if blanks|length > 0 %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Код юрлица</th>
                <th>Тип бланка</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Номер</th>
            </tr>
            </thead>
            <tbody>
            {% for blank in blanks %}
                <tr>
                    <td>{{ blank.legalEntityShortName }}</td>
                    <td>{{ blank.referenceType }}</td>
                    <td class="min_col text-left">{{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="text-right"><b>Всего: {{ blanks|length }}</b></td>
            </tr>
            </tfoot>
        </table>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_referenceman_referenceman_envelopes') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
            </div>
        </div>

    {% elseif app.request.queryString != '' %}
        <hr>Ничего не найдено
    {% endif %}
{% endblock content %}
