{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Пакет от кладовщика</h1>
    </div>
{% if pagerfanta.currentPageResults|length %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="min_col text-right">Пакет №</th>
            <th class="text-left">Кладовщик</th>
            <th class="min_col text-left">Код юрлица</th>
            <th class="min_col text-left">Тип справки</th>
            <th class="min_col text-left">Серия</th>
            <th class="min_col text-right">Номер</th>
            <th class="min_col"></th>
        </tr>
        </thead>
        <tbody>

        {% for blank in pagerfanta.currentPageResults %}
            <tr>
                <td class="min_col text-right">{{ blank.referencemanEnvelope }}</td>
                <td class="text-left">{{ blank.referencemanEnvelope.stockman ? blank.referencemanEnvelope.stockman : '-'}}</td>
                <td class="min_col text-left">{{ blank.referencemanEnvelope.legalEntity.shortName }}</td>
                <td class="min_col text-left">{{ blank.referenceType }}</td>
                <td class="min_col text-left">{{ blank.serie }}</td>
                <td class="min_col text-right">{% set format = '%0'~blank.leadingZeros~'d' %}{{ format|format(blank.number) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-right"><b>Всего: {{ pagerfanta.currentPageResults|length }}</b></td>
        </tr>
        </tfoot>
    </table>
    {% if pagerfanta.haveToPaginate %}
        <div class="text-center">
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
        </div>
    {% endif %}
{% else %}
    {{ 'no_data'|trans({}, 'messages') }}
{% endif %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('referenceman_blanks_stockman_envelopes') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
        </div>
    </div>
{% endblock content %}
