{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Замена бланков без печати на бланки с печатью</h1>
    </div>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Название услуги</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ serviceLog.service.name is defined ? serviceLog.service.name : '' }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Код услуги</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ serviceLog.service.name is defined ? serviceLog.service.name : '' }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Номер</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ serviceLog.blank.serie is defined ? serviceLog.blank.serie : '' }}
                {{ serviceLog.blank.number is defined ? serviceLog.blank.number : '' }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Дата выдачи</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ serviceLog.dateGiving|localizeddate('short', 'none') }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Дата окончания</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ serviceLog.dateGiving|date_modify('+ '~ serviceLog.service.lifetime~' month') |localizeddate('short', 'none') }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Поручитель</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {% set guarantor = '' %}
                {% for agreement in serviceLog.service.agreements %}
                    {% if agreement.guarantor is not empty %}
                        {{ agreement.guarantor.shortName }}
                        {% set guarantor = agreement.guarantor %}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Исполнитель</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {% set executor = '' %}
                {% for agreement in serviceLog.service.agreements %}
                    {% if agreement.executor is not empty %}
                        {{ agreement.executor.shortName }}
                        {% set executor = agreement.executor %}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">ФИО клиента</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ serviceLog.lastName }} {{ serviceLog.firstName }} {{ serviceLog.patronymic }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Дата рождения</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ serviceLog.birthday|localizeddate('short', 'none') }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Паспорт</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ serviceLog.params.passport is defined ? serviceLog.params.passport : '' }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Юрлицо выдавшее бланк</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ serviceLog.blank.legalEntity.shortName }}</p>
        </div>
    </div>

    <hr>
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            {% if serviceLog.blank.legalEntity == executor or serviceLog.blank.legalEntity == guarantor %}
                <a href="{{ path('operator_blanks__replacement_blank_with_no_stamps__upload', { id: serviceLog.id }) }}" class="btn btn-success"><i class="fa fa-exchange"></i> Продолжить</a>
            {% else %}
                <button disabled class="btn btn-done"><i class="fa fa-exchange"></i> Продолжить</button>
            {% endif %}
            <a href="{{ path('operator_blanks__replacement_blanks_with_no_stamps') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> К поиску</a>
        </div>
    </div>
</form>

{% endblock content %}


