{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Замена бланков без печати на бланки с печатью</h1>

        <dl class="dl-horizontal">
            <dt>Ф.И.О.: </dt>
            <dd>
                {{ serviceLog.lastName is defined ? serviceLog.lastName : '' }}
                {{ serviceLog.firstName is defined ? serviceLog.firstName : '' }}
                {{ serviceLog.patronymic is defined ? serviceLog.patronymic : '' }}
            </dd>
            <dt>Код юрлица: </dt><dd>{{ serviceLog.blank.legalEntity.shortName is defined ? serviceLog.blank.legalEntity.shortName : '' }}</dd>
            <dt>Код услуги: </dt><dd>{{ serviceLog.service.code is defined ? serviceLog.service.code : '' }}</dd>
            <dt>Услуга: </dt><dd>{{ serviceLog.service.name is defined ? serviceLog.service.name : '' }}</dd>
            <dt>Номер бланка: </dt><dd>{{ serviceLog.blank.serie }} {{ serviceLog.blank.number }}</dd>
            <dt>Стоимость: </dt><dd>{{ serviceLog.sum }}</dd>
        </dl>
    </div>

    <a href="#" id="toggle_interval">Текущие интервалы</a>
    <table class="table" id="intervals" style="display:none;width:300px">
        {% for serie, intervals in info['intervals'] %}
            <tr>
                <th colspan="2">
                    {{ serie }}
                </th>
            </tr>
            {% for serie, interval in intervals %}
                <tr>
                    <td>
                        {{ interval['interval'] }}
                    </td>
                    <td>
                        {{ interval['amount'] }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <br>

    {{ form_start(form) }}
        {{ form_row(form.serie) }}
        {{ form_row(form.number) }}

        <div class="form-group">
            {{ form_label(form.date_giving) }}
            <div class="col-sm-3">
                <div class="input-group date">
                    {{ form_widget(form.date_giving) }}
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                {{ form_errors(form.date_giving) }}
            </div>
        </div>
        {{ form_row(form.save) }}
    {{ form_end(form) }}

{% endblock content %}

{% block js %}
<script>
$(function(){
    $('#toggle_interval').on('click', function toggle_interval() {
        $('#intervals').toggle();
    });

    $("#form_number").select2({
        theme: "bootstrap",
        minimumInputLength: 3,
        ajax: {
            url: '{{ path('operator_blanks_get_blank_numbers') }}',
            data: function (params) {
                return {
                    number: params.term,
                    serie: $("#form_serie").val(),
                    stamp: 1,
                    reference_type: {{ reference_type.id }},
                    page: params.page,
                    serviceId: {{ serviceLog.service.id }}
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                return {
                    results: data.items,
                    pagination: {
                        more: (params.page * 20) < data.total_count
                    }
                };
            }
        }
    });

    $('#form_date_giving').datepicker({
        language: 'ru',
        autoclose: true
    });


});
</script>
{% endblock js %}






