{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Замена бланков без печати на бланки с печатью</h1>
    </div>

    {{ form(form) }}

{% endblock content %}
