{% extends "AppBundle::layout.html.twig" %}
{#{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}#}

{% block content %}
    <div class="page-header">
        <h1>Замена бланков без печати на бланки с печатью</h1>

        <dl class="dl-horizontal">
            <dt>Ф.И.О.: </dt>
            <dd>
                {{ serviceLog.lastName is defined ? serviceLog.lastName : '' }}
                {{ serviceLog.firstName is defined ? serviceLog.firstName : '' }}
                {{ serviceLog.patronymic is defined ? serviceLog.patronymic : '' }}
            </dd>
            <dt>Код юрлица: </dt><dd>{{ serviceLog.blank.legalEntity.shortName is defined ? serviceLog.blank.legalEntity.shortName : '' }}</dd>
            <dt>Код услуги: </dt><dd>{{ serviceLog.service.code is defined ? serviceLog.service.code : '' }}</dd>
            <dt>Услуга: </dt><dd>{{ serviceLog.service.name is defined ? serviceLog.service.name : '' }}</dd>
            <dt>Номер бланка: </dt><dd>{{ serviceLog.blank.serie }} {{ serviceLog.blank.number }}</dd>
            <dt>Стоимость: </dt><dd>{{ serviceLog.sum }}</dd>
        </dl>
    </div>

    <table class="table" style="border: hidden">
        <thead>
            <tr>
                <th>Документ из Психиатрического диспансера</th>
                <th>Документ из Наркологического диспансера</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="clearfix">
                    <div class="btn btn-default fileinput-button">
                        <span>Загрузить</span>
                        <input id="fileupload_psycho" type="file" name="files[]" data-url="{{ path('service_log_upload_docs', { id: serviceLog.id, type: 'psycho_docs' }) }}" accept="image/jpg,image/jpeg,image/png">
                    </div>
                    <div id="image-progress" class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
                            <span>Загрузка …</span>
                        </div>
                    </div>
                    <span class="upload-fail"></span>
                </div>
            </td>
            <td>
                <div class="clearfix">
                    <div class="btn btn-default fileinput-button">
                        <span>Загрузить</span>
                        <input id="fileupload_narco" type="file" name="files[]" data-url="{{ path('service_log_upload_docs', { id: serviceLog.id, type: 'narco_docs' }) }}" accept="image/jpg,image/jpeg,image/png">
                    </div>
                    <div id="image-progress" class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
                            <span>Загрузка …</span>
                        </div>
                    </div>
                    <span class="upload-fail"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="service_log_psycho_docs" class="clearfix">
                    {% for doc in psychoDocs %}
                        <a href="{{ doc.webPath }}" target="_blank">
                            <img data-id="{{ doc.id }}" src="{{ doc.webPath|imagine_filter('doc') }}" class="img-thumbnail" alt="">
                            <i class="fa fa-times"></i>
                        </a>
                    {% endfor %}
                </div>
            </td>
            <td>
                <div id="service_log_narco_docs" class="clearfix">
                    {% for doc in narcoDocs %}
                        <a href="{{ doc.webPath }}" target="_blank">
                            <img data-id="{{ doc.id }}" src="{{ doc.webPath|imagine_filter('doc') }}" class="img-thumbnail" alt="">
                            <i class="fa fa-times"></i>
                        </a>
                    {% endfor %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-lg btn-success pull-right" href="{{ path('operator_blanks__replacement_blank_with_no_stamps__replace', {id: serviceLog.id}) }}">
                Продолжить
            </a>
        </div>
    </div>
{% endblock content %}


{% block js %}
    <script>
        $(function() {
            $('#fileupload_narco').fileupload({
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#image-progress').find('.progress-bar').css('width', progress + '%');
                },
                send: function () {
                    $('.fileinput-button').hide();
                    $('#image-progress').show();
                },
                done: function (e, data) {
                    $('#image-progress').hide();
                    if (data.result.files) {
                        $('.fileinput-button').show();
                        $.each(data.result.files, function (index, file) {
                            $('#service_log_narco_docs').append('<a href="'+file.webPathOrig+'" target="_blank"><img data-id="'+file.id+'" src="'+file.webPath+'" class="img-thumbnail" alt=""><i class="fa fa-times"></i></a>');
                        });
                    } else {
                        var errors = data.result.errors ? data.result.errors.join('<br>') : 'Неизвестная ошибка.';
                        $('.upload-fail').html(errors).show().delay(1500).hide(function () {
                            $('.fileinput-button').show();
                        });
                    }
                },
                fail: function () {
                    $('#image-progress').hide();
                    $('.upload-fail').html('Ошибка сервера.').show().delay(1500).hide(function () {
                        $('.fileinput-button').show();
                    });
                }
            });

            $('#fileupload_psycho').fileupload({
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#image-progress').find('.progress-bar').css('width', progress + '%');
                },
                send: function () {
                    $('.fileinput-button').hide();
                    $('#image-progress').show();
                },
                done: function (e, data) {
                    $('#image-progress').hide();
                    if (data.result.files) {
                        $('.fileinput-button').show();
                        $.each(data.result.files, function (index, file) {
                            $('#service_log_psycho_docs').append('<a href="'+file.webPathOrig+'" target="_blank"><img data-id="'+file.id+'" src="'+file.webPath+'" class="img-thumbnail" alt=""><i class="fa fa-times"></i></a>');
                        });
                    } else {
                        var errors = data.result.errors ? data.result.errors.join('<br>') : 'Неизвестная ошибка.';
                        $('.upload-fail').html(errors).show().delay(1500).hide(function () {
                            $('.fileinput-button').show();
                        });
                    }
                },
                fail: function () {
                    $('#image-progress').hide();
                    $('.upload-fail').html('Ошибка сервера.').show().delay(1500).hide(function () {
                        $('.fileinput-button').show();
                    });
                }
            });

            $('#service_log_psycho_docs').on('click', '.fa-times', function(e) {
                e.preventDefault();
                var cntr = $(this).closest('a');
                var id = cntr.find('img').data('id');
                $.post('{{ path('service_log_delete_docs', { id: serviceLog.id, type: 'psycho_docs' }) }}', { doc_id: id }, function() {
                    cntr.remove();
                });
            });

            $('#service_log_narco_docs').on('click', '.fa-times', function(e) {
                e.preventDefault();
                var cntr = $(this).closest('a');
                var id = cntr.find('img').data('id');
                $.post('{{ path('service_log_delete_docs', { id: serviceLog.id, type: 'narco_docs' }) }}', { doc_id: id }, function() {
                    cntr.remove();
                });
            });

        });
    </script>
{% endblock js %}

