{% extends "AdminBundle::_item.html.twig" %}

{% block js %}
{{ parent() }}
<script>
$(function() {
    $('#user_phone').inputmask('+7 (999) 999-99-99', { clearMaskOnLostFocus: false });
    var powerAttorney = $('#user_power_attorney');
    var filial = $('#user_filial');
    var workplace = $('#user_workplace');
    var workplaces = {{ workplaces|json_encode|raw }};

    var filial_change = function(e) {
        if (e != undefined) {
            workplace.val('');
        }
        $('option', workplace).each(function() {
            $(this).toggle($.inArray(parseInt($(this).attr('value')), workplaces[filial.val()]) > -1);
        });
    };
    filial.on('change', filial_change);
    filial_change();

    var user_roles_change = function() {
        var roles = [];
        $(':checked', $('#user_roles')).each(function() {
            roles.push($(this).val());
        });
        if (roles.length == 1 && roles[0] == 'ROLE_OPERATOR') {
            filial.closest('.form-group').show();
            workplace.closest('.form-group').show();
            powerAttorney.closest('.form-group').show();
            powerAttorney.attr('required', 'required');
            $('#user_phone').closest('.form-group').hide();
            $('#user_ips').closest('.form-group').hide();
            $('#user_filials').closest('.form-group').hide();
        } else {
            filial.closest('.form-group').hide();
            workplace.closest('.form-group').hide();
            powerAttorney.closest('.form-group').hide();
            powerAttorney.removeAttr('required');
            powerAttorney.closest('.form-group').toggle(
                    $.inArray('ROLE_OPERATOR', roles) > -1
            );
            $('#user_phone').closest('.form-group').toggle(
                $.inArray('ROLE_SUPERADMIN', roles) > -1
                || $.inArray('ROLE_ADMIN', roles) > -1
                || $.inArray('ROLE_ACQUITTANCEMAN', roles) > -1
            );
            $('#user_ips').closest('.form-group').toggle(
                $.inArray('ROLE_SUPERADMIN', roles) > -1
                || $.inArray('ROLE_ADMIN', roles) > -1
                || $.inArray('ROLE_ARCHIVARIUS', roles) > -1
                || $.inArray('ROLE_MANAGE_FILIALS', roles) > -1
                || $.inArray('ROLE_MANAGE_WORKERS', roles) > -1
                || $.inArray('ROLE_CASHIER', roles) > -1
                || $.inArray('ROLE_SUPERVISOR', roles) > -1
                || $.inArray('ROLE_TREASURER', roles) > -1
                || $.inArray('ROLE_ORDERMAN', roles) > -1
                || $.inArray('ROLE_ACQUITTANCEMAN', roles) > -1
                || $.inArray('ROLE_STOCKMAN', roles) > -1
                || $.inArray('ROLE_REFERENCEMAN', roles) > -1
            );
            $('#user_filials').closest('.form-group').toggle(
                $.inArray('ROLE_COURIER', roles) > -1
                || $.inArray('ROLE_SENIOR_OPERATOR', roles) > -1
            );
        }
    };
    $('#user_roles').on('change', user_roles_change);
    user_roles_change();
});
</script>
{% endblock js %}
