{% extends "AdminBundle::_list.html.twig" %}
{% trans_default_domain entity_name_s %}

{% block row_value %}
    {% if value is iterable %}
        {% for val in value %}
            {% if not loop.first %}<br>{% endif %}
            {{ val|trans }}
        {% endfor %}
    {% else %}
        {{ value }}
    {% endif %}
{% endblock row_value %}

{% block links %}

    {% if entity != app.user and entity.isEditable(app.user) %}
        {% if entity.hasRole('ROLE_OPERATOR') %}
            <a href="{{ path('admin_user_schedule', { id: entity.id }) }}"><i class="fa fa-calendar"></i></a>
        {% endif %}
        <a href="{{ path(router_item_edit, { id: entity.id }) }}" class="text-success"><i class="fa fa-pencil-square-o"></i></a>
    {% endif %}
{% endblock links %}
