{% extends "AdminBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Заполнить расписание</h1>
        <dl class="dl-horizontal">
            <dt>Филиал:</dt><dd>{{ filial.name }}</dd><dt>Оператор:</dt><dd>{{ operator }}</dd>
        </dl>
    </div>

    {{ form_start(form) }}
    <br>
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Заполнить</button>
            <a class="btn btn-default pull-right" href="{{ path('admin_user_schedule', {'id': operator.id}) }}"><i
                        class="fa fa-arrow-left"></i> Назад</a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock content %}

