{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('admin_user_schedule_fill_week', {id: operator.id, filial_id: filial.id}) }}"><i class="fa fa-plus"></i> Заполнить расписание</a>
        <h1>Редактировать расписание</h1>
        <dl class="dl-horizontal">
            <dt>Филиал:</dt><dd>{{ filial.name }}</dd>
            <dt>Оператор:</dt><dd>{{ operator }}</dd>
        </dl>
    </div>

    <div class="form-group">
        <div id="form_day_div" class="col-sm-offset-3 col-sm-9"></div>

    </div>

    <div class="form-group"><div class="col-sm-offset-3 col-sm-9">&nbsp;</div></div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="progress" id="progress" style="display: none; width: 210px;">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <div class="form-group"><div class="col-sm-offset-3 col-sm-9">&nbsp;</div></div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('admin_users') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    $(function() {
        var dates = JSON.parse('{{ dates|json_encode|raw }}');
        dates = Object.keys(dates).map(function (key) { return dates[key]; });

        filledDates = {};

        $(dates).each(function (index, value) {
            var date = value.split('-');
            filledDates[ new Date( date[0], date[1]-1, date[2]) ] = new Date( date[0], date[1]-1, date[2]);
        });

        var datesDisabled = JSON.parse('{{ datesDisabled|json_encode|raw }}');
        datesDisabled = Object.keys(datesDisabled).map(function (key) { return datesDisabled[key]; });

        disabledDates = {};
        $(datesDisabled).each(function (index, value) {
            var date = value.split('-');
            disabledDates[ new Date( date[0], date[1]-1, date[2]) ] = new Date( date[0], date[1]-1, date[2]);
        });

        $('#form_day_div').datepicker({
            language: 'ru',
            autoclose: false,
            startDate: '{{ startDate }}',
            endDate: '{{ endDate }}',
            todayHighlight: true,
            beforeShowDay: function(date) {
                if (disabledDates[date]) { return { classes: 'disabled'};}
                if (filledDates[date])   { return  { classes: 'highlighted'};}
            }
        });

        function onChangeDay() {
            var date = $('#form_day_div').datepicker('getDate');

            if (!date) {
                return;
            }

            $('#progress').show();
            date = date.getFullYear() + '-' + (parseInt(date.getMonth()) + 1 ) + '-' + date.getDate();
            var link = "{{ path('admin_user_schedule_toggle', {'id': operator.id, 'filial_id': filial.id}) }}" + '&date=' + date;

            $.post(link, function(data) {
                filledDates = {};
                dates = Object.keys(data.dates).map(function (key) { return data.dates[key]; });
                $(dates).each(function (index, value) {
                    var date = value.split('-');
                    filledDates[ new Date( date[0], date[1]-1, date[2]) ] = new Date( date[0], date[1]-1, date[2]);
                });

                $('#form_day_div').datepicker({
                    language: 'ru',
                    autoclose: false,
                    startDate: '{{ startDate }}',
                    todayHighlight: true,
                    beforeShowDay: function(date) {
                        if (disabledDates[date]) { return { classes: 'disabled'};}
                        if (filledDates[date])   { return  { classes: 'highlighted'};}
                    }
                });

                $('#form_day_div').datepicker('update');

                $('#progress').hide();
            });

        }
        $('.datepicker').on('click', onChangeDay);



});
</script>
{% endblock js %}





