{% extends "AdminBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block container %}
    <div class="page-header">
        <h1>Выберите филиал</h1>
        <dl class="dl-horizontal">
            <dt>Оператор:</dt><dd>{{ operator }}</dd>
        </dl>
    </div>

    {% if filialChoices|length %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% else %}
        Нет филиалов
    {% endif %}

{% endblock container %}
