<h2>Обработанные утерянные бланки</h2>

{% set sum = 0 %}
{% for penalty_blanks_block in penalty_blanks_by_date %}
    <h4>
        {{ penalty_blanks_block['date']|localizeddate('long', 'none') }}
        {{ penalty_blanks_block['cnt'] }} шт.
        на сумму {{ penalty_blanks_block['sum']|number_format }} руб.
    </h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Юр.лицо</th>
                <th class="min_col text-left">Тип бланка</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Номер</th>
                <th class="min_col text-right">Штраф (руб.)</th>
            </tr>
        </thead>
        <tbody>
        {% for blank in penalty_blanks_block['blanks'] %}
            <tr>
                <td>{{ blank.legalEntity }}</td>
                <td class="min_col text-left">{{ blank.referenceType }}</td>
                <td class="min_col text-left">{{ blank.serie }}</td>
                <td class="min_col text-right">{{ blank.number }}</td>
                <td class="min_col text-right">{{ blank.penaltySum|number_format }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% set sum = sum + penalty_blanks_block['sum'] %}
{% endfor %}

<h4 class="text-right">Итого сумма: {{ sum|number_format }}</h4>
