{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ operator.fullName }} утерянные бланки</h1>
    </div>

    {% if not_penalty_blanks|length %}
        <div id="not_penalty_block">
            <h2>Необработанные утерянные бланки</h2>
            <table id="not_penalty_blanks" class="table table-hover">
                <thead>
                    <tr>
                        <th>Юр.лицо</th>
                        <th class="min_col text-left">Тип бланка</th>
                        <th class="min_col text-left">Серия</th>
                        <th class="min_col text-right">Номер</th>
                        <th class="min_col text-right">Штраф (руб.)</th>
                    </tr>
                </thead>
                <tbody>
                {% for blank in not_penalty_blanks %}
                    <tr>
                        <td>{{ blank.legalEntity }}</td>
                        <td class="min_col text-left">{{ blank.referenceType }}</td>
                        <td class="min_col text-left">{{ blank.serie }}</td>
                        <td class="min_col text-right">{{ blank.number }}</td>
                        <td class="min_col text-left">
                            <form class="form-inline" method="post" action="">
                                <div class="form-group">
                                    <label class="sr-only" for="{{ 'penalty_sum_'~blank.id }}"></label>
                                    <input id="{{ 'penalty_sum_'~blank.id }}" type="text" class="form-control input-sm" name="sum"/>
                                </div>
                                <input name="id" value="{{ blank.id }}" type="hidden"/>
                                <input name="operatorId" value="{{ blank.operator.id }}" type="hidden"/>
                                <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-check"></i></button>
                                <div class="text-danger"></div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <div id="penalty_block">
        {% if penalty_blanks_by_date|length %}
            {% include 'AppBundle:Admin:_lost_penalty_block.html.twig' %}
        {% endif %}
    </div>

    {% if not not_penalty_blanks|length and not penalty_blanks_by_date|length %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}

    <hr>
    <a class="btn btn-default pull-right" href="{{ path('admin_lost') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
{% endblock content %}

{% block js %}
<script>
$(function() {
    $('form', '#not_penalty_blanks').submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var formData = form.serialize();
        $('.text-danger', form).html('');
        $(':input', form).attr('disabled', 'disabled');
        $('.fa-check', form).removeClass('fa-check').addClass('fa-spinner fa-pulse');
        $.post('{{ path('admin_lost_set_sum_ajax') }}', formData, function(data) {
            if (data.error) {
                $('.text-danger', form).html(data.error);
            } else {
                $('#penalty_block').html(data.html);
                form.closest('tr').remove();
                if ($('form', '#not_penalty_block').length == 0) {
                    $('#not_penalty_block').hide();
                }
            }
            $('.fa-spinner', form).removeClass('fa-spinner fa-pulse').addClass('fa-check');
            $(':input', form).removeAttr('disabled');
        });
    });
});
</script>
{% endblock js %}
