{% extends 'AdminBundle::layout.html.twig' %}
{% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Назначение штрафа за утерю бланков</h1>
    </div>

    <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
    <div id="filter">
        {{ form_start(filter_form) }}
        {{ form_widget(filter_form) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default pull-right">
                    <i class="fa fa-filter"></i>
                    <span>Отфильтровать</span>
                </button>
            </div>
        </div>
        {{ form_end(filter_form) }}
    </div>
    <br>

    {% if operators|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ф.И.О.</th>
                    <th class="min_col text-right">Необработанных</th>
                    <th class="min_col text-right">Обработанных</th>
                    <th class="min_col text-right">Сумма (руб.)</th>
                    <th class="min_col text-left"></th>
                </tr>
            </thead>
            <tbody>
            {% for operator in operators %}
                <tr>
                    <td>{{ operator.last_name~' '~operator.first_name~' '~operator.patronymic }}</td>
                    <td class="min_col text-right">{{ operator.cnt_not_penalty }}</td>
                    <td class="min_col text-right">{{ operator.cnt_penalty }}</td>
                    <td class="min_col text-right">{{ operator.sum_penalty|number_format }}</td>
                    <td class="min_col text-left">
                        <a href="{{ path('admin_lost_view', { operatorId: operator.id }) }}"><i class="fa fa-eye text-success"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}

{% block js %}
<script>
$(function() {
    {% if app.request.queryString == '' %}
    $('#filter').hide();
    {% endif %}

    var filter_class = function() {
        $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
            return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
        });
    };
    filter_class();

    $('#filter_link').click(function(e) {
        e.preventDefault();
        $('#filter').toggle();
        filter_class();
    });
});
</script>
{% endblock js %}
