{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Действия операторов</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="min_col">Время</th>
                    <th>Действие</th>
                    <th>Оператор</th>
                    <th>Комментарий</th>
                </tr>
            </thead>
            <tbody>
            {% for log in a_logs %}
                <tr>
                    <td class="min_col">{{ log['created_at'] }}</td>
                    <td>{{ log['action_type'] }}</td>
                    <td>{{ log['user'] }}</td>
                    <td>{{ log['comment']|raw }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
