{% extends 'AdminBundle::layout.html.twig' %}
{% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Оказанные услуги</h1>
    </div>

    <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
    <div id="filter">
        {{ form_start(filter_form) }}
        {{ form_widget(filter_form) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default pull-right">
                    <i class="fa fa-filter"></i>
                    <span>Отфильтровать</span>
                </button>
            </div>
        </div>
        {{ form_end(filter_form) }}
    </div>
    <br>

    {% if filter_form.vars.submitted and pagerfanta.currentPageResults is defined and pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th colspan="7" class="text-right">Сумма: <span id="sum_thead">0</span></th>
            </tr>
            <tr>
                <th colspan="7" class="text-right">Итого: <span id="total_thead">0</span></th>
            </tr>
            <tr>
                <th>Время</th>
                <th>Услуга</th>
                <th>Филиал</th>
                <th>Рабочее место</th>
                <th>Касса</th>
                <th>Оператор</th>
                <th class="text-right">Сумма (руб.)</th>
            </tr>
            </thead>
            <tbody>
            {% set sum = 0 %}
            {% for log in pagerfanta.currentPageResults %}
                <tr>
                    <td>{{ log.createdAt|date('d.m.y H:i') }}</td>
                    <td>{{ log.service }}</td>
                    <td>{{ log.workplace.filial }}</td>
                    <td>{{ log.workplace }}</td>
                    <td>{{ log.cashbox }}</td>
                    <td>{{ log.operator }}</td>
                    <td class="text-right">{{ log.sum|number_format }}</td>
                </tr>
                {% set sum = sum + log.sum %}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7" class="text-right">Сумма: <span id="sum_tfoot">{{ sum|number_format }}</span></th>
                </tr>
                <tr>
                    <th colspan="7" class="text-right">Итого: <span id="total_tfoot">{{ total|number_format }}</span></th>
                </tr>
            </tfoot>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}

{% block js %}
<script>
$(function() {
    var sum_tfoot = $('#sum_tfoot');
    var total_tfoot = $('#total_tfoot');

    var sum_thead = $('#sum_thead');
    var total_thead = $('#total_thead');

    sum_thead.html(sum_tfoot.html());
    total_thead.html(total_tfoot.html());

    var start_hour = $('#form_start_time_time_hour');
    var start_minute = $('#form_start_time_time_minute');

    var end_hour = $('#form_end_time_time_hour');
    var end_minute = $('#form_end_time_time_minute');

    if (start_hour.val() == '') {
        start_hour.val('0');
    }

    if (start_minute.val() == '') {
        start_minute.val('0');
    }

    if (end_hour.val() == '') {
        end_hour.val('23');
    }

    if (end_minute.val() == '') {
        end_minute.val('59');
    }

    {% if app.request.queryString == '' %}
    $('#filter').hide();
    {% endif %}

    var filter_class = function() {
        $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
            return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
        });
    };
    filter_class();

    $('#filter_link').click(function(e) {
        e.preventDefault();
        $('#filter').toggle();
        filter_class();
    });

    var filial = $('#form_filial');
    var workplace = $('#form_workplace');
    var workplaces = {{ workplaces|json_encode|raw }};
    var cashbox = $('#form_cashbox');
    var cashboxes = {{ cashboxes|json_encode|raw }};

    var filial_change = function(e) {
        if (e != undefined) {
            workplace.val('');
            cashbox.val('');
        }
        workplace.find('option').each(function() {
            if ($(this).attr('value') != '') {
                if ($.inArray(parseInt($(this).attr('value')), workplaces[filial.val()]) == -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            }
        });
    };
    filial.on('change', filial_change);
    filial_change();

    var workplace_change = function(e) {
        if (e != undefined) {
            cashbox.val('');
        }
        cashbox.find('option').each(function() {
            if ($(this).attr('value') != '') {
                if ($.inArray(parseInt($(this).attr('value')), cashboxes[workplace.val()]) == -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            }
        });
    };
    workplace.on('change', workplace_change);
    workplace_change();
});
</script>
{% endblock js %}
