{% extends 'AppBundle::layout.html.twig' %}
{% if filter_form %}
    {% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}
{% endif %}

{% block content %}
    <div class="page-header">
        <h1>Статистика отработанных часов</h1>
    </div>

    {% if filter_form %}
        <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
        <div id="filter">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-filter"></i>
                        <span>Отфильтровать</span>
                    </button>
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
        <br>
    {% endif %}

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">Дата</th>
                <th class="min_col text-left">Оператор</th>
                <th>Периоды</th>
                <th class="min_col text-right">Часы</th>
            </tr>
            </thead>

            {% for shiftLog in shiftLogs %}
                <tr>
                    <td class="min_col text-left">{{ shiftLog.date|localizeddate('long', 'none') }}</td>
                    <td class="min_col text-left">{{ shiftLog.user }}</td>
                    <td>
                        {% for period in shiftLog.periods %}
                                {{ period.0|localizeddate('none', 'short') }}
                                - {{ period.1|localizeddate('none', 'short')  }}{{ loop.last ? '' : ', ' }}
                        {% endfor %}
                    </td>
                    <td class="min_col text-right">{{ shiftLog.interval }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}

{% block js %}
<script>
$(function() {
    $('#filter').hide();

    var filter_class = function() {
        $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
            return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
        });
    };
    filter_class();

    $('#filter_link').click(function(e) {
        e.preventDefault();
        $('#filter').toggle();
        filter_class();
    });
});
</script>
{% endblock js %}
