{% extends 'AppBundle::layout.html.twig' %}
{% if filter_form %}
    {% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}
{% endif %}

{% block content %}
    <div class="page-header">
        <h1>Оборот супервайзера</h1>
    </div>

    <dl class="dl-horizontal">
        <dt>На начало периода:</dt><dd>{{ sum_start }}</dd>
        <dt>На конец периода:</dt><dd>{{ sum_end }}</dd>
    </dl>

    {% if filter_form %}
        <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
        <div id="filter">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-filter"></i>
                        <span>Отфильтровать</span>
                    </button>
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
        <br>
    {% endif %}

    {% if pagerfanta is not empty and pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">Дата</th>
                <th class="min_col text-left">Время</th>
                <th class="min_col text-left">Роль</th>
                <th class="min_col text-left">ФИО</th>
                <th class="min_col text-right">Сумма</th>
            </tr>
            </thead>

            {% for log in pagerfanta.currentPageResults %}
                <tr>
                    <td class="min_col text-left">{{ log.createdAt|localizeddate('long', 'none') }}</td>
                    <td class="min_col text-left">{{ log.createdAt|localizeddate('none', 'short') }}</td>
                    <td class="min_col text-left">Кассир</td>
                    <td class="min_col text-left">{{ log.cashier.lastName }}</td>
                    <td class="min_col text-right">{{ log.sum }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        $(function() {
            $('#filter').hide();

            var filter_class = function() {
                $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
                    return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
                });
            };
            filter_class();

            $('#filter_link').click(function(e) {
                e.preventDefault();
                $('#filter').toggle();
                filter_class();
            });
        });
    </script>
{% endblock js %}
