{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Сводка по остаткам</h1>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th class="min_col text-right">Не сдано ранее</th>
                <th class="min_col text-right">За текущий день</th>
                <th class="min_col text-right">В конвертах</th>
            </tr>
        </thead>
        <tbody>

        {% set total_sum_old = 0 %}
        {% set total_sum = 0 %}
        {% set total_e_sum = 0 %}

        {% for filial in filials %}
            <tr>
                <td><b>{{ filial['name'] }}</b></td>
                <td class="min_col text-right"><b>{{ filial['sum_old']|number_format }} руб.</b></td>
                <td class="min_col text-right"><b>{{ filial['sum']|number_format }} руб.</b></td>
                <td class="min_col text-right"><b>{{ filial['e_sum']|number_format }} руб.</b></td>
            </tr>
            {% for workplace in filial['workplaces'] %}
            <tr>
                <td>
                    {{ workplace['name'] }}
                </td>
                <td class="min_col text-right">{{ workplace['sum_old']|number_format }} руб. {% set total_sum_old = total_sum_old + workplace['sum_old']  %}</td>
                <td class="min_col text-right">{{ workplace['sum']|number_format }} руб. {% set total_sum = total_sum + workplace['sum']  %}</td>
                <td class="min_col text-right">{{ workplace['e_sum']|number_format }} руб. {% set total_e_sum = total_e_sum + workplace['e_sum']  %}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="min_col text-right"><b>Итого: {{ total_sum_old|number_format }} руб.</b></td>
                <td class="min_col text-right"><b>Итого: {{ total_sum|number_format }} руб.</b></td>
                <td class="min_col text-right"><b>Итого: {{ total_e_sum|number_format }} руб.</b></td>
            </tr>
        </tfoot>
    </table>
{% endblock content %}
