{% extends 'AdminBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Необходимо сменить пароль</h1>
    </div>

    <div class="well">
        Правила составления пароля:
        <ol>
            <li>Количество символов не менее 8</li>
            <li>Латинские буквы (A-z) и цифры (0-9)</li>
            <li>Заглавная буква 1</li>
            <li>Строчных не менее 3</li>
            <li>Повторяющихся символов не более 3</li>
        </ol>
        Пример пароля: Lenin1917
    </div>

    {{ form(form) }}
{% endblock content %}
