{% extends "AdminSkeletonBundle::_item.html.twig" %}
{% trans_default_domain entity_name_s %}

{% block buttons %}
    <button type="submit" class="btn btn-success">
        <i class="fa fa-download"></i>
        <span>{{ ('buttons.save')|trans }}</span>
    </button>
    <a class="btn btn-default pull-right" href="{{ path(router_list) }}"><i class="fa fa-arrow-left"></i> {{ ('buttons.back')|trans }}</a>
{% endblock buttons %}

