{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain entity_name_s %}

{% block content %}
    <div class="page-header">
        <h1>{{ ('titles.view')|trans }}</h1>
        <h2>{{ entity.name }}</h2>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="min_col text-left">Ф.И.О.</th>
            <th class="min_col text-left">Специальность</th>
        </tr>
        </thead>
        <tbody>
            {% for man in entity.men %}
                <tr>
                    <td class="min_col text-left">{{ man }}</td>
                    <td class="min_col text-left">{{ man.specialty }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path(router_list) }}"><i class="fa fa-arrow-left"></i> {{ ('buttons.back')|trans }}</a>
        </div>
    </div>
{% endblock content %}
