{% extends "AdminBundle::_item.html.twig" %}
{% trans_default_domain entity_name_s %}

{% block content %}
    {{ parent() }}

    {% if operators %}
        <h3>Операторы</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ФИО</th>
            </tr>
            </thead>
            <tbody>
            {% for operator in operators %}
                <tr{{ not operator.active ? ' class="active"' : '' }}>
                    <td>{{ operator }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}

{% block js %}
<script>
$(function() {
    var legal_entity = $('#workplace_legal_entity');
    var cashboxes = $('#workplace_cashboxes');
    var cashboxes_data = {{ cashboxes|json_encode|raw }};

    var legal_entity_change = function(e) {
        if (e != undefined) {
            $('input', cashboxes).removeAttr('checked');
        }
        var is_show = false;
        $('input', cashboxes).each(function() {
            var isset = $.inArray(parseInt($(this).attr('value')), cashboxes_data[legal_entity.val()]) > -1;
            $(this).closest('.checkbox').toggle(isset);
            if (isset) {
                is_show = true;
            }
        });
        cashboxes.closest('.form-group').toggle(legal_entity.val() != '' && is_show);
    };
    legal_entity.on('change', legal_entity_change);
    legal_entity_change();
});
</script>
{% endblock js %}
