#login {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    height: 190px;
    margin: 0 auto;
    padding: 20px;
    width: 220px;

    input {
        margin-bottom: 5px;
    }
}

.well > h3 {
    margin-top: 0;
}

#service_docs, #service_log_narco_docs, #service_log_psycho_docs {
    margin-top: 10px;

    > a {
        float: left;
        position: relative;
        margin-right: 10px;

        i {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            text-shadow: 0 0 2px #000, 0 0 4px #fff;
            font-size: 20px;

            &:hover {
                font-size: 25px;
            }
        }

        .fa-times {
            color: #a00;

            &:hover {
                color: #c33;
            }
        }
    }
}

.bg-error {
    background: #a00;
    color: #fff;
}

#ban_counter {
    font-size: 60px;
}

.fa-check {
    cursor: pointer;
}

.cost {
    font-size: 22px;
}

.min_col label {
    margin-bottom: 0;
}

.progress {
    display: none;
}

.grey {
    color: grey;
}

.day {
    color: green;
}

.datepicker {
    table tr td {
        &.today.highlighted {
            background: darken(#d9edf7, 20%);
        }
    }
}

.noborder  {
    border-collapse: inherit;
    tr, td{
        border: none  !important;
    }
}

.well {
    .text-info {
        color: #009dd9 !important;
    }
}
