{% extends "AdminBundle::_item.html.twig" %}
{% trans_default_domain entity_name_s %}
{% block content %}
    <div class="page-header">
        <h1>{{ ('titles.'~(app.request.get('_route') == router_item_edit ? 'edit' : 'add'))|trans }}</h1>
    </div>

    {% if image_form %}
        {{ form_start(image_form, { action: path('admin_skeleton_image_upload_ajax') }) }}
        <div class="form-group">
            {{ form_label(image_form.uploadFile, 'image_uploadFile', { label_attr: { class: 'col-sm-3 control-label' } }) }}
            <div class="col-sm-9">
                <div id="image_view" class="clearfix"></div>
                <span class="btn btn-default fileinput-button">
                    <span>{{ 'image_uploadFile_btn'|trans({}, 'messages') }}</span>
                    {{ form_widget(image_form.uploadFile) }}
                </span>
                <div id="image-progress" class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
                        <span>{{ 'uploading'|trans({}, 'messages') }}</span>
                    </div>
                </div>
                <span class="upload-fail"></span>
                {{ form_widget(image_form) }}
            </div>
        </div>
        {{ form_end(image_form) }}
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.active) }}
    {% if form.id is defined %}{{ form_row(form.id) }}{% endif %}
    {{ form_row(form.code) }}
    {{ form_row(form.name) }}
    {{ form_row(form.desc) }}
    {{ form_row(form.price) }}

    <table style="margin-left: 96px;">
        <tr>
            <td>{{ form_row(form.revisit_price) }}</td>
            <td class="min_col">{{ form_row(form.is_not_revisit_price) }}</td>
        </tr>
        <tr>
            <td>{{ form_row(form.duplicate_price) }}</td>
            <td class="min_col">{{ form_row(form.is_not_duplicate_price) }}</td>
        </tr>
    </table>

    {{ form_row(form.lifetime) }}
    {{ form_row(form.reference_type) }}

    <div id="driver_reference_block">
        {{ form_row(form.is_eeg_conclusion) }}
        {{ form_row(form.is_gnoch) }}
    </div>

    {{ form_errors(form) }}
    {% block fields '' %}
    {{ form_rest(form) }}
    {% block extra_fields %}
        <hr style="border-width: 5px">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="subjects">Услуги</label>
            <div class="col-sm-9">
                <div id="user_ips" class="collection_field_s"
                     data-prototype="&lt;div class=&quot;form-group&quot;&gt;&lt;div class=&quot;col-sm-11 form-inline&quot;&gt;&lt;div class=&quot;input-group col-sm-10&quot;&gt;&lt;input name=&quot;subjects[__name__]&quot; class=&quot;form-control&quot; type=&quot;text&quot;&gt;&lt;/div&gt; &lt;div class=&quot;checkbox&quot;&gt;&lt;label&gt;&lt;input name=&quot;subjects_bold[__name__]&quot; type=&quot;checkbox&quot;&gt; Выделить?&lt;/label&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;">
                    {% for key, subject in entity.subjects %}
                        <div class="form-group">
                            <div class="col-sm-11 form-inline">
                                <div class="input-group col-sm-10">
                                    <input name="subjects[{{ key }}]" class="form-control" type="text"
                                           value="{{ subject[0] }}">
                                </div>
                                <div class="checkbox">
                                    <label><input name="subjects_bold[{{ key }}]"
                                                  type="checkbox"{{ subject[1] ? ' checked="checked"' : '' }}> Выделить?</label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="duplicates">Дубликаты</label>
            <div class="col-sm-9">
                <div id="user_ips" class="collection_field_d"
                     data-prototype="&lt;div class=&quot;form-group&quot;&gt;&lt;div class=&quot;col-sm-11 form-inline&quot;&gt;&lt;div class=&quot;input-group col-sm-10&quot;&gt;&lt;input name=&quot;duplicates[__name__]&quot; class=&quot;form-control&quot; type=&quot;text&quot;&gt;&lt;/div&gt; &lt;div class=&quot;checkbox&quot;&gt;&lt;label&gt;&lt;input name=&quot;duplicates_bold[__name__]&quot; type=&quot;checkbox&quot;&gt; Выделить?&lt;/label&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;">
                    {% for key, duplicate in entity.duplicates %}
                        <div class="form-group">
                            <div class="col-sm-11 form-inline">
                                <div class="input-group col-sm-10">
                                    <input name="duplicates[{{ key }}]" class="form-control" type="text"
                                           value="{{ duplicate[0] }}">
                                </div>
                                <div class="checkbox">
                                    <label><input name="duplicates_bold[{{ key }}]"
                                                  type="checkbox"{{ duplicate[1] ? ' checked="checked"' : '' }}>
                                        Выделить?</label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="medical_center_errors">Ошибки медицинского центра</label>
            <div class="col-sm-9">
                <div id="user_ips" class="collection_field_m"
                     data-prototype="&lt;div class=&quot;form-group&quot;&gt;&lt;div class=&quot;col-sm-11 form-inline&quot;&gt;&lt;div class=&quot;input-group col-sm-10&quot;&gt;&lt;input name=&quot;medical_center_errors[__name__]&quot; class=&quot;form-control&quot; type=&quot;text&quot;&gt;&lt;/div&gt; &lt;div class=&quot;checkbox&quot;&gt;&lt;label&gt;&lt;input name=&quot;medical_center_errors_bold[__name__]&quot; type=&quot;checkbox&quot;&gt; Выделить?&lt;/label&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;">
                    {% for key, medical_center_error in entity.medicalCenterErrors %}
                        <div class="form-group">
                            <div class="col-sm-11 form-inline">
                                <div class="input-group col-sm-10">
                                    <input name="medical_center_errors[{{ key }}]" class="form-control" type="text"
                                           value="{{ medical_center_error[0] }}">
                                </div>
                                <div class="checkbox">
                                    <label><input name="medical_center_errors_bold[{{ key }}]"
                                                  type="checkbox"{{ medical_center_error[1] ? ' checked="checked"' : '' }}>
                                        Выделить?</label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <hr style="border-width: 5px">

        {% if discounts %}
            <fieldset>
                <legend>Цены для услуги со скидками:</legend>
                {% for discount in discounts %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label"
                               for="discount_{{ discount.id }}">{{ discount.name }}</label>
                        <div class="col-sm-9 form-inline">
                            <div class="input-group col-sm-2">
                                <input id="discount_{{ discount.id }}" name="s_discounts[{{ discount.id }}]"
                                       class="form-control"
                                       value="{{ s_discounts[discount.id] is defined ? s_discounts[discount.id] : 0 }}"
                                       type="text">
                                <span class="input-group-addon">руб.</span>
                            </div>
                            <div class="checkbox">
                                <label><input name="s_discounts_active[{{ discount.id }}]"
                                              type="checkbox"{{ s_discounts_active[discount.id] is defined and s_discounts_active[discount.id] ? ' checked="checked"' : '' }}>
                                    Активна?</label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
        {% endif %}
    {% endblock extra_fields %}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {% block buttons %}
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    <span>{{ ('buttons.save')|trans }}</span>
                </button>
                <a class="btn btn-default pull-right" href="{{ path(router_list) }}"><i
                            class="fa fa-arrow-left"></i> {{ ('buttons.back')|trans }}</a>
            {% endblock buttons %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}

{% block js %}
    <script>

        $(function () {

            var discount = $('#service_is_discount');
            var min_price = $('#service_min_price').closest('.form-group');

            var discount_change = function () {
                min_price.toggle(discount.is(':checked'));
            };
            discount.on('change', discount_change);
            discount_change();

            var collection_add = function (cntr) {
                var prototype = cntr.data('prototype');
                prototype = prototype.replace(/__name__/g, cntr.find(':input').length - 1);
                cntr.append(prototype);
            };
            $('.collection_field_s')
                    .prepend('<button class="btn btn-default collection_add_s" style="float:right" type="button"><i class="fa fa-plus"></i></button>')
                    .each(function () {
                        if ($(this).find(':input').length == 1) {
                            collection_add($(this));
                        }
                    })
            ;
            $('.collection_add_s').click(function (e) {
                e.preventDefault();
                collection_add($(this).closest('.collection_field_s'));
            });


            $('.collection_field_m')
                    .prepend('<button class="btn btn-default collection_add_m" style="float:right" type="button"><i class="fa fa-plus"></i></button>')
                    .each(function () {
                        if ($(this).find(':input').length == 1) {
                            collection_add($(this));
                        }
                    })
            ;
            $('.collection_add_m').click(function (e) {
                e.preventDefault();
                collection_add($(this).closest('.collection_field_m'));
            });


            $('.collection_field_d')
                    .prepend('<button class="btn btn-default collection_add_d" style="float:right" type="button"><i class="fa fa-plus"></i></button>')
                    .each(function () {
                        if ($(this).find(':input').length == 1) {
                            collection_add($(this));
                        }
                    })
            ;
            $('.collection_add_d').click(function (e) {
                e.preventDefault();
                collection_add($(this).closest('.collection_field_d'));
            });


            var service_reference_type = $('#service_reference_type');
            var driver_reference_block = $('#driver_reference_block');
            var service_is_eeg_conclusion = $('#service_is_eeg_conclusion');
            var service_is_gnoch = $('#service_is_gnoch');

            function onChangeReferenceType() {
                if(service_reference_type.val()) {
                    driver_reference_block.show();
                } else {
                    service_is_eeg_conclusion.removeAttr('checked');
                    service_is_gnoch.removeAttr('checked');
                    driver_reference_block.hide();
                }
            };

            service_reference_type.on('change', onChangeReferenceType);
            onChangeReferenceType();

        });
    </script>
{% endblock js %}
