{% extends "AdminBundle::_list.html.twig" %}
{% trans_default_domain entity_name_s %}

{% block row_value %}
    {% if field[0] is defined and field[0] == 'price' %}
        {{ value|number_format }}
    {% else %}
        {{ value }}
    {% endif %}
{% endblock row_value %}

{% block links %}
    <a href="{{ path('admin_services_up', { id: entity.id }) }}" class="nodecor text-info"><i class="fa fa-arrow-up"></i></a>
    <a href="{{ path('admin_services_down', { id: entity.id }) }}" class="nodecor text-info"><i class="fa fa-arrow-down"></i></a>
    <a href="{{ path(router_item_edit, { id: entity.id }) }}" class="text-success"><i class="fa fa-pencil-square-o"></i></a>
{% endblock links %}
