{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Оказанные услуги не в конвертах</h1>
    </div>

    {% if items|length > 0 %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="min_col">Дата и время</th>
            <th>Услуга</th>
            <th>Филиал</th>
            <th>Рабочее место</th>
            <th>Касса</th>
            <th class="min_col">Сумма (руб.)</th>
        </tr>
        </thead>
        <tbody>
        {% set sum = 0 %}
        {% for item in items %}
            <tr {% if item.sum < 0 %} class='bg-danger' {% endif %}>
                <td class="min_col">{{ item.created_at|date('Y-m-d H:i')}}</td>
                <td>{{ item.service }}</td>
                <td>{{ item.filial }}</td>
                <td>{{ item.workplace }}</td>
                <td>{{ item.cashbox }}</td>
                <td class="min_col text-right">{{ item.sum|number_format }}</td>
            </tr>
            {% set sum = sum + item.sum %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-right"><b>Итоговая сумма: {{ sum|number_format }}</b></td>
            </tr>
        </tfoot>
    </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}
