{% extends "AdminSkeletonBundle::_item.html.twig" %}
{% trans_default_domain entity_name_s %}

{% block buttons %}
    <button type="submit" class="btn btn-success">
        <i class="fa fa-download"></i>
        <span>{{ ('buttons.save')|trans }}</span>
    </button>
    {% if app.request.get('_route') == router_item_edit and blanks_cnt == 0 %}
        <a href="{{ path(router_item_delete, { id: entity.id }) }}" class="btn btn-danger" onclick="return confirm('{{ 'you_sure'|trans({}, 'messages') }}')">
            <i class="fa fa-trash-o"></i> <span>{{ ('buttons.delete')|trans }}</span>
        </a>
    {% endif %}

    <a class="btn btn-default pull-right" href="{{ path(router_list) }}"><i class="fa fa-arrow-left"></i> {{ ('buttons.back')|trans }}</a>
{% endblock buttons %}
