{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>
            {% if type == 'on-hands' %}
                Бланки на руках у оператора
            {% elseif type == 'cancelled' %}
                Бланки испорченные оператором
            {% elseif type == 'lost' %}
                Бланки утерянные оператором
            {% endif %}
        </h1>

        <dl class="dl-horizontal">
            <dt>Оператор:</dt>
            <dd>{{ operator.fullName }}</dd>

            <dt>Юрлицо:</dt>
            <dd>{{ legal.name }}</dd>

            <dt>Код юрлица:</dt>
            <dd>{{ legal.shortName }}</dd>

            <dt>Тип бланка:</dt>
            <dd>{{ ref_type.name }}</dd>
        </dl>

    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    Серия
                </th>
                <th>
                    Номер
                </th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for blank in pagerfanta.currentPageResults %}
                <tr>
                    <td>
                        {{ (blank.serie ? blank.serie : 'нет серии') }}
                    </td>
                    <td>
                        {{ blank.number }}
                    </td>
                    <td class="min_col">
                        <a href="{{ path('rm_report_blanks_view_logs_for_blank', { id: blank.id }) }}" class="text-info"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
    <a class="btn btn-default pull-right" href="{{ path('rm_report_blanks') }}"><i class="fa fa-arrow-left"></i>  Назад</a>
{% endblock content %}
