{% extends 'AppBundle::_list.html.twig' %}

{% set trans_default = 'reporting_for_reference' %}

{% block content %}
    <div class="page-header">
        <h1>Отчетность по бланкам на руках</h1>
    </div>

    <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
    <div id="filter">
        {{ form_start(filter_form) }}
        {{ form_widget(filter_form) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default pull-right">
                    <i class="fa fa-filter"></i>
                    <span>Отфильтровать</span>
                </button>
            </div>
        </div>
        {{ form_end(filter_form) }}
    </div>
    <br>


    {% if operators|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">
                    Ф.И.О.
                </th>
                <th class="min_col text-left">
                    Код юрлица
                </th>
                <th class="min_col text-left">
                    Тип бланка
                </th>
                <th class="min_col text-left">
                    На руках
                </th>
                <th class="min_col text-left">
                    Испорчены
                </th>
                <th class="min_col text-left">
                    Утеряны
                </th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for operator in operators %}
                {% set o_id = operator.id %}
                {% for leg_id, legal_data in op_legals_blank_data[o_id] %}
                    {% for rt_id, rt_data in legal_data %}
                    <tr>
                        <td class="min_col text-left">
                            {{ operator.fullName }}
                        </td>
                        <td class="min_col text-left">
                            {{ legal_names[leg_id] }}
                        </td>
                        <td class="min_col text-left">
                            {{ type_names[rt_id] }}
                        </td>
                        <td class="min_col text-right">
                            <a href="{{ path('rm_report_blanks_list_for_type', { id: o_id, leg_id: leg_id, ref_id:rt_id, type:'on-hands' }) }}" class="text-success">
                                {{ rt_data['cnt_accept'] }}
                            </a>
                        </td>
                        <td class="min_col text-right">
                            <a href="{{ path('rm_report_blanks_list_for_type', { id: o_id, leg_id: leg_id, ref_id:rt_id, type:'cancelled' }) }}" class="text-info">
                                {{ rt_data['cnt_cancelled'] }}
                            </a>
                        </td>
                        <td class="min_col text-right">
                            <a href="{{ path('rm_report_blanks_list_for_type', { id: o_id, leg_id: leg_id, ref_id:rt_id, type:'lost' }) }}" class="text-danger">
                                {{ rt_data['cnt_lost'] }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
