{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>История бланка</h1>
        <table>
            <tr>
                <td class="text-left">Ф.И.О.:</td>
                {#<td>{{ operator.fullName }}</td>#}
            </tr>
            <tr>
                <td class="text-left">Тип бланка:&nbsp;</td>
                <td>{{ ref_type.name }}</td>
            </tr>
            <tr>
                <td class="text-left">Серия:</td>
                <td>{{ blank.serie }}</td>
            </tr>
            <tr>
                <td class="text-left">Номер:</td>
                <td>{{ blank.number }}</td>
            </tr>
            <tr>
                <td class="text-left">Юр. лицо:</td>
                <td>{{ legal.name }}</td>
            </tr>
        </table>
    </div>

    {% if logs|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col">
                    Дата
                </th>
                <th>
                    Действие
                </th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td class="min_col">
                        {{ log.createdAt|localizeddate('medium') }}
                    </td>
                    <td>
                        {{ stat_data[log.id] }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
    <a class="btn btn-default pull-right" href="{{ referer }}"><i class="fa fa-arrow-left"></i>  Назад</a>
{% endblock content %}
