{% extends "AdminBundle::_item.html.twig" %}
{% block extra_fields %}
    {% if services %}
        <fieldset>
            <legend>Цены для услуг со скидкой:</legend>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 form-inline">
                    <div class="input-group col-sm-2"> </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="checkAll" id="checkAllCheckbox"
                            onclick="$('.discount_checkbox').prop('checked', this.checked)">
                            Отметить всё</label>
                    </div>
                </div>
            </div>
            {% for service in services %}
                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="service_{{ service.id }}_discount">{{ service.name }}</label>
                    <div class="col-sm-9 form-inline">
                        <div class="input-group col-sm-2">
                            <input id="service_{{ service.id }}_discount" name="discounts[{{ service.id }}]"
                                   class="form-control"
                                   value="{{ discounts[service.id] is defined ? discounts[service.id] : 0 }}"
                                   type="text">
                            <span class="input-group-addon">руб.</span>
                        </div>
                        <div class="checkbox">
                            <label><input onclick="$('#checkAllCheckbox').prop('checked', false)"
                                          class="discount_checkbox" name="discounts_active[{{ service.id }}]"
                                          type="checkbox"{{ discounts_active[service.id] is defined and discounts_active[service.id] ? ' checked="checked"' : '' }}>
                                Активна?</label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </fieldset>
    {% endif %}
{% endblock extra_fields %}



