{% extends "AdminSkeletonBundle::_list.html.twig" %}

{% block links %}
    <a href="{{ path('admin_discount_up', { id: entity.id }) }}" class="nodecor text-info"><i class="fa fa-arrow-up"></i></a>
    <a href="{{ path('admin_discount_down', { id: entity.id }) }}" class="nodecor text-info"><i class="fa fa-arrow-down"></i></a>
    <a href="{{ path(router_item_edit, { id: entity.id }) }}" class="text-success"><i class="fa fa-pencil-square-o"></i></a>
{% endblock links %}
