{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Добавить оператора</h1>
    </div>

    {{ form_start(form) }}
    {{ form_row(form.predecessor) }}
    {{ form_row(form.successor) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-lg btn-success">Подтвердить</button>
            <a class="btn btn-lg btn-default pull-right" href="{{ path('replacer__replacements__list') }}">
                <i class="fa fa-arrow-left"></i> Назад к списку
            </a>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock content %}


{% block js %}
<script>
$(function() {
    var select_predecessor = $('#form_predecessor');
    var select_successor   = $('#form_successor');
    select_successor.find('option').hide();

    var onChangePredecessor = function() {
        select_successor.find('option').show();
        var i = select_predecessor.val();
        select_successor.find('option[value="'+i+'"]').hide();
        select_successor.prop('selectedIndex', 0);
    };

    select_predecessor.on('change', onChangePredecessor);
})
</script>
{% endblock js %}
