{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('replacer__replacement__add') }}"><i class="fa fa-plus"></i> Добавить</a>
        <h1>Замена операторов</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>

                <th>Заменяемый оператор</th>
                <th>Заменяющий оператор</th>
                <th class="min_col"></th>

            </tr>
            </thead>
            <tbody>
            {% for user in pagerfanta.currentPageResults %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ user.successor }}</td>
                    <td class="min_col">
                        <a href="{{ path('replacer__replacement__delete', { id: user.id }) }}" class="text-success"><i class="fa fa-times text-danger"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
