{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Логи замены операторов</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Заменяемый оператор</th>
                <th>Заменяющий оператор</th>
                <th>Время начала</th>
                <th>Время окончания</th>
            </tr>
            </thead>
            <tbody>
            {% for log in pagerfanta.currentPageResults %}
                <tr>
                    <td>{{ log.predecessor }}</td>
                    <td>{{ log.successor }}</td>
                    <td>{{ log.createdAt|localizeddate('long', 'short') }}</td>
                    <td>{% if log.removedAt is not null %}{{ log.removedAt|localizeddate('long', 'short') }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
