{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Забрать конверты</h1>
    </div>
    {% if envelopes %}
        {{ form_start(form) }}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col">#</th>
                <th class="min_col">Дата и время формирования</th>
                <th>Рабочее место</th>
                <th class="min_col">Сумма (руб.)</th>
                <th class="min_col"><i id="check_all" class="fa fa-check"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for envelope in envelopes %}
                <tr>
                    <td class="min_col">{{ envelope.id }}</td>
                    <td class="min_col">{{ envelope.createdAt|localizeddate('long', 'short') }}</td>
                    <td>{{ envelope.workplace }}</td>
                    <td class="min_col text-right">{{ envelope.sum|number_format }}</td>
                    <td class="min_col">{{ form_widget(form.envelopes[loop.index0], { attr: { 'data-sum': envelope.sum } }) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if form.envelopes.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                <ul class="list-unstyled">
                    {%- for error in form.envelopes.vars.errors -%}
                        <li><span class="fa fa-exclamation-triangle"></span> {{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </div>
        {% endif %}
        <div class="form-group">
            <a href="{{ path('supervisor_get_evelopes') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> К списку</a>
            <button type="submit" class="btn btn-success pull-right">Забрать <span>0</span> руб.</button>
        </div>
        {{ form_end(form) }}
    {% elseif app.request.get('id') %}
        {{ 'no_data'|trans }}
        <hr>
        <a href="{{ path('supervisor_get_evelopes') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> К списку</a>
    {% endif %}
{% endblock content %}

{% block js %}
<script>
$(function() {
    $('#id').change(function() {
        $(this).closest('form').submit();
    });

    var check_all = $('#check_all');
    var envelopes = check_all.closest('form').find(':checkbox');
    var submit = check_all.closest('form').find(':submit');

    var count_sum = function() {
        var sum = 0;
        envelopes.filter(':checked').each(function() {
            sum += $(this).data('sum');
        });
        $('span', submit).text(sum);
    };
    envelopes.change(count_sum);
    count_sum();

    check_all.click(function() {
        envelopes.prop('checked', true);
        count_sum();
    });
});
</script>
{% endblock js %}
