{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Забрать конверты</h1>
    </div>
    {% if couriers %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Курьер</th>
                <th class="min_col">Конвертов</th>
                <th class="min_col">Сумма (руб.)</th>
            </tr>
            </thead>
            <tbody>
            {% for data in couriers %}
                {% set courier = data[0] %}
                <tr>
                    <td><a href="{{ path('supervisor_get_evelopes', { id: courier.id }) }}">{{ courier.fullName }}</a></td>
                    <td class="min_col text-right">{{ data['e_cnt']|number_format }}</td>
                    <td class="min_col text-right">{{ data['e_sum']|number_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}
