{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>На руках</h1>
    </div>

    {% if envelopes %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="min_col text-right">Номер конверта</th>
                    <th>Курьер</th>
                    <th class="min_col text-right">Сумма (руб.)</th>
                    <th class="min_col"></th>
                </tr>
            </thead>
            <tbody>
            {% set sum = 0 %}
            {% for envelope in envelopes %}
                <tr>
                    <td class="min_col text-right">{{ envelope.id }}</td>
                    <td>{{ envelope.courier }}</td>
                    <td class="min_col text-right">{{ envelope.sum|number_format }}</td>
                    <td class="min_col">
                        <a href="{{ path('supervisor_view_evelope', {id : envelope.id}) }}"><i class="fa fa-eye fa-fw"></i></a>
                        <a href="{{ path('supervisor_take_evelope', {id : envelope.id}) }}"><i class="fa fa-check-square-o fa-fw"></i></a>
                    </td>
                </tr>
                {% set sum = sum + envelope.sum %}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3" class="text-right">Итого: {{ sum|number_format }}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}
