{% extends "AdminSkeletonBundle::_list.html.twig" %}

{% block add_button %}
    <a href="{{ path(router_item_add, { tag_category: tag_category }) }}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Добавить</a>
{% endblock add_button %}

{% block links %}
    <a href="{{ path(router_item_edit, { tag_category: tag_category, id: entity.id }) }}" class="text-success"><i class="fa fa-pencil-square-o"></i></a>
{% endblock links %}

{% block end_content %}
    <a class="btn btn-default pull-right" href="{{ path('admin_consumable_tag_categories') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
{% endblock end_content %}
