{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Забрать конверты</h1>
    </div>
    {% if filials %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Филиал</th>
                <th class="min_col">Конвертов</th>
                <th class="min_col">Сумма (руб.)</th>
            </tr>
            </thead>
            <tbody>
            {% for data in filials %}
                {% set filial = data[0] %}
                <tr>
                    <td><a href="{{ path('courier_get_evelopes', { id: filial.id }) }}">{{ filial.name }}</a></td>
                    <td class="min_col text-right">{{ data['e_cnt'] }}</td>
                    <td class="min_col text-right">{{ data['e_sum']|number_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif app.request.get('id') %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}
