{% extends "AdminSkeletonBundle::_list.html.twig" %}

{% block row_attr -%}
    {{ not entity.active ? ' class="active"' : '' }}
{%- endblock row_attr %}

{% block links %}
    <a href="{{ path(router_item_edit, { id: entity.id }) }}" class="text-success"><i class="fa fa-pencil-square-o"></i></a>
{% endblock links %}
