{% extends 'AdminBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Редактировать тип договора</h1>
    </div>

    <dl class="dl-horizontal">
        <dt>Услуга:</dt>
        <dd>{{ service }}</dd>
        <dt>Филиал:</dt>
        <dd>{{ workplace.filial }}</dd>
        <dt>Рабочее место:</dt>
        <dd>{{ workplace }}</dd>
        <dt>Код юрлица:</dt>
        <dd>{{ workplace.legalEntityShortName }}</dd>
    </dl>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <a class="btn btn-default pull-right" href="{{ path('admin_agreements', { 'workplace': workplace.id }) }}">
                <i class="fa fa-arrow-left"></i> Назад к списку
            </a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}

{% block js %}
<script>
$(function() {
    var form_type      = $('#form_type');
    var form_guarantor = $('#form_guarantor');
    var form_executor  = $('#form_executor');

    function onChangeType() {
        var form_type_val = form_type.val();
        if (form_type_val === 'bilateral') {
            form_guarantor.closest('.form-group').hide();
            form_executor.closest('.form-group').show();
        } else if(form_type_val === 'tripartite') {
            form_guarantor.closest('.form-group').show();
            form_executor.closest('.form-group').show();
        } else {
            form_guarantor.closest('.form-group').hide();
            form_executor.closest('.form-group').hide();
        }
    }

    form_type.on('change', onChangeType);
    onChangeType();
});
</script>
{% endblock js %}

