{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Привязка договоров к услугам</h1>
    </div>

    <dl class="dl-horizontal">
        <dt>Филиал:</dt><dd>{{ workplace.filial }}</dd>
        <dt>Рабочее место:</dt><dd>{{ workplace}}</dd>
        <dt>Код юрлица:</dt><dd>{{ workplace.legalEntityShortName }}</dd>
    </dl>

    {% if services|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-left">Название услуги</th>
                    <th class="text-left">Поручитель</th>
                    <th class="text-left">Исполнитель</th>
                    <th class="min_col text-right"></th>
                </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr {% if not service.active %} class="active" {% endif %}>
                    <td class="text-left">{{ service }}</td>
                    <td class="text-left">{% if service.getFirstAgreement.guarantor is defined and service.getFirstAgreement.guarantor is not empty %}{{ service.getFirstAgreement.guarantor.shortName }}{% endif %}</td>
                    <td class="text-left">{% if service.getFirstAgreement.executor is defined and service.getFirstAgreement.executor is not empty %}{{ service.getFirstAgreement.executor.shortName }}{% endif %}</td>
                    <td class="min_col text-right">
                        {% if service.getFirstAgreement %}
                                    {% if service.getFirstAgreement.type is defined and service.subjects %}
                                        <a target="_blank" title="Просмотр договора стандартной услуги" href="{{ path('admin_agreement_print', {  workplaceId: workplace.id, serviceId: service.id, subject: 'subject' }) }}"><i class="fa fa-eye"></i></a>
                                    {% elseif service.getFirstAgreement.type is defined %}
                                        <i title="Заполните тип договора" class="fa fa-eye text-muted"></i>
                                    {% elseif not service.getFirstAgreement.service.subjects is defined %}
                                        <i title="Заполните поля Услуги в редактировании услуги" class="fa fa-eye text-muted"></i>
                                    {% endif %}

                                    {% if service.getFirstAgreement.type is defined and service.duplicates %}
                                        <a target="_blank" title="Просмотр договора услуги Дубликата" href="{{ path('admin_agreement_print', {  workplaceId: workplace.id, serviceId: service.id, subject: 'duplicate' }) }}"><i class="fa fa-eye"></i></a>
                                    {% elseif service.getFirstAgreement.type is defined %}
                                        <i title="Заполните тип договора" class="fa fa-eye text-muted"></i>
                                    {% elseif not service.getFirstAgreement.service.duplicates is defined %}
                                        <i title="Заполните поля Дубликат в редактировании услуги" class="fa fa-eye text-muted"></i>
                                    {% endif %}

                                    {% if service.getFirstAgreement.type is defined and service.medicalCenterErrors %}
                                        <a target="_blank" title="Просмотр договора услуги Ошибка медцентра" href="{{ path('admin_agreement_print', {  workplaceId: workplace.id, serviceId: service.id, subject: 'medical_center_error' }) }}"><i class="fa fa-eye"></i></a>
                                    {% elseif service.getFirstAgreement.type is defined  %}
                                        <i title="Заполните тип договора" class="fa fa-eye text-muted"></i>
                                    {% elseif not service.getFirstAgreement.service.medicalCenterErrors is defined %}
                                        <i title="Заполните поля Ошибка медцентра в редактировании услуги"  class="fa fa-eye text-muted"></i>
                                    {% endif %}
                        {% else %}
                            {% if service.getAgreements is empty and not service.subjects %}
                                <i title="Заполните тип договора и поля Услуги в редактировании услуги" class="fa fa-eye text-muted"></i>
                            {% elseif service.getAgreements is empty %}
                                <i  title="Заполните поля Услуги в редактировании услуги"  class="fa fa-eye text-muted"></i>
                            {% endif %}

                            {% if service.getAgreements is empty and not service.duplicates %}
                                <i title="Заполните тип договора и поля Дубликат в редактировании услуги" class="fa fa-eye text-muted"></i>
                            {% elseif service.getAgreements is empty %}
                                <i title="Заполните поля Дубликат в редактировании услуги" class="fa fa-eye text-muted"></i>
                            {% endif %}

                            {% if service.getAgreements is empty and not service.medicalCenterErrors %}
                                <i title="Заполните тип договора и поля Ошибка медцентра в редактировании услуги" class="fa fa-eye text-muted"></i>
                            {% elseif service.getAgreements is empty %}
                                <i title="Заполните поля Дубликат в редактировании услуги"  class="fa fa-eye text-muted"></i>
                            {% endif %}
                        {% endif %}
                        <a title="Редактировать тип договора" class='text-success' href="{{ path('admin_agreement_edit_type', { workplace: workplace.id, service: service.id }) }}"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('admin_workplaces') }}">
                <i class="fa fa-arrow-left"></i> Назад к списку
            </a>
        </div>
    </div>

{% endblock content %}
