{% extends "AdminSkeletonBundle::_list.html.twig" %}

{% block links %}
    <a href="{{ path(router_item_edit, { id: entity.id }) }}" class="text-success"><i class="fa fa-pencil-square-o"></i></a>
{% endblock links %}
