{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Расходники</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="min_col">Дата и время<br>последнего обновления</th>
                    <th>Тип документа</th>
                    <th class="min_col">Дата документа</th>
                    <th class="min_col">Архивный номер</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Филиал</th>
                </tr>
            </thead>
            <tbody>
            {% for consumable in pagerfanta.currentPageResults %}
                <tr>
                    <td class="min_col">{{ consumable.updatedAt|date('Y-m-d H:i') }}</td>
                    <td>{{ consumable.docType }}</td>
                    <td class="min_col">{{ consumable.docDate|date('Y-m-d H:i') }}</td>
                    <td class="min_col">{{ consumable.id }}</td>
                    <td>{{ consumable.name }}</td>
                    <td>{{ consumable.description }}</td>
                    <td>{{ consumable.filial }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}

    <a class="btn btn-default pull-right" href="{{ path('supervisor_orders') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
{% endblock content %}
