{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Забрать деньги у ордериста</h1>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <a class="btn btn-default pull-right" href="{{ path('supervisor_orders') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
                <button type="submit" class="btn btn-success">Забрать</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}
