{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Содержимое конверта</h1>
    </div>

    {% if items %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="min_col">Дата и время</th>
                    <th>Услуга</th>
                    <th>Филиал</th>
                    <th>Рабочее место</th>
                    <th>Касса</th>
                    <th>Курьер</th>
                    <th class="min_col text-right">Сумма (руб.)</th>
                    <th class="min_col"></th>
                </tr>
            </thead>
            <tbody>
            {% set sum = 0 %}
            {% for item in items %}
                <tr>
                    <td class="min_col">{{ item.created_at|date('Y-m-d H:i')}}</td>
                    <td>{{ item.service }}</td>
                    <td>{{ item.filial }}</td>
                    <td>{{ item.workplace }}</td>
                    <td>{{ item.cashbox }}</td>
                    <td>{{ item.courier }}</td>
                    <td class="min_col text-right">{{ item.sum }}</td>
                    <td class="min_col">
                    </td>
                </tr>
                {% set sum = sum + item.sum %}
            {%  endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7" class="text-right">Итого: {{ sum|number_format }}</th>
                </tr>
            </tfoot>
        </table>

        {{ form_start(form) }}

        <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success">Расчехлить</button>
        <a class="btn btn-default pull-right" href="{{ path('supervisor_on_hands') }}"><i class="fa fa-arrow-left"></i> Вернуться к списку</a>
        </div>
        </div>

        {{ form_end(form) }}

    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}
