{% if s_data.medical_center_error_id is defined and s_data.medical_center_error_id %}
    {% set menu = ['Основные данные', '', '', '', 'Данные услуги'] %}
{% elseif service.isEegConclusion %}
    {% set menu = ['Основные данные', 'Доп.данные', 'Печать договора', 'Загрузка документов', 'Диагноз ЭЭГ', 'Печать заключения', 'Данные услуги'] %}
{% else %}
    {% set menu = ['Основные данные', 'Доп.данные', 'Печать договора', 'Загрузка документов', 'Данные услуги'] %}
{% endif %}

<ul class="pagination pagination-lg">
    {% for i_menu in menu %}
        {% if i_menu %}
        <li{{ loop.index == step ? ' class="active"' : '' }}><a href="{{ path('service_step', { id: service.id, step: loop.index }) }}">{{ i_menu }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
