<div class="cost">
    <dl class="dl-horizontal">

        {% if s_data['last_name'] is defined %}
            <dt>Ф.И.О.:</dt><dd>{{ s_data['last_name']~' '~s_data['first_name']~' '~s_data['patronymic'] }}</dd>
        {% endif %}

        <dt>Стоимость: </dt><dd>{{ (s_data['sum'] is defined ? s_data['sum'] : service.price)|number_format }} руб.</dd>
        <dt>Тип договора:</dt><dd>{% if agreement.type == 'bilateral' %}Двусторонний{% elseif agreement.type == 'tripartite' %}Трехсторонний{% endif %}</dd>

        {% if agreement.guarantor and agreement.type == 'tripartite' %}
            <dt>Поручитель: </dt><dd>{{ agreement.guarantor.shortName }}</dd>
        {% endif %}

        {% if agreement.executor  %}
            <dt>Исполнитель: </dt><dd>{{ agreement.executor.shortName }}</dd>
        {% endif %}
    </dl>
</div>
<hr>
