<div class="page-header">
    <h1>
        {% if s_data.parent_id %}
            Дубликат<br>
        {%  endif %}
        {% if s_data.medical_center_error_id is defined and s_data.medical_center_error_id %}
            Возврат бланка с опечатками<br>
        {%  endif %}
        {{ service.name }}
    </h1>
</div>
