<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>ДОГОВОР</title>
    <meta charset="{{ _charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.png">
    {% stylesheets '@AppBundle/Resources/public_source/less/05-print.less' filter="?cutcomments,?yui_css" output='bundles/app/css/print.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
</head>
<body>

<div class="container">
{% block container %}
    <h1><b>ДОГОВОР НА ОКАЗАНИЕ ПЛАТНЫХ МЕДИЦИНСКИХ УСЛУГ</b></h1>
    <table class="list">
        <tr>
            <td align="left"><p align="right"><b>г.&nbsp;Москва</b></p></td>
            <td align="right"><p align="right"><b>{{ 'now'|localizeddate('long', 'none') }}</b></p></td>
        </tr>
    </table>

    {{ agreement.executor.name }}
        (ОГРН {{ agreement.executor.ogrn }},
        ИНН {{ agreement.executor.inn }},
        Адрес места регистрации: {{ agreement.executor.address }}б
        Лицензия: {{ agreement.executor.license }}, выдана Департаментом здравоохранения г. Москвы),
        в дальнейшем именуемый «Исполнитель», в лице генерального директора
        {{ agreement.executor.personGenitive }}, действующего на основании Устава, с одной стороны,

    и
        {{ params['last_name'] }}&nbsp;{{ params['first_name'] }}&nbsp;{{ params['patronymic'] }} (паспорт гражданина РФ №
        {{ params['passport'] }}, зарегистрирован(-а) по адресу:
        {{ params['address'] }}, контактный номер телефона
        +7 {{ params['phone'] }} именуемый «Пациент»,
        с другой стороны, заключили настоящий договор  о нижеследующем:

    {% set cnt = 0 %}
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ПРЕДМЕТ ДОГОВОРА </h2>
    <table class="list">
        {% set cnt2 = 0 %}
            <tr>
                <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
                <td>
                    Исполнитель по поручению Пациента обязуется оказать медицинские услуги согласно указанному  перечню, а пациент обязуется оплатить эти услуги в размере, порядке и сроки, которые установлены настоящим Договором. Пациент  также имеет право на получение платных немедицинских услуг (сервисных и иных услуг), предоставляемых Исполнителем дополнительно при оказании медицинских услуг.:
                </td>
            </tr>

        {% if subject == 'medical_center_error' %}
            {% for medical_center_error in service.medicalCenterErrors %}
                <tr>
                    <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
                    <td>
                        {% if medical_center_error[1] %}<b>{% endif %}
                            {{ medical_center_error[0] }}
                        {% if medical_center_error[1] %}</b>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% elseif subject == 'duplicate' %}
            {% for duplicate in agreement.service.duplicates %}
                <tr>
                    <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
                    <td>
                        {% if duplicate[1] %}<b>{% endif %}
                            {{ duplicate[0] }}
                        {% if duplicate[1] %}</b>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% elseif subject == 'subject' %}
            {% for subject in service.subjects %}
                <tr>
                    <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
                    <td>
                        {% if subject[1] %}<b>{% endif %}
                            {{ subject[0] }}
                        {% if subject[1] %}</b>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td><b>Пациент имеет право:</b></td>
        </tr>
        <tr>
            <table class="list">{% set cnt3 = 0 %}
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>На получение медицинских услуг в объеме согласно п. 1 настоящего договора в соответствии с требованиями действующего законодательства РФ, в том числе предъявляемые к качеству медицинских услуг.</td>
                </tr>
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>На полную и достоверную информацию о проводимом обследовании (способы и порядок проведения).</td>
                </tr>
            </table>
        </tr>
        <tr>
            <td><b>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</b></td>
            <td><b>Пациент обязуется:</b></td>
        </tr>
        <tr>
            <table class="list">{% set cnt3 = 0 %}
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>Оплатить услуги Исполнителя в порядке, сроки и на условиях, предусмотренных настоящим договором.</td>
                </tr>
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>Предоставить  полную и достоверную информацию о состоянии здоровья, наличии врожденных, хронических и перенесенных заболеваний  и медицинских документов (заключений) по требованию врача.</td>
                </tr>
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>Пройти дополнительное обследование при наличии медицинских показаний, выявленных при осмотре врачом для подтверждения или уточнения диагноза</td>
                </tr>
            </table>
        </tr>
        <tr>
            <td><b>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</b></td>
            <td><b>Исполнитель имеет право:</b></td>
        </tr>
        <tr>
            <table class="list">{% set cnt3 = 0 %}
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>Получать от Пациента любую информацию, необходимую для выполнения своих обязательств по настоящему договору. В случае не предоставления либо неполного или неверного предоставления Пациентом информации Исполнитель имеет право приостановить исполнения своих обязательств по настоящему договору до предоставления необходимой информации.</td>
                </tr>
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>Направить Пациента на дополнительное обследование при наличии медицинских показаний, обнаруженных в ходе осмотра и зафиксированных в медицинской карте.</td>
                </tr>
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>Получить вознаграждение за оказанные услуги по настоящему Договору. Без согласия Пациента Исполнитель не вправе предоставлять дополнительные медицинские услуги на возмездной основе.</td>
                </tr>
            </table>
        </tr>
        <tr>
            <td><b>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</b></td>
            <td><b>Исполнитель обязуется:</b></td>
        </tr>

        <tr>
            <table class="list">{% set cnt3 = 0 %}
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>
                        Подобрать (или заполнить)  на основании документа, удостоверяющего личность Пациента медицинскую карту пациента (форма № 025/у){% if agreement.guarantor is defined and agreement.guarantor is not empty %} и по поручению {{ agreement.guarantor.name }} выдать на руки Пациенту бланк медицинского заключения о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами, и информировать свидетельствуемого о перечне осмотров и обследований врачами-специалистами, которые необходимо пройти в рамках медицинского освидетельствования, и возможном назначении инструментальных и (или) лабораторных исследований{% endif %}.
                    </td>
                </tr>
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>Провести медицинское освидетельствование Пациента в объеме, указанном в п. 1 настоящего Договора.</td>
                </tr>
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>Соблюдать порядки оказания медицинской помощи, утвержденные Министерством здравоохранения РФ.</td>
                </tr>
                <tr>
                    <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}.</td>
                    <td>Не передавать и не показывать третьим лицам находящуюся у Исполнителя документацию о Пациенте.</td>
                </tr>
            </table>
        </tr>
        <tr>
            <td><b>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</b></td>
            <td>Стороны обязуются хранить в тайне лечебную, финансовую и иную конфиденциальную информацию, полученную от другой стороны при исполнении настоящего Договора.</td>
        </tr>
    </table>


    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ОТВЕТСТВЕННОСТЬ СТОРОН</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>За ненадлежащее и недобросовестное исполнение обязательств по настоящему договору стороны несут ответственность, предусмотренную действующим законодательством РФ.</td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Не исполнение Пациентом рекомендаций и направлений Исполнителя освобождает Исполнителя от обязанности в  организации выдачи медицинского заключения. </td>
        </tr>

        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Исполнитель не несёт ответственность за выдачу заключения, основанного на предоставлении Пациентом недостоверных медицинских документов из других медицинских организаций (заключения нарколога, психоневролога, ЭКГ, ЭЭГ и т.п.).</td>
        </tr>
    </table>

    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ПОРЯДОК РАСЧЕТОВ</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Стоимость медицинских услуг по договору составляет
                {{ (params['sum_online'] is defined ? params['sum_online'] : params['sum'])|number_format }}
                {{ (params['sum_online'] is defined ? params['sum_online'] : params['sum'])|getRubles }} рублей.

            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Оплата за оказываемые услуги производится путем внесения в кассу Исполнителя наличного платежа либо безналичного перечисления денежных средств на расчетный счет Исполнителя в размере 100% суммы, согласно п. 4.1. после подписания настоящего Договора до оказания услуг.</td>
        </tr>

        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>В случае досрочного расторжения договора по инициативе Пациента, Исполнителю возмещаются фактически понесенные расходы.</td>
        </tr>

        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>В случае досрочного расторжения договора по инициативе Пациента, Исполнителю возмещаются фактически понесенные расходы.</td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Предоставление Исполнителем дополнительных услуг оформляется дополнительным соглашением Сторон и оплачивается дополнительно.</td>
        </tr>
    </table>

    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. СРОК ДЕЙСТВИЯ ДОГОВОРА</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Договор вступает в силу с момента подписания и действует до исполнения обязательств сторонами.</td>
        </tr>
    </table>


    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Все условия, не предусмотренные настоящим Договором, регулируются действующим законодательством РФ.</td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Настоящий Договор составлен в двух экземплярах по одному для каждой из сторон.</td>
        </tr>
    </table>


    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ПОДПИСИ СТОРОН:</h2>
    <table class="bordered">
        <tr>
            <td align="left"><p align="left"><b>Исполнитель</b></p></td>
            <td align="right"><p align="right"><b>Пациент</b></p></td>
        </tr>
        <tr>
            <td align="left"><p align="left">{{ agreement.executor.person }} <br>____________________</p></td>
            <td align="right"><p align="right">{{ params['last_name'] }}&nbsp;{{ params['first_name'] }}&nbsp;{{ params['patronymic'] }} <br>____________________</p></td>
        </tr>
    </table>

    <hr>

    <b>Добровольно в соответствии с ФЗ от 21.11.2011 г. № 323-ФЗ «Об основах охраны здоровья граждан в РФ», даю свое согласие на оказание платных медицинских услуг.</b>
    <table class="bordered">
        <tr>
            <td align="left"><p align="left">Дата: {{ 'now'|localizeddate('long', 'none') }}</p></td>
        </tr>
        <tr>
            <td align="left"><p align="left">{{ params['last_name'] }}&nbsp;{{ params['first_name'] }}&nbsp;{{ params['patronymic'] }} ____________________</p></td>
        </tr>
    </table>

    <div style="page-break-before: always;"></div>

    <h1><b>АКТ-НАПРАВЛЕНИЕ О ВЫПОЛНЕННЫХ РАБОТАХ <br>к договору на оказание платных медицинских услуг от {{ 'now'|localizeddate('long', 'none') }}</b></h1>
    <table class="list">
        <tr>
            <td align="left"><p align="left"><b>г.&nbsp;Москва</b></p></td>
            <td align="right"><p align="right"><b>{{ 'now'|localizeddate('long', 'none') }}</b></p></td>
        </tr>
    </table>

    {{ agreement.executor.name }}
    ({% if agreement.executor.ogrn is defined %} ОГРН {{ agreement.executor.ogrn }}, {% endif %}ИНН {{ agreement.executor.inn }},
    Адрес места регистрации: {{ agreement.executor.address }}б
    Лицензия: {{ agreement.executor.license }}, ыдана Департаментом здравоохранения г. Москвы),
    в дальнейшем именуемый «Исполнитель», в лице генерального директора
    {{ agreement.executor.personGenitive }}, действующего на основании Устава, с одной стороны,

    и
    {{ params['last_name'] }}&nbsp;{{ params['first_name'] }}&nbsp;{{ params['patronymic'] }} (паспорт гражданина РФ №
    {{ params['passport'] }}, зарегистрирован(-а) по адресу:
    {{ params['address'] }}, контактный номер телефона
    +7 {{ params['phone'] }} именуемый «Пациент»,
    с другой стороны, заключили настоящий договор  о нижеследующем:

    <table class="list">
        {% set cnt = 0 %}
        <tr>
            <td>{% set cnt = cnt + 1 %}{{ cnt }}.</td>
            <td>
                Исполнитель оказал медицинские услуги согласно перечню, указанному в  п. 1. Договора, а Пациент оплатил указанные услуги в полном объеме
            </td>
        </tr>
        <tr>
            <td>{% set cnt = cnt + 1 %}{{ cnt }}.</td>
            <td>
                Пациент к качеству оказанных услуг претензий не имеет.
            </td>
        </tr>
        <tr>
            <td>{% set cnt = cnt + 1 %}{{ cnt }}.</td>
            <td>
                Настоящий акт подписан в 2-х экземплярах, по 1-му экземпляру для каждой стороны, и является неотъемлемой частью договора об оказании платных медицинских услуг.
            </td>
        </tr>
    </table>

    <h2>ПОДПИСИ СТОРОН:</h2>
    <table class="bordered">
        <tr>
            <td align="left"><p align="left"><b>Исполнитель</b></p></td>
            <td align="right"><p align="right"><b>Пациент</b></p></td>
        </tr>
        <tr>
            <td align="left"><p align="left">{{ agreement.executor.person }} <br>____________________</p> </td>
            <td align="right"><p align="right">{{ params['last_name'] }}&nbsp;{{ params['first_name'] }}&nbsp;{{ params['patronymic'] }} <br>____________________</p></td>
        </tr>
    </table>
    <br>
    <hr>
    <h2>
    СОГЛАСИЕ<br>
    НА ОБРАБОТКУ И ПЕРЕДАЧУ  ПЕРСОНАЛЬНЫХ ДАННЫХ<br>
    в соответствии с Федеральным законом « О персональных данных» от 27.07.2006 г. № 152-ФЗ<br>
    </h2>

    Я, {{ params['last_name'] }}&nbsp;{{ params['first_name'] }}&nbsp;{{ params['patronymic'] }} паспорт  гражданина РФ №
    {{ params['passport'] }}, зарегистрирован(-а) по адресу:
    {{ params['address'] }}, настоящим даю свое согласие на обработку в
    {{ agreement.executor.name }} (далее Организация) моих персональных данных, относящихся исключительно к перечисленным ниже категориям персональных данных:
    <ul>
        <li>паспортные данные;</li>
        <li>данные, содержащиеся в договоре об оказании платных образовательных услуг;</li>
        <li>адрес  места жительства и регистрации;</li>
        <li>прочие данные, относящиеся к заключению договора.</li>
    </ul>

    <br>
    Я даю согласие на использование моих персональных данных исключительно в следующих целях:
    <ul>
        <li>обеспечение организации оказания платных медицинских услуг согласно условиям договора;</li>
        <li>выдачи медицинского заключения по результатам медицинского освидетельствования;</li>
        <li>передача персональных данных организациям - партнерам, взаимодействующим в процессе исполнения обязательств по договору об оказании платных медицинских услуг;</li>
        <li>Настоящее согласие предоставляется на осуществление сотрудниками организации следующих действий в отношении моих персональных данных: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование (только в указанных выше целях), обезличивание, блокирование, уничтожение. Срок обработки  персональных данных вышеперечисленным способом – бессрочно.</li>
        <li>Я подтверждаю, что, давая настоящее согласие, я действую по своей воле и в своих интересах.</li>
    </ul>
    <br>

    <table class="bordered">
        <tr>
            <td align="left" colspan="2">
                <p align="left">Дата: {{ 'now'|localizeddate('long', 'none') }}</p>
                <p align="left">{{ params['last_name'] }}&nbsp;{{ params['first_name'] }}&nbsp;{{ params['patronymic'] }} ____________________</p>
            </td>
        </tr>
    </table>
{% endblock container %}
</div>

{% if admin is not defined %}
<script>
window.onload = function() {
    window.print();
};
</script>
{% endif %}

</body>
</html>
