<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>МЕДИЦИНСКОЕ ЗАКЛЮЧЕНИЕ</title>
    <meta charset="{{ _charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.png">
    {% stylesheets '@AppBundle/Resources/public_source/less/05-print.less' filter="?cutcomments,?yui_css" output='bundles/app/css/print.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
</head>
<body>

<div class="container">
    {% block container %}
        {% set cnt = 0 %}
        <h1>ДОГОВОР № {{ params['num'] }} от {{ 'now'|localizeddate('long', 'none') }}<br>возмездного оказания медицинских услуг</h1>

        {% block title %}
            МЕДИЦИНСКИЙ ЦЕНТР {{ workplace.legalEntity.name }}, именуемый в дальнейшем «ИСПОЛНИТЕЛЬ» действующего на основании Лицензии {{ workplace.legalEntity.license }} в лице {{ operatorName }} на основании доверенности {{ operatorPowerAttorney }} с  одной стороны и физическое лицо {{ params['last_name'] }} {{ params['first_name'] }} {{ params['patronymic'] }}, {{ (params['sex'] == 2 ? 'именуемая' : 'именуемый') }} в дальнейшем «КЛИЕНТ» с другой стороны, заключили настоящий договор о нижеследующем:
        {% endblock title %}

        {% if params.eeg_conclusion is defined %}
            {{ params.eeg_conclusion|raw }}
        {% endif %}

        <br>

        {% if params.legal_entity is defined %}
           Юр. лицо: {{ params.legal_entity }}
        {% endif %}

        <br>

        {% if params.man_full_name is defined %}
            Врач: {{ params.man_full_name }}
        {% endif %}

        <br>

        {#{% if params.man_full_name_genitive is defined %}#}
            {#{{ params.man_full_name_genitive }}#}
        {#{% endif %}#}

        <h2>{% set cnt = cnt + 1 %}{{ cnt }}. Адреса и реквизиты сторон</h2>
        <table class="requisites">
            <tr>
                <td>
                    <h3>ИСПОЛНИТЕЛЬ:</h3>
                    <br><b>{{ workplace.legalEntity.name }}</b>
                    <br>Лицензия: {{ workplace.legalEntity.license }}
                    <br>Адрес: {{ workplace.legalEntity.address }}
                    <br>Р/С: {{ workplace.legalEntity.checkingAccount }}
                    <br>Банк: {{ workplace.legalEntity.bankName }}
                    <br>К/С: {{ workplace.legalEntity.correspondentAccount }}
                    <br>БИК: {{ workplace.legalEntity.bik }}
                    <br>ИНН/КПП: {{ workplace.legalEntity.inn }} / {{ workplace.legalEntity.kpp }}
                    <br>Телефон: {{ workplace.legalEntity.phone }}
                </td>
                <td>
                    <h3>КЛИЕНТ:</h3>
                    <br><b>{{ params['last_name'] }} {{ params['first_name'] }} {{ params['patronymic'] }}</b>
                    <br>Дата рождения: {{ params['birthday']|localizeddate('long', 'none') }}
                    <br>Адрес: {{ params['address'] }}
                    <br>Паспорт: {{ params['passport'] }}
                    <br>Телефон: +7 {{ params['phone'] }}
                </td>
            </tr>
            <tr>
                <td>{{ operatorName }}</td>
                <td>{{ params['last_name'] }} {{ params['first_name'] }} {{ params['patronymic'] }}</td>
            </tr>
            <tr>
                <td><span>(Подпись)</span></td>
                <td><span>(Подпись)</span></td>
            </tr>
        </table>

    {% endblock container %}
</div>

{% if admin is not defined %}
    <script>
        window.onload = function() {
            window.print();
        };
    </script>
{% endif %}

</body>
</html>
