{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Оказанные услуги</h1>
    </div>

    {% if serviceLogs %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-left">Название услуги</th>
                    <th class="text-left">Код услуги</th>
                    <th class="min_col">Номер</th>
                    <th class="text-left">Поручитель</th>
                    <th class="text-left">Исполнитель</th>
                    <th class="text-left">Паспорт</th>
                    <th class="min_col"></th>
                </tr>
            </thead>
            <tbody>
            {% for serviceLog in serviceLogs %}
                <tr>
                    <td class="text-left">{{ serviceLog.service.name is defined ? serviceLog.service.name : '' }}</td>
                    <td class="text-left">{{ serviceLog.service.code is defined ? serviceLog.service.code : '' }}</td>
                    <td class="text-left">
                        {{ serviceLog.blank.serie is defined ? serviceLog.blank.serie : '' }}
                        {{ serviceLog.blank.number is defined ? serviceLog.blank.number : '' }}
                    </td>

                    <td class="text-left">
                        {% set guarantor = null %}
                        {% if agreements[serviceLog.id] is defined and agreements[serviceLog.id].guarantor is not empty %}
                            {{ agreements[serviceLog.id].guarantor.shortName }}
                            {% set guarantor = agreements[serviceLog.id].guarantor %}
                        {% endif %}
                    </td>
                    <td class="text-left">
                        {% set executor = null %}
                        {% if agreements[serviceLog.id] is defined and agreements[serviceLog.id].executor is not empty %}
                            {{ agreements[serviceLog.id].executor.shortName }}
                            {% set executor = agreements[serviceLog.id].executor %}
                        {% endif %}
                    </td>
                    <td class="text-left">{{ serviceLog.params.passport is defined ? serviceLog.params.passport : '' }}</td>
                    <td class="min_col">
                        {% if serviceLog.blank.legalEntity == executor or serviceLog.blank.legalEntity == guarantor %}
                            <a href="{{ path('service_duplicate_init', { id: serviceLog.id }) }}"><i class="fa fa-play"></i></a>
                        {% else %}
                            <i title='Не совпадает исполнитель' class="fa fa-play"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Не найдено
    {% endif %}
    <hr>
    <a href="{{ path('duplicates') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> Назад к поиску</a>
{% endblock content %}
