{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    {% include 'AppBundle:Operator/Service:_title.html.twig' %}
    {% include 'AppBundle:Operator/Service:_params.html.twig' %}

    {% if service.referenceType %}

        <a href="#" id="toggle_interval">Текущие интервалы</a>
        <table class="table" id="intervals" style="display:none;width:300px">
            {% for serie, intervals in info['intervals'] %}
                <tr>
                    <th colspan="2">
                        {{ serie }}
                    </th>
                </tr>
                {% for interval in intervals %}
                    <tr>
                        <td>
                            {{ interval['interval'] }}
                        </td>
                        <td>
                            {{ interval['amount'] }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <br>

    {% endif %}

    {% include 'AppBundle:Operator/Service:_menu.html.twig' with { step: service.isEegConclusion ? 7 : 5 } %}

    {{ form_start(form) }}
        {% if form.serie is defined %}
            {{ form_row(form.serie) }}
        {% endif %}

        {% if form.num_blank is defined %}
            {{ form_row(form.num_blank) }}
        {% endif %}

        {% if form.num_in_journal is defined %}
            {{ form_row(form.num_in_journal) }}
        {% endif %}

        {% if form.cashbox is defined %}
            {{ form_row(form.cashbox) }}
        {% endif %}

        {% if form.num_check is defined %}
            {{ form_row(form.num_check) }}
        {% endif %}

        {% if form.num_shift is defined %}
            {{ form_row(form.num_shift) }}
        {% endif %}
    {{ form_row(form.comment) }}

        <div class="form-group">
            {{ form_label(form.date_giving) }}
            <div class="col-sm-3">
                <div class="input-group date">
                    {{ form_widget(form.date_giving) }}
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                {{ form_errors(form.date_giving) }}
            </div>
        </div>

        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock content %}

{% block js %}
<script>
$(function() {
    $('#toggle_interval').on('click', function toggle_interval() {
        $('#intervals').toggle();
    });

    $('.input-group.date').datepicker({
        language: 'ru',
        autoclose: true
    });

    {% if not (s_data.medical_center_error_id is defined and s_data.medical_center_error_id) %}
    var select = document.getElementById('form_cashbox');
    var cash_box = '{{ cash_box }}';

    for (var i = 0; i < select.options.length; i++) {
        var option = select.options[i];
        if (option.text == cash_box) {
            select.selectedIndex = i;
        }
    }
    {% endif %}

    $('#form_eeg_conclusion').on('keyup', function(){
        e_len = $(this).val().trim().length;
        e_min_len = Number($(this).attr('minlength'));
        message = e_min_len <= e_len ? '' : ' Обязательное поле. Нужно ввести текст не менее '+e_min_len+' символов';
        this.setCustomValidity(message);
    });

    $('#form_num_blank').select2({
        theme: 'bootstrap',
        minimumInputLength: 3,
        ajax: {
            url: '{{ path('operator_blanks_get_blank_numbers') }}',
            data: function (params) {
                return {
                    number: params.term,
                    serie: $("#form_serie").val(),
                    reference_type: '{{ reference_type }}',
                    page: params.page,
                    stamp: {{ is_stamp ? '1' : '0' }},
                    serviceId: {{ service.id }},
                    workplaceId: {{ workplace.id }}
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                return {
                    results: data.items,
                    pagination: {
                        more: (params.page * 20) < data.total_count
                    }
                };
            }
        }
    })
    {% if init_num_blank %}
        .select2('val', ["{{ init_num_blank }}","{{ init_num_blank }}"], true)
    {% endif %}
    ;
});
</script>
{% endblock js %}






