{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    {% include 'AppBundle:Operator/Service:_title.html.twig' %}
    {% include 'AppBundle:Operator/Service:_params.html.twig' %}
    {% include 'AppBundle:Operator/Service:_menu.html.twig' with { step: 1 } %}

    {{ form(form) }}
{% endblock content %}
