{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    {% include 'AppBundle:Operator/Service:_title.html.twig' %}
    {% include 'AppBundle:Operator/Service:_params.html.twig' %}
    {% include 'AppBundle:Operator/Service:_menu.html.twig' with { step: 2 } %}

    {% if s_data.parent_id %}
        <form name="form" method="post" class="form-group-lg form-horizontal">
            <div id="form" class="form-group-lg">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Родительская справка</label>
                    <div class="col-sm-9">
                        <div id="" class="form-inline">
                            <h3>
                                {% if s_data.parent_serie is defined %}
                                    {{ s_data.parent_serie }}
                                {% endif %}

                                {% if s_data.parent_number is defined %}
                                    {{ s_data.parent_number }}
                                {% endif %}

                                {% if s_data.parent_serie is not defined and s_data.parent_number is not defined %}
                                    -
                                {% endif %}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}

    {{ form_start(form) }}
        {% if form.d_license_date is defined %}
            {{ form_row(form.d_license_date) }}
        {% endif %}

        {% if form.d_license_date is defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label required">Категория прав</label>
                <div class="col-sm-9">
                    <div class="checkbox">  <label class=""><input {% if s_data.parent_id %} disabled {% endif %} type="checkbox" name="checkAll" id="checkAllCheckbox">Выделить все</label></div>
                    {{ form_widget(form.category) }}
                </div>
            </div>
        {% endif %}
        {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock content %}

{% block js %}
<script>
$(function () {
    $('#form_phone').inputmask('+7 (999) 999-99-99', {clearMaskOnLostFocus: false});

    var sum = $('#form_sum_type');
    var discount_comment = $('#form_discount_comment').closest('.form-group');

    var sum_change = function () {
        if (sum.val() != 'main' && sum.val() != 'revisit') {
            discount_comment.show();
        } else {
            discount_comment.hide();
        }
    };
    sum.on('change', sum_change);
    sum_change();

    $('#checkAllCheckbox').click(function() {
        $('input[id^=\'form_category\']' ).prop('checked', this.checked);
    });

    $.each($("input[id^='form_category']" ), function () {
        $(this).change(function() {
            $('#checkAllCheckbox').prop('checked', false);
        })
    });


});
</script>
{% endblock js %}
