{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    {% include 'AppBundle:Operator/Service:_title.html.twig' %}
    {% include 'AppBundle:Operator/Service:_params.html.twig' %}
    {% include 'AppBundle:Operator/Service:_menu.html.twig' with { step: 3 } %}

    <div>
        В новой вкладке открыт договор для печати.
    </div>

    <hr>

    {{ form(form) }}
{% endblock content %}

{% block js %}
    <script>
        $(function() {
            window.open('{{ path('service_print_agreement', { id: service.id }) }}');
        });
    </script>
{% endblock js %}
