{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    {% include 'AppBundle:Operator/Service:_title.html.twig' %}
    {% include 'AppBundle:Operator/Service:_params.html.twig' %}
    {% include 'AppBundle:Operator/Service:_menu.html.twig' with { step: 4 } %}

    <div class="clearfix">
        <div class="btn btn-default fileinput-button">
            <span>Загрузить документ …</span>
            <input id="fileupload" type="file" name="files[]" data-url="{{ path('service_upload_docs', { id: service.id }) }}" accept="image/jpg,image/jpeg,image/png">
        </div>
        <div id="image-progress" class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
                <span>Загрузка …</span>
            </div>
        </div>
        <span class="upload-fail"></span>
    </div>
    <div id="service_docs" class="clearfix">
        {% for doc in docs %}
        <a href="{{ doc.webPath }}" target="_blank">
            <img data-id="{{ doc.id }}" src="{{ doc.webPath|imagine_filter('doc') }}" class="img-thumbnail" alt="">
            <i class="fa fa-times"></i>
        </a>
        {% endfor %}
    </div>
    <hr>

    {{ form(form) }}
{% endblock content %}

{% block js %}
<script>
$(function() {
    $('#fileupload').fileupload({
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#image-progress').find('.progress-bar').css('width', progress + '%');
        },
        send: function () {
            $('.fileinput-button').hide();
            $('#image-progress').show();
        },
        done: function (e, data) {
            $('#image-progress').hide();
            if (data.result.files) {
                $('.fileinput-button').show();
                $.each(data.result.files, function (index, file) {
                    $('#service_docs').append('<a href="'+file.webPathOrig+'" target="_blank"><img data-id="'+file.id+'" src="'+file.webPath+'" class="img-thumbnail" alt=""><i class="fa fa-times"></i></a>');
                });
            } else {
                var errors = data.result.errors ? data.result.errors.join('<br>') : 'Неизвестная ошибка.';
                $('.upload-fail').html(errors).show().delay(1500).hide(function () {
                    $('.fileinput-button').show();
                });
            }
        },
        fail: function () {
            $('#image-progress').hide();
            $('.upload-fail').html('Ошибка сервера.').show().delay(1500).hide(function () {
                $('.fileinput-button').show();
            });
        }
    });

    $('#service_docs').on('click', '.fa-times', function(e) {
        e.preventDefault();
        var cntr = $(this).closest('a');
        var id = cntr.find('img').data('id');
        $.post('{{ path('service_delete_docs', { id: service.id }) }}', { doc_id: id }, function() {
            cntr.remove();
        });
    });
});
</script>
{% endblock js %}
