{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    {% include 'AppBundle:Operator/Service:_title.html.twig' %}
    {% include 'AppBundle:Operator/Service:_params.html.twig' %}
    {% include 'AppBundle:Operator/Service:_menu.html.twig' with { step: 5 } %}

    {% if men is not empty %}
    {{ form_start(form) }}
    {{ form_row(form.man) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    <div class="form-group">
        <label class="col-sm-3 control-label">Плейсхолдеры</label>
        <div class="col-sm-9">
            &#123;&#123; Doctor-I &#125;&#125; - Ф.И.О. врача в именительном падеже <br>
            &#123;&#123; Doctor-R &#125;&#125; - Ф.И.О. врача в родительном падеже
        </div>
    </div>

    {{ form_row(form.save) }}
    {{ form_rest(form) }}
    {% else %}
        Соответствующих врачей не найдено
    {% endif %}


{% endblock content %}

{% block js %}
    <script src="/ckeditor/ckeditor.js"></script>
    <script>
        $(function() {
            var eegs = {{ eegs|json_encode|raw }};
            var form_name = $('#form_name');
            var form_description = $('#form_description');
            var s_data = {{ s_data|json_encode|raw }};

            function changeDescription(e) {
                if (!s_data.parent_id) {
                    if (typeof(CKEDITOR.instances.form_description) == 'undefined') {
                        form_description.val(eegs[form_name.val()]);
                    }
                    else {
                        CKEDITOR.instances.form_description.setData(eegs[form_name.val()]);
                    }
                }
            };

            form_name.on('change', changeDescription);
            changeDescription();
        });
    </script>
{% endblock %}

