{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Загрузить документы</h1>
    </div>

    {% if service_logs %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Название услуги</th>
                    <th class="min_col">Код услуги</th>
                    <th class="min_col">Номер паспорта</th>

                    <th class="min_col"></th>
                </tr>
            </thead>
            <tbody>
            {% for service_log in service_logs %}
                <tr>
                    <td>{{ service_log.service.name is defined ? service_log.service.name : '' }}</td>

                    <td class="min_col">{{ service_log.service.code is defined ? service_log.service.code : '' }}</td>
                    <td class="min_col">{{ service_log.params.passport is defined ? service_log.params.passport : '' }}</td>
                    <td class="min_col">
                        <a href="{{ path('service_upload_documents_init', { id: service_log.id }) }}"><i class="fa fa-play"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Не найдено
    {% endif %}
    <hr>
    <a href="{{ path('services_upload_documents_search') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> Назад к поиску</a>
{% endblock content %}
