{% extends '@AdminSkeleton/_settings.html.twig' %}
{% trans_default_domain 'settings' %}

{% block fields %}
    {{ form_row(form.orderman_close_order_sum) }}

    {{ form_row(form.orderman_overrun) }}

    <fieldset>
        <legend>{{ 'settings_operator_blanks_on_hands_lost'|trans }}:</legend>
        {{ form_row(form.operator_blanks_on_hands_lost_title) }}
        {{ form_row(form.operator_blanks_on_hands_lost_text) }}
    </fieldset>

    <fieldset>
        <legend>{{ 'settings_creating_referenceman_archive_box'|trans }}:</legend>
        {{ form_row(form.creating_referenceman_archive_box_text) }}
    </fieldset>

    <fieldset>
        <legend>{{ 'settings_current_referenceman_archive_box'|trans }}:</legend>
        {{ form_row(form.current_referenceman_archive_box_text, {help: 'settings_current_orderman_archive_box_text_help'}) }}
    </fieldset>

    <fieldset>
        <legend>{{ 'settings_creating_orderman_archive_box'|trans }}:</legend>
        {{ form_row(form.creating_orderman_archive_box_text) }}
    </fieldset>

    <fieldset>
        <legend>{{ 'settings_current_orderman_archive_box'|trans }}:</legend>
        {{ form_row(form.current_orderman_archive_box_text, {help: 'settings_current_orderman_archive_box_text_help'}) }}
    </fieldset>

{% endblock fields %}

{% block js %}
<script src="/ckeditor/ckeditor.js"></script>
{% endblock js %}
