{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Возврат Денег</h1>
    </div>

    {{ form_start(form) }}
        <div class="form-group">
            <label class="col-sm-3 control-label">Юрлицо</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ serviceLog.blank.legalEntity }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Фамилия</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ serviceLog.lastName }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Имя</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ serviceLog.firstName }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Отчество</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ serviceLog.patronymic}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Дата рождения</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ serviceLog.birthday|localizeddate('long', 'none') }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Сумма</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ serviceLog.sum }}</p>
            </div>
        </div>

        {{ form_row(form.return_comment) }}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a type="submit" value="submit"  href="{{ path('operator_blanks__return_money__search') }}" class="btn btn-default pull-right"><i class="fa fa-arrow-left"></i> Назад к поиску</a>
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}

    <hr>

{% endblock content %}
