{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Возврат денег</h1>
    </div>

    {{ form(form) }}
{% endblock content %}

{% block js %}
<script>
$(function() {
    var reference_types = {{ reference_types|json_encode|raw }};
    var form_reference_type = $('#form_reference_type');
    var form_serie = $('#form_serie');
    var form_serie_form_group = form_serie.closest('.form-group');

    function onChangeReferenceType(e) {
        if (form_reference_type.val() == '' ||  reference_types[form_reference_type.val()].is_serie == false) {
            form_serie_form_group.hide();
            form_serie.removeAttr('required');
        } else if (reference_types[form_reference_type.val()].is_serie == true) {
            form_serie_form_group.show();
            form_serie.attr('required', 'required');
        }
    }
    form_reference_type.on('change', onChangeReferenceType);
    onChangeReferenceType();
});
</script>
{% endblock js %}
