{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain (trans_default is defined ? trans_default : entity_name_s) %}
{% if filter_form %}
    {% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}
{% endif %}

{% block content %}
    {% block start_content '' %}
    <div class="page-header">
        {% block add_button %}
        <a href="{{ path(router_item_add) }}" class="btn btn-default pull-right">
            <i class="fa fa-plus"></i>
            {{ ('buttons.add')|trans }}
        </a>
        {% endblock add_button %}
        <h1>{% block title %}{{ ('titles.list')|trans }}{% endblock title %}</h1>
    </div>

    {% if filter_form %}
        <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
        <div id="filter">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-filter"></i>
                        <span>Отфильтровать</span>
                    </button>
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
        <br>
    {% endif %}

    {% if pagerfanta.currentPageResults|length %}
        {% block start_table '' %}
        <table class="table table-hover">
            <thead>
                <tr>
                    {% for field in list_fields %}
                        <th{{ field is iterable ? (' class="'~field|last~'"')|raw }}>
                            {{ (entity_name_s~'_'~(field is iterable ? field|first : field))|trans }}
                        </th>
                    {% endfor %}
                    <th class="min_col"></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagerfanta.currentPageResults %}
                <tr{% block row_attr '' %}>
                    {% for field in list_fields %}
                        <td{{ field is iterable ? (' class="'~field|last~'"')|raw }}>
                            {% block td %}
                                {% set method = (field is iterable ? field|first : field)|title|replace({'_': ''}) %}
                                {% set value = attribute(entity, method) %}
                                {% if value is instanceof('DateTime') %}
                                    {{ value|localizeddate('medium', value|date('H:i:s') == '00:00:00' ? 'none' : 'short') }}
                                {% else %}
                                    {% block row_value value %}
                                {% endif %}
                            {% endblock td %}
                        </td>
                    {% endfor %}
                    <td class="min_col text-left">
                        {% block links %}
                            <a href="{{ path(router_item_edit, { id: entity.id }) }}" class="text-success"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="{{ path(router_item_delete, { id: entity.id }) }}" class="text-danger" onclick="return confirm('{{ 'you_sure'|trans({}, 'messages') }}')"><i class="fa fa-times"></i></a>
                        {% endblock links %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            {% block tfoot '' %}
        </table>
        {% block end_table '' %}
        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
    {% block end_content '' %}
{% endblock content %}

{% block js %}
<script>
$(function() {
    {% if app.request.queryString == '' %}
    $('#filter').hide();
    {% endif %}

    var filter_class = function() {
        $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
            return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
        });
    };
    filter_class();

    $('#filter_link').click(function(e) {
        e.preventDefault();
        $('#filter').toggle();
        filter_class();
    });
});
</script>
{% endblock js %}
