<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}{{ 'project_name'|trans }}{% endblock %}</title>
    <meta charset="{{ _charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.png">
    {% stylesheets '@AppBundle/Resources/public_source/less/00-main.less' filter="?cutcomments,?yui_css" output='bundles/app/css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% block css '' %}
</head>
<body>

<header>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'project_name'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        {% if workplace %}
                            {% if workplace.legalEntity is defined %}
                                <li><a href="#" onclick="return false;"><i class="fa fa-building-o"></i> {{ workplace.legalEntity.shortName }}</a></li>
                            {% endif %}
                            {% if workplace.filial is defined %}
                                <li><a href="#" onclick="return false;"><i class="fa fa-university"></i> {{ workplace.filial }}</a></li>
                            {% endif %}
                            <li><a href="#" onclick="return false;"><i class="fa fa-desktop"></i> {{ workplace.name }}</a></li>
                            <li>
                                <a title='Оператор' href="{{ path('current') }}"><i class="fa fa-money"></i> {{ workplace.sum|number_format }} руб.</a>
                            </li>
                        {% endif %}
                        {% if 'ROLE_ORDERMAN' in app.user.roles %}
                            <li><a href="#" title='Ордерист' onclick="return false;"><i class="fa fa-money"></i> {{ app.user.getOrdermanSum|number_format }} руб.</a></li>
                        {% endif %}
                        {% if 'ROLE_SUPERVISOR' in app.user.roles %}
                            <li><a href="#"  title='Супервайзер' onclick="return false;"><i class="fa fa-money"></i> {{ app.user.getSupervisorSum|number_format }} руб.</a></li>
                        {% endif %}
                        <li><a href="#" onclick="return false;"><i class="fa fa-user"></i> {{ app.user.fullName }}</a></li>
                        {% if 'ROLE_OPERATOR' in app.user.roles %}
                            <li><a href="{{ path('operator__close_shift') }}"><i class="fa fa-sign-out"></i> Завершить смену</a></li>
                        {% endif %}
                        <li><a href="{{ logout_url() }}"><i class="fa fa-sign-out"></i> Выйти</a></li>
                        <li class="bg-error"><a id="ban_start" href="#" data-toggle="modal" data-target=".ban-modal" data-backdrop="static"><i class="fa fa-ban fa-inverse"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block container %}
    {% if not app.user.forceChangePass %}
    <div id="side" role="complementary">
        {% include 'AppBundle::menu.html.twig' %}
    </div>
    {% endif %}

    <div id="main" role="main">
        {% block content '' %}
    </div>
    {% endblock container %}
</div>

<footer>
    <div class="container">
        © {{ 'project_name'|trans }} {{ 'now'|date('Y') }}
    </div>
</footer>

<div class="modal ban-modal" tabindex="-1" role="dialog" aria-labelledby="banLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-error">
                <h4 class="modal-title text-center">Отключение филиала</h4>
            </div>
            <div class="modal-body text-center bg-error">
                <span id="ban_counter"></span>
            </div>
            <div class="modal-footer bg-error">
                <button id="ban_cancel" type="button" class="btn btn-default center-block" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

{% javascripts '@AppBundle/Resources/public_source/js/*.js' filter="?cutcomments,?yui_js" output='bundles/app/js/main.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
$(function() {
    var ban_timer;
    var ban_interval;
    var ban_counter = 5;
    $('#ban_start').on('click', function(e) {
        e.preventDefault();
        ban_timer = setTimeout(function() {
            clearInterval(ban_interval);
            clearTimeout(ban_timer);
            ban_counter = 5;
            document.location = '{{ path('ban') }}';
        }, 5000);

        $('#ban_counter').html(ban_counter);
        ban_counter --;
        ban_interval = setInterval(function() {
            $('#ban_counter').html(ban_counter);
            ban_counter --;
        }, 1000);
    });
    $('#ban_cancel').on('click', function(e) {
        e.preventDefault();
        clearInterval(ban_interval);
        clearTimeout(ban_timer);
        ban_counter = 5;
    });
});
</script>
{% block js '' %}
</body>
</html>
