{% set route = app.request.get('_route') %}
{%
    set menu = [
        {
            name: 'Для админа',
            roles: ['ADMIN', 'ROLE_MANAGE_FILIALS', 'ROLE_MANAGE_WORKERS'],
            children: [
                {
                    name: 'Настройки',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_settings'],
                },
                {
                    name: 'Филиалы',
                    roles: ['ROLE_MANAGE_FILIALS'],
                    routes: ['admin_filials', 'admin_filial_add', 'admin_filial_edit', 'admin_filial_schedule', 'admin_filial_schedule_fill_week', 'admin_filial_schedule_edit_day'],
                },
                {
                    name: 'Юридические лица',
                    roles: ['ROLE_MANAGE_FILIALS'],
                    routes: ['admin_legal_entities', 'admin_legal_entity_add', 'admin_legal_entity_edit'],
                },
                {
                    name: 'Кассы',
                    roles: ['ROLE_MANAGE_FILIALS'],
                    routes: ['admin_cashboxes', 'admin_cashbox_add', 'admin_cashbox_edit'],
                },
                {
                    name: 'Рабочие места',
                    roles: ['ROLE_MANAGE_FILIALS'],
                    routes: ['admin_workplaces', 'admin_workplace_add', 'admin_workplace_edit', 'admin_agreements', 'admin_agreement_edit_type'],
                },
                {
                    name: 'Услуги',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_services', 'admin_service_add', 'admin_service_edit'],
                },
                {
                    name: 'Скидки',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_discounts', 'admin_discount_add', 'admin_discount_edit'],
                },
                {
                    name: 'Категории прав',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_categories', 'admin_category_add', 'admin_category_edit'],
                },
                {
                    name: 'Пользователи',
                    roles: ['ROLE_MANAGE_WORKERS'],
                    routes: ['admin_users', 'admin_user_add', 'admin_user_edit', 'admin_user_schedule', 'admin_user_schedule_toggle', 'admin_user_schedule_fill_week', 'admin_user_select_filial'],
                },
                {
                    name: 'Оказанные услуги',
                    roles: ['ROLE_ADMIN'],
                    routes: ['services_rendered'],
                },
                {
                    name: 'Действия операторов',
                    roles: ['ROLE_ADMIN'],
                    routes: ['operators_logs'],
                },
                {
                    name: 'Действия архивариусов',
                    roles: ['ROLE_ADMIN'],
                    routes: ['archivarius_logs'],
                },
                {
                    name: 'Теги',
                    roles: ['ROLE_ADMIN'],
                    routes: [
                        'admin_consumable_tag_categories',
                        'admin_consumable_tag_category_add',
                        'admin_consumable_tag_category_edit',
                        'admin_consumable_tags',
                        'admin_consumable_tag_add',
                        'admin_consumable_tag_edit',
                    ],
                },
                {
                    name: 'Типы бланков',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_reference_types', 'admin_reference_type_add', 'admin_reference_type_edit'],
                },
                {
                    name: 'Типы ордеров',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_order_types', 'admin_order_type_add', 'admin_order_type_edit'],
                },
                {
                    name: 'Типы документов для расходника',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_consumable_doc_types', 'admin_consumable_doc_type_add', 'admin_consumable_doc_type_edit'],
                },
                {
                    name: 'Шаблоны ЭЭГ',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_eegs', 'admin_eeg_add', 'admin_eeg_edit'],
                },
                {
                    name: 'Врачи',
                    roles: ['ROLE_ADMIN'],
                    children: [
                        {
                            name: 'Бригады',
                            routes: ['admin_brigades', 'admin_brigade_add', 'admin_brigade_edit'],
                        },
                        {
                            name: 'Специальности',
                            routes: ['admin_specialties', 'admin_specialty_add', 'admin_specialty_edit'],
                        },
                        {
                            name: 'Люди',
                            routes: ['admin_men', 'admin_man_add', 'admin_man_edit'],
                        },
                    ],
                },
                {
                    name: 'Статистика отработанных часов ',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_shift_logs'],
                },
                {
                    name: 'Назначение штрафа за утерю бланков',
                    roles: ['ROLE_ADMIN'],
                    routes: ['admin_lost', 'admin_lost_view'],
                },
            ],
        },
        {
            roles: ['ROLE_ARCHIVARIUS'],
            name: 'Для архивариуса',
            children: [
                {
                    name: 'Поиск по ФИО и дате рождения',
                    routes: ['archivarius_fio', 'archivarius_fio_view'],
                },
                {
                    name: 'Поиск по номеру бланка и дате выдачи',
                    routes: ['archivarius_date', 'archivarius_date_view'],
                },
                {
                    name: 'Поиск по номеру бланка и юридическому лицу',
                    routes: ['archivarius_legal', 'archivarius_legal_view'],
                },
                {
                    name: 'Поиск по номеру бланка',
                    routes: ['archivarius_number', 'archivarius_number_view'],
                },
            ],
        },
        {
            roles: ['ROLE_CASHIER'],
            name: 'Для кассира',
            children: [
                {
                    name: 'Забрать деньги',
                    routes: ['cashier_get'],
                },
            ],
        },
        {
            roles: ['ROLE_SUPERVISOR'],
            name: 'Для супервизора',
            children: [
                {
                    name: 'Забрать конверты',
                    routes: ['supervisor_get_evelopes'],
                },
                {
                    name: 'Конверты на руках',
                    routes: ['supervisor_on_hands', 'supervisor_view_evelope'],
                },
                {
                    name: 'Ордера',
                    routes: ['supervisor_orders', 'supervisor_orders_take'],
                },
            ],
        },
        {
            roles: ['ROLE_ADMIN', 'ROLE_SUPERVISOR'],
            name: 'Сводка по остаткам',
            routes: ['balance'],
        },
        {
            roles: ['ROLE_SUPERADMIN'],
            name: 'Оборот супервайзера',
            routes: ['admin_supervisor_turnover'],

        },
        {
            roles: ['ROLE_SUPERADMIN'],
            name: 'Оборот кассира',
            routes: ['admin_cashier_turnover'],
        },
        {
            roles: ['ROLE_SENIOR_OPERATOR'],
            name: 'Для ст. оператора',
            children: [
                {
                    name: 'Не в конвертах',
                    routes: ['senior_current'],
                },
            ],
        },
        {
            roles: ['ROLE_OPERATOR'],
            name: 'Для оператора',
            children: [
                {
                    name: 'Услуги',
                    routes: ['services', 'service', 'operator_blanks_agreement_current_view', 'operator_blanks_agreement_on_hands_view'],
                },
                {
                    name: 'За текущий день',
                    routes: ['current'],
                },
                {
                    name: 'Дубликаты',
                    routes: ['duplicates'],
                },
                {
                    name: 'Обмен бланка с опечатками',
                    routes: ['medical_center_errors_search'],
                },
                {
                    name: 'Ордера',
                    routes: ['operator_orders', 'operator_orders_issue_order'],
                },
                {
                    name: 'Пакеты от справковеда',
                    routes: ['operator_blanks_referenceman_envelopes'],
                },
                {
                    name: 'Испорченные бланки',
                    routes: ['operator_blanks_cancelled_blanks', 'operator_blanks_add_operator_cancelled'],
                },
                {
                    name: 'Бланки на руках',
                    routes: ['operator_blanks_on_hands', 'operator_blanks_on_hands_view'],
                },
                {
                    name: 'Текущие бланки',
                    routes: ['operator_current_blanks', 'operator__current_blanks__view'],
                },
                {
                    name: 'Возврат бланков',
                    routes: [
                        'operator_blanks_envelopes_of_transfered_blanks_to_referenceman',
                        'operator_blanks_transfer_blanks_to_referenceman',
                    ],
                },
                {
                    name: 'Загрузить документы',
                    routes: [
                        'services_upload_documents_search',
                        'service_upload_documents_init',
                        'service_upload_documents_upload'
                    ],
                },
                {
                    name: 'Замена бланков без печати',
                    routes: [
                        'operator_blanks__replacement_blanks_with_no_stamps',
                        'operator_blanks__replacement_blank_with_no_stamps__upload',
                        'operator_blanks__replacement_blank_with_no_stamps__replace',
                        'service_log_upload_docs',
                        'service_log_delete_docs',
                    ],
                },
                {
                    name: 'Возврат денег',
                    routes: [
                        'operator_blanks__return_money__search',
                        'operator_blanks__return_money__found',
                    ],
                },
            ],
        },
        {
            roles: ['ROLE_COURIER'],
            name: 'Для курьера',
            children: [
                {
                    name: 'Забрать конверты',
                    routes: ['courier_get_evelopes'],
                },
                {
                    name: 'На руках',
                    routes: ['courier_on_hands'],
                },
            ],
        },
        {
            roles: ['ROLE_TREASURER'],
            name: 'Для казначея',
            children: [
                {
                    name: 'Ордера',
                    routes: ['treasurer_orders', 'treasurer_orders_add'],
                },
            ],
        },
        {
            roles: ['ROLE_ORDERMAN'],
            name: 'Для ордериста',
            children: [
                {
                    name: 'Ордера',
                    routes: [
                        'orderman_orders', 'orderman_orders_order', 'orderman_consumable',
                        'orderman_consumable_edit', 'orderman_consumable_add',
                    ],
                },
                {
                    name: 'Архивные коробки',
                    routes: [
                        'orderman__consumable_boxes',
                        'orderman__select_consumable_box',
                        'orderman__consumable_box',
                    ],
                },
            ],
        },
        {
            roles: ['ROLE_ACQUITTANCEMAN'],
            name: 'Для расписчика',
            children: [
                {
                    name: 'Ордера',
                    routes: ['acquittanceman_orders'],
                },
            ],
        },
        {
            roles: ['ROLE_STOCKMAN'],
            name: 'Для кладовщика',
            children: [
                {
                    name: 'На складе',
                    routes: [
                        'stockman_blanks_instock',
                        'stockman_blanks__stockman_referenceman_envelope__add_reference_type',
                        'stockman_blanks__stockman_referenceman_envelope__add_reference_type_serie',
                        'stockman_blanks__stockman_referenceman_envelope__view_after_creating',
                        'stockman_blanks_add',
                        'stockman_blanks_add_params',
                        'stockman_blanks_add_params_serie',
                        'stockman_blanks__add_stockman_cancelled',
                        'stockman_blanks__add_stockman_cancelled__serie',
                        'stockman_blanks__instock__view__serie',
                        'stockman_blanks__instock__view',
                    ],
                },
                {
                    name: 'Пакеты для справковеда',
                    routes: [
                        'stockman_blanks__stockman_referenceman_envelopes',
                        'stockman_blanks_add_stockman_referenceman_envelope',
                        'stockman_blanks__stockman_referenceman_envelope__send',
                        'stockman_blanks__stockman_referenceman_envelope__view',
                        'stockman_blanks__stockman_referenceman_envelope__remove',
                        'stockman_blanks__stockman_referenceman_envelope__remove_referenceman',
                        'stockman_blanks__stockman_referenceman_envelope__delete_blank',
                        'stockman_blanks__stockman_referenceman_envelopes__view_intervals',
                    ],
                },
                {
                    name: 'Бланки от справковеда',
                    routes: [
                        'stockman_blanks_referenceman_envelopes',
                        'stockman_blanks__referenceman_envelope__view_intervals',
                        'stockman_blanks_view_referenceman_envelope'
                    ],
                },
                {
                    name: 'Не найденные бланки',
                    children: [
                        {
                            name: 'Подтвердить утерю',
                            routes: ['stockman_blanks_cancelled'],
                        },
                        {
                            name: 'Список бланков',
                            routes: ['stockman_blanks__stockman_cancelled'],
                        },
                    ],
                },
                {
                    name: 'Созданные бланки',
                    routes: ['stockman_blanks'],
                },
            ],
        },
        {
            roles: ['ROLE_REFERENCEMAN'],
            name: 'Для справковеда',
            children: [
                {
                    name: 'Пакеты от кладовщика',
                    routes: [
                        'referenceman_blanks_stockman_envelopes',
                        'referenceman_blanks__stockman_envelope__view',
                        'referenceman_blanks__stockman_envelope__view_intervals',
                    ],
                },
                {
                    name: 'Бланки не в конвертах',
                    routes: [
                        'referenceman_blanks_not_in_operator_envelopes',
                        'referenceman_blanks_add_operator_envelope_reference_type',
                        'referenceman_blanks_add_operator_envelope_reference_type_serie',
                        'referenceman_blanks__referenceman_operator_envelope__view_after_creating',
                        'referenceman_blanks_not_in_operator_envelopes__view_serie',
                        'referenceman_blanks_not_in_operator_envelopes__view',
                        'referenceman_blanks_not_in_operator_envelopes__view_list',
                        'referenceman_blanks_transfer_blanks_to_stockman_or_referenceman__blank_id',
                    ],
                },
                {
                    name: 'Конверты для оператора',
                    routes: [
                        'referenceman_blanks_operator_envelopes',
                        'referenceman_blanks_add_operator_envelope',
                        'referenceman_blanks_send_operator_envelope',
                        'referenceman_blanks_view_operator_envelope',
                        'referenceman_blanks_view_intervals_operator_envelope'
                    ],
                },
                {
                    name: 'Пакеты от справковеда',
                    routes: [
                        'referenceman_blanks_referenceman_referenceman_envelopes',
                        'referenceman_blanks_view_referenceman_referenceman_envelope',
                        'referenceman_blanks_view_intervals_referenceman_referenceman_envelope',
                    ],
                },
                {
                    name: 'Получено от оператора',
                    routes: [
                        'referenceman_blanks_operator_referenceman_envelopes',
                        'referenceman_blanks_view_operator_referenceman_envelope',
                    ],
                },
                {
                    name: 'Ненайденные бланки',
                    routes: [
                        'referenceman_blanks_referenceman_cancelled',
                        'referenceman_blanks_add_referenceman_cancelled',
                    ],
                },
                {
                    name: 'Испорченные бланки',
                    routes: [
                        'referenceman_blanks_operator_cancelled',
                        'referenceman_blanks_view_operator_cancelled',
                        'referenceman_blanks__operator_referenceman_box__select',
                        'referenceman_blanks__operator_cancelled__view_desc',
                    ],
                },
                {
                    name: 'Бланки без печати',
                    routes: [
                        'referenceman_blanks__blanks_with_no_stamps',
                        'referenceman_blanks__blanks_with_no_stamps__get',
                    ],
                },
                {
                    name: 'Собственные исопрченные бланки',
                    routes: [
                        'referenceman_blanks__referenceman_referenceman_broken__list',
                        'referenceman_blanks__referenceman_referenceman_broken__add',
                        'referenceman_blanks__referenceman_referenceman_box__select',
                        'referenceman_blanks__referenceman_referenceman_broken__add__refType_serie_number',
                        'referenceman_blanks__referenceman_referenceman_broken__add__refType_number',
                    ],
                },
                {
                    name: 'Архивные коробки',
                    routes: [
                        'referenceman_blanks__arhival_boxes',
                        'referenceman_blanks__arhival_box',
                        'referenceman_blanks__arhival_box__view_desc',
                    ],
                },
                {
                    name: 'Возврат бланков',
                    routes: [
                        'referenceman_blanks_envelopes_of_transfered_blanks_to_stockman_or_referenceman',
                        'referenceman_blanks_transfer_blanks_to_stockman_or_referenceman',
                        'envelope_of_transfered_blanks_to_stockman_or_referenceman__list',
                        'envelope_of_transfered_blanks_to_stockman_or_referenceman__intervals'
                    ],
                },
                {
                    name: 'Утерянные бланки',
                    routes: [
                        'referenceman_blanks_lost',
                    ],
                },
                {
                    name: 'Бланки на руках у операторов',
                    routes: [
                        'rm_report_blanks', 'rm_report_blanks_list_for_type', 'rm_report_blanks_view_logs_for_blank'
                    ],
                },
            ],
        },
        {
            roles: ['ROLE_REPLACER'],
            name: 'Для заменятеля',
            children: [
                {
                    name: 'Замена операторов',
                    routes: [
                        'replacer__replacements__list',
                        'replacer__replacement__add',
                    ],
                },
                {
                    name: 'Логи замены операторов',
                    routes: [
                        'replacer__logs__list',
                ],
                },
            ],
        },
    ]
%}

{% macro menu(route, els, lvl=0) %}
    {% import _self as this %}
    {% for el in els %}
        {% if el.roles is not defined or is_granted(el.roles) %}
            {% if el.children is defined %}
                {% set routes = [] %}
                {% for child in el.children %}
                    {% if child.routes is defined and (child.roles is not defined or is_granted(child.roles)) %}
                        {% set routes = routes|merge(child.routes) %}
                    {% endif %}
                {% endfor %}
                {% set el = el|merge({ routes: routes }) %}
            {% endif %}
            {% if el.children is defined %}
                {% if lvl == 0 and app.user.roles|length == 1 %}
                    {{ this.menu(route, el.children, lvl+1) }}
                {% else %}
                    <li{{ route in el.routes ? ' class="active"' : '' }}>
                        <a href="{{ path(el.routes[0]) }}">{{ el.name }}</a>
                        <ul class="nav">{{ this.menu(route, el.children, lvl+1) }}</ul>
                    </li>
                {% endif %}
            {% else %}
                <li{{ route in el.routes ? ' class="active"' : '' }}><a href="{{ path(el.routes[0]) }}">{{ el.name }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

<nav id="main_menu">
    <ul class="nav">
        {% import _self as macros %}
        {{ macros.menu(route, menu) }}
    </ul>
</nav>
