{% extends "AdminBundle::_item.html.twig" %}
{% trans_default_domain entity_name_s %}

{% block content %}
    {{ parent() }}

    {% if ban %}
        <h3>Заблокировал последний раз:</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Ф.И.О.</th>
                <th>Категория пользователя</th>
                <th class="min_col">Дата</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {% if ban.user.id is defined %}
                    <td>{{ ban.user }}</td>
                    <td>
                        {% for role in ban.user.roles -%}
                            {%- if not loop.first %},{% endif %}
                            {{ role|trans({}, 'user') }}
                        {%- endfor %}
                    </td>
                    {% endif %}
                    <td class="min_col">{{ ban.createdAt|date('d.m.Y') }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
