{% extends "AdminBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Заполнить расписание</h1>
        <dl class="dl-horizontal">
            <dt>Филиал:</dt><dd>{{ filial.name }}</dd>
        </dl>
    </div>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.monday_from) }}
        <div class="col-sm-9">
            <div id="form_fill_from" class="form-inline">
                {{ form_widget(form.monday_from, { attr: { style: 'display:inline-block' }}) }}
                ---
                {{ form_widget(form.monday_to, { attr: { style: 'display:inline-block' }}) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.tuesday_from) }}
        <div class="col-sm-9">
            <div id="form_fill_from" class="form-inline">
                {{ form_widget(form.tuesday_from, { attr: { style: 'display:inline-block' }}) }}
                ---
                {{ form_widget(form.tuesday_to, { attr: { style: 'display:inline-block' }}) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.wednesday_from) }}
        <div class="col-sm-9">
            <div id="form_fill_from" class="form-inline">
                {{ form_widget(form.wednesday_from, { attr: { style: 'display:inline-block' }}) }}
                ---
                {{ form_widget(form.wednesday_to, { attr: { style: 'display:inline-block' }}) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.thursday_from) }}
        <div class="col-sm-9">

            <div id="form_fill_from" class="form-inline">
                {{ form_widget(form.thursday_from, { attr: { style: 'display:inline-block' }}) }}
                ---
                {{ form_widget(form.thursday_to, { attr: { style: 'display:inline-block' }}) }}
            </div>
        </div>
    </div>


    <div class="form-group">
        {{ form_label(form.friday_from) }}
        <div class="col-sm-9">

            <div id="form_fill_from" class="form-inline">
                {{ form_widget(form.friday_from, { attr: { style: 'display:inline-block' }}) }}
                ---
                {{ form_widget(form.friday_to, { attr: { style: 'display:inline-block' }}) }}
            </div>
        </div>
    </div>


    <div class="form-group">
        {{ form_label(form.saturday_from) }}
        <div class="col-sm-9">

            <div id="form_fill_from" class="form-inline">
                {{ form_widget(form.saturday_from, { attr: { style: 'display:inline-block' }}) }}
                ---
                {{ form_widget(form.saturday_to, { attr: { style: 'display:inline-block' }}) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.sunday_from) }}
        <div class="col-sm-9">

            <div id="form_fill_from" class="form-inline">
                {{ form_widget(form.sunday_from, { attr: { style: 'display:inline-block' }}) }}
                ---
                {{ form_widget(form.sunday_to, { attr: { style: 'display:inline-block' }}) }}
            </div>
        </div>

    </div>

    <br>
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Заполнить</button>
            <a class="btn btn-default pull-right" href="{{ path('admin_filial_schedule', {'id': filial.id}) }}"><i
                        class="fa fa-arrow-left"></i> Назад</a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock content %}

{% block js %}
    <script>
        $(function () {
            $('input').datepicker({
                language: 'ru',
                autoclose: false,
            });
        });
    </script>
{% endblock js %}





