{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('admin_filial_schedule_fill_week', {id: filial.id}) }}"><i class="fa fa-plus"></i> Заполнить неделю</a>
        <h1>Редактировать расписание</h1>
        <dl class="dl-horizontal">
            <dt>Филиал:</dt><dd>{{ filial.name }}</dd>
        </dl>
    </div>

    <div class="form-group">
        <div id="form_day_div" class="col-sm-offset-3 col-sm-9"></div>
    </div>

    <div class="form-group"><div class="col-sm-offset-3 col-sm-9">&nbsp;</div></div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('admin_filials') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    $(function() {
        var dates = JSON.parse('{{ dates|json_encode|raw }}');
        dates = Object.keys(dates).map(function (key) { return dates[key]; });
        filledDates = {};

        $(dates).each(function (index, value) {
            var date = value.split('-');
            filledDates[ new Date( date[0], date[1]-1, date[2]) ] = new Date( date[0], date[1]-1, date[2]);
        });

        $('#form_day_div').datepicker({
            language: 'ru',
            autoclose: false,
            startDate: '{{ startDate }}',
            todayHighlight: true,
            beforeShowDay: function(date) {
                var highlight = filledDates[date];
                if (highlight) {
                    return {
                        classes: 'highlighted',
                    };
                }
            }
         });

        function onChangeDay() {
            var href = $('#a_edit_day').attr('href');
            var date = $('#form_day_div').datepicker('getDate');
            date = date.getFullYear() + '-' + (parseInt(date.getMonth()) + 1 ) + '-' + date.getDate();
            href = "{{ path('admin_filial_schedule_edit_day', {'id': filial.id}) }}" + '?date=' + date;
            window.location.href = href;
        }
        $('.datepicker').on('click', onChangeDay);
});
</script>
{% endblock js %}





