{% extends "AdminBundle::layout.html.twig" %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Редактировать дату</h1>
        <dl class="dl-horizontal">
            <dt>Филиал:</dt><dd>{{ filial.name }}</dd>
        </dl>
    </div>
    {{ form_start(form) }}


    <div class="form-group">
        {{ form_label(form.day_from) }}
        <div class="col-sm-9">
            <div id="form_fill_from" class="form-inline">
                {{ form_widget(form.day_from, { attr: { style: 'display:inline-block' }}) }}
                ---
                {{ form_widget(form.day_to, { attr: { style: 'display:inline-block' }}) }}
                {{ form_errors(form.day_from) }}
            </div>

        </div>
    </div>


    <br>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a class="btn btn-default pull-right" href="{{ path('admin_filial_schedule', {'id': filial.id}) }}"><i class="fa fa-arrow-left"></i> Назад</a>
            </div>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock content %}







