{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Сформировать пакет</h1>
        <dl class="dl-horizontal">
            <dt>Код юрлица:</dt><dd>{{ info['legalEntityShortName'] }}</dd>
            <dt>Тип бланков:</dt><dd>{{ info['referenceType'] }}</dd>
            <dt>Серия:</dt><dd>{{ info['serie'] }}</dd>
            <dt>Всего:</dt><dd>{{ info['amount'] }}</dd>
        </dl>
    </div>

    <a href='#' id='toggle_interval'>Список интервалов</a>
    <table class='table table-responsive' id='intervals' style="display: none">
    {% for interval in info['intervals'] %}
        <tr>
            <td>
                {{ interval['interval'] }}
            </td>
            <td>
                {{ interval['amount'] }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <br>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Найти</button>
            </div>
        </div>
    {{ form_end(form) }}

    {% if blanks|length > 0 %}
        {{ form_start(form2) }}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Код юрлица</th>
                        <th>Тип справки</th>
                        <th class="min_col text-left">Серия</th>
                        <th class="min_col text-right">Номер</th>
                        <th class="min_col">
                            <label>
                                <input type="checkbox" name="checkAll" id="checkAllCheckbox">
                            </label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for blank in blanks %}
                    <tr>
                        <td>{{ blank.legalEntity.shortName }}</td>
                        <td>{{ blank.referenceType }}</td>
                        <td class="min_col text-left">{{ blank.serie }}</td>
                        <td class="min_col text-right">{{ blank.number }}</td>
                        <td class="min_col">{{ form_widget(form2.blanks[loop.index0]) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-right"><b>Всего: {{ blanks|length }}</b></td>
                </tr>
                </tfoot>
            </table>
        {{ form_end(form2) }}
    {% elseif form.vars['submitted'] %}
        <hr>Ничего не найдено
    {% endif %}
{% endblock content %}

{% block js %}
<script>
$(function() {
    $('#checkAllCheckbox').click(function() {
        $('input[id^=\'form2_blanks\']' ).prop('checked', this.checked);
    });

    $.each($("input[id^='form2_blanks']" ), function () {
        $(this).change(function() {
            $('#checkAllCheckbox').prop('checked', false);
        })
    });

    $('#toggle_interval').on('click', function toggle_interval() {
        $('#intervals').toggle();
    })


});
</script>
{% endblock %}

