{% extends 'AppBundle::layout.html.twig' %}

{% if filter_form %}
    {% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}
{% endif %}

{% block content %}
    <div class="page-header">
        <h1>Созданные бланки</h1>
    </div>

    {% if filter_form %}
        <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
        <div id="filter">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-filter"></i>
                        <span>Отфильтровать</span>
                    </button>
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
        <br>
    {% endif %}

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">Время добавления</th>
                <th>Код юрлица</th>
                <th>Тип бланка</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Первый номер</th>
                <th class="min_col text-right">Количество</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for blank_log in pagerfanta.currentPageResults  %}
                <tr>
                    <td class="min_col text-left">{{ blank_log.createdAt()|date('d.m.Y, H:i') }}</td>
                    <td>{{ blank_log.legalEntity.shortName }}</td>
                    <td>{{ blank_log.referenceType.name }}</td>
                    <td class="min_col text-left">{{ blank_log.serie }}</td>
                    <td class="min_col text-right">{{ blank_log.firstNum }}</td>
                    <td class="min_col text-right">{{ blank_log.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        $(function() {
            {% if app.request.queryString == '' %}
            $('#filter').hide();
            {% endif %}

            var filter_class = function() {
                $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
                    return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
                });
            };
            filter_class();

            $('#filter_link').click(function(e) {
                e.preventDefault();
                $('#filter').toggle();
                filter_class();
            });
        });
    </script>
{% endblock js %}
