{% extends '@AdminSkeleton/_list.html.twig' %}

{% set entity_name_s = 'stockman' %}

{% block title 'Ненайденные бланки' %}

{% block add_button %}
    {{ query_string }}
{% endblock %}

{% block td %}
    {% set method = (field is iterable ? field|first : field)|title|replace({'_': ''}) %}
    {% set value = attribute(entity, method) %}
    {% if value is instanceof('DateTime') %}
        {{ value|date('d.m.Y, H:i') }}
    {% else %}
        {% block row_value value %}
    {% endif %}
{% endblock td %}

{% block links %}
{% endblock links %}

{% block tfoot %}
    <tr>
        <td colspan="7">Записей: {{ pagerfanta.nbResults }}</td>
    </tr>
{% endblock %}