{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Ненайденные бланки справковедом</h1>
    </div>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ф.И.О. справковеда</th>
                    <th class="text-left">Код юрлица</th>
                    <th class="min_col text-left">Тип справки</th>
                    <th class="min_col text-left">Серия</th>
                    <th class="min_col text-right">Номер</th>
                    <th class="min_col"></th>
                </tr>
            </thead>
            <tbody>
            {% for blank in pagerfanta.currentPageResults  %}
                <tr>
                    <td>{{ blank.referenceman }}</td>
                    <td class="text-left">{{ blank.legalEntity.shortName }}</td>
                    <td class="min_col text-left">{{ blank.referenceType.name }}</td>
                    <td class="min_col text-left">{{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                    <td class="min_col">
                        <a href="{{ path('stockman_blanks_undo', { id : blank.id }) }}"><i title='Вернуть справковеду' class="fa fa-undo"></i></a>
                        <a class="text-danger" href="{{ path('stockman_blanks_delete', { id : blank.id }) }}"><i title='Пометить бланк как ненайденный' class="fa fa-bug"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagerfanta.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', { prev_message: '←', next_message: '→' }) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
