{% extends '@AdminSkeleton/_list.html.twig' %}

{% set entity_name_s = 'stockman' %}

{% block title 'Пакеты от справковеда' %}

{% block add_button '' %}

{% block row_value %}
    {% if method == 'Amount'  %}
        {{ entity.blanks|length }}
    {% else %}
        {{ value }}
    {% endif %}
{% endblock row_value %}

{% block links %}
    <a href="{{ path('stockman_blanks_get_referenceman_envelope',{ id : entity.id }) }}"><i title='Принять бланки' class="fa fa-hand-rock-o"></i></a>
    <a href="{{ path('stockman_blanks_view_referenceman_envelope',{ id : entity.id }) }}"><i title='Просмотр бланков' class="fa fa-eye"></i></a>
    <a href="{{ path('stockman_blanks__referenceman_envelope__view_intervals',{ id: entity.id }) }}"><i title='Просмотр интервалов' class="fa fa-list"></i></a>
{% endblock links %}
