{% extends '@AdminSkeleton/_list.html.twig' %}

{% set entity_name_s = 'stockman' %}
{% block add_button %}
{% endblock %}
{% block title 'Пакеты для справковеда' %}

{% block td %}
    {% set method = (field is iterable ? field|first : field)|title|replace({'_': ''}) %}
    {% set value = attribute(entity, method) %}

    {% if method == 'FirstNum'  %}
        {% set format = '%0'~entity.leadingZeros~'d' %}
        {{ format|format(entity.firstNum) }}
    {% else %}
        {% if value is instanceof('DateTime') %}
            {{ value|localizeddate('medium', value|date('H:i:s') == '00:00:00' ? 'none' : 'short') }}
        {% else %}

            {% if field[0] is defined and field[0]=='referenceman' and value is empty %}
                <a title='Назначить пакет на справковеда' href="{{ path('stockman_blanks__stockman_referenceman_envelope__send',{ id : entity.id }) }}">
                    Назначить
                </a>
            {% elseif field == 'intervals' %}
                <div id='intervals_{{ entity.id }}' style="display:none">
                    {% for legal_entity, reference_types__series in value %}
                        {% for reference_type, intervals in reference_types__series %}
                            <strong>{{ legal_entities[legal_entity] }}</strong>
                            <kbd>{{ reference_types[reference_type] }}</kbd>
                            {% for serie, interval in intervals %}
                                <br><code>{{ serie }} </code>:
                                {% for subinterval in interval %} {% set sum = 0 %}
                                    {% if subinterval is defined %}
                                        {%- if subinterval[0] == subinterval[1] -%}
                                            {{ subinterval[0] }} {% set sum = sum + 1 %}
                                        {%- else -%}
                                            [{{ subinterval[0] }}, {{ subinterval[1] }}] {% set sum = sum + (subinterval[1] - subinterval[0]) + 1 %}
                                        {%- endif -%}
                                        {{ loop.last ? '' : '; ' }}
                                        {{ sum }} <br>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}<br>
                        {% endfor %}
                    {% endfor %}
                </div>

            {% elseif field[0] is defined and field[0] == 'amount' %}
                <b>{{ value }} шт.</b>
            {% else %}
                {% block row_value value %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock td %}

{% block links %}
    <a href="{{ path('stockman_blanks__stockman_referenceman_envelope__view',{ id : entity.id }) }}"><i title='Просмотр пакета' class="fa fa-eye text-success"></i></a>
    <a href="{{ path('stockman_blanks__stockman_referenceman_envelopes__view_intervals',{ id : entity.id }) }}"><i title='Просмотр интервалов' class="fa fa-list"></i></a>
    {% if entity.referenceman is null %}
        <a href="{{ path('stockman_blanks__stockman_referenceman_envelope__send',{ id : entity.id }) }}"><i title='Назначить пакет на справковеда' class="fa fa-user-plus"></i></a>
        <a href="{{ path('stockman_blanks__stockman_referenceman_envelope__remove',{ id : entity.id }) }}"><i title='Расформировать пакет' class="fa fa-times text-danger"></i></a>
    {% else %}
        <a href="{{ path('stockman_blanks__stockman_referenceman_envelope__remove_referenceman',{ id : entity.id }) }}"><i title='Снять пакет со старавковеда' class="fa fa-user-times text-danger"></i></a>
        <i title='Расформировать Пакет' class="fa fa-times" style="color: gainsboro"></i>
    {% endif %}

{% endblock links %}

