{% extends 'AppBundle::layout.html.twig' %}
{% form_theme filter_form 'AdminSkeletonBundle::form.html.twig' %}

{% block content %}
    <div class="page-header">
        <a class="btn btn-default pull-right" href="{{ path('stockman_blanks_add') }}"><i class="fa fa-plus"></i> Добавить бланки</a>
        <h1>На складе</h1>
    </div>

    {% if filter_form %}
        <a id="filter_link" href="#"><i class="fa fa-caret-right"></i> Фильтр</a>
        <div id="filter">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-filter"></i>
                        <span>Отфильтровать</span>
                    </button>
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
        <br>
    {% endif %}

    {% if stockman_invervals|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">Код юрлица</th>
                <th class="min_col text-left">Тип бланков</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Количество</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for legal_entity, reference_types__series in stockman_invervals %}
                {% for reference_type, series in reference_types__series %}
                    {% for serie, leadingZeros in series %}
                        {% set amount = 0 %}
                        {% for leadingZero, intervals in leadingZeros %}
                            {% for interval in intervals %}
                                {% set amount = amount + (interval[1]-interval[0]+1)  %}
                            {% endfor %}
                        {% endfor %}

                        {% if amount > 0 %}
                            <tr>
                                <td class="min_col text-left">{{ legal_entities[legal_entity] }}</td>
                                <td class="min_col text-left">{{ reference_types[reference_type].name }}</td>
                                <td class="min_col text-left">{{ serie }}</td>
                                <td class="min_col text-right">{{ amount }}</td>
                                <td class="min_col">
                                    {% if serie is defined and serie is not empty %}
                                        <a href="{{ path('stockman_blanks__stockman_referenceman_envelope__add_reference_type_serie',{ legalEntity: legal_entity, referenceType: reference_type, serie: serie, amount: amount }) }}"><i title="Создать пакет для справковеда" class="fa fa-envelope-o"></i></a>
                                        <a href="{{ path('stockman_blanks__add_stockman_cancelled__serie',{ legalEntity: legal_entity, referenceType: reference_type, serie: serie}) }}"><i title="Отметить ненайденные бланки" class="fa fa-bug text-danger"></i></a>
                                    {% else %}
                                        <a href="{{ path('stockman_blanks__stockman_referenceman_envelope__add_reference_type',{ legalEntity: legal_entity, referenceType: reference_type, amount: amount }) }}"><i title="Создать пакет для справковеда" class="fa fa-envelope-o"></i></a>
                                        <a href="{{ path('stockman_blanks__add_stockman_cancelled',{ legalEntity: legal_entity, referenceType: reference_type}) }}"><i title="Отметить ненайденные бланки" class="fa fa-bug text-danger"></i></a>
                                    {% endif %}
                                    <a href="{{ path('stockman_blanks__instock__view',{ legalEntity: legal_entity, referenceType: reference_type, serie: serie }) }}"><i title='Просмотр интервалов' class="fa fa-list"></i></a>
                                </td>

                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
        $(function() {
            {% if app.request.queryString == '' %}
            $('#filter').hide();
            {% endif %}

            var filter_class = function() {
                $('i', '#filter_link').removeClass('fa-caret-down fa-caret-right').addClass(function() {
                    return $('#filter').is(':hidden') ? 'fa-caret-right' : 'fa-caret-down';
                });
            };
            filter_class();

            $('#filter_link').click(function(e) {
                e.preventDefault();
                $('#filter').toggle();
                filter_class();
            });
        });
    </script>
{% endblock js %}
