{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Просмотр интервалов</h1>
        №{{ envelope.id }}, {{ envelope.referenceman }}, {{ envelope.legalEntityShortName }}
    </div>

    {% if envelope.intervals|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">Тип справки</th>
                <th class="min_col text-right">Серия</th>
                <th>Интервал</th>
                <th class="min_col text-right">Количество</th>
            </tr>
            </thead>
            <tbody>
            {% for legal_entity, reference_types__series in intervals %}
                {% for reference_type, series in reference_types__series %}
                    {% for serie, leadingZeros in series %}
                        {% for leadingZero, intervals in leadingZeros %}
                            {% set format = '%0'~leadingZero~'d' %}
                        {% if intervals|length %}
                            <tr>
                                <td class="min_col text-left">{{ reference_types[reference_type].name }}</td>
                                <td class="min_col text-right">{% if serie is defined %}{{ serie }}{% endif %}</td>
                                <td>
                                    {% set amount = 0 %}
                                    {% for interval in intervals %}
                                        {% set amount = amount + (interval[1]-interval[0]+1)  %}
                                        {%- if interval[0] == interval[1] -%}
                                            {{ format|format(interval[0]) }}
                                        {%- else -%}
                                            [{{ format|format(interval[0]) }}, {{ format|format(interval[1]) }}]
                                        {%- endif -%}
                                        {{ loop.last ? '' : '; ' }}
                                    {% endfor %}
                                </td>
                                <td class="min_col text-right">
                                    {% if amount is defined %}
                                        {{ amount }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans({}, 'messages') }}
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a class="btn btn-default pull-right" href="{{ path('stockman_blanks_referenceman_envelopes') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
        </div>
    </div>
{% endblock content %}
