{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AdminSkeletonBundle::form.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Передать пакет справковеду</h1>
        <hr>
        <dl class="dl-horizontal">
            <dt>Код юрлица:</dt><dd>{{ envelope.legalEntity.shortName }}</dd>
            <dt>Тип бланка:</dt><dd>{{ envelope.referenceType.name }}</dd>
            <dt>Серия:</dt><dd>{{ envelope.serie ? envelope.serie : '-' }}</dd>
            <dt>Всего:</dt><dd>{{ envelope.blanks|length }}</dd>
        </dl>

        <a href='#' id='toggle_interval'>Список интервалов</a>
        <table class='table table-responsive' id='intervals' style="display: none">
            <th>Интервал</th>
            <th class="min_col text-right">Количество</th>
            {% for interval in info['intervals'] %}
                <tr>
                    <td>
                        {{ interval['interval'] }}
                    </td>
                    <td  class="min_col text-right" >
                        {{ interval['amount'] }}
                    </td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td class="min_col text-right" colspan="2">Всего: {{ envelope.blanks|length }}</td>
            </tr>
            </tfoot>
        </table>
        <br>

    </div>
    {{ form(form) }}
{% endblock content %}

{% block js %}
<script>
    $(function() {
        $('#toggle_interval').on('click', function toggle_interval() {
            $('#intervals').toggle();
        })
    });
</script>
{% endblock %}