{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>Статистика</h1>
    </div>

        <table class="table table-hover">

            <tbody>
                <tr>
                    <td class="text-left">У себя на скаладе</td>
                    <td class="min_col text-right">{{ blanks['stockman'] }}</td>
                    <td class="min_col"><a href="{{ path('stockman_blanks_statistics_view', { 'userType': 'stockman' }) }}" class="text-success"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr>
                    <td class="text-left">У справковедов</td>
                    <td class="min_col text-right">{{ blanks['referenceman'] }}</td>
                    <td class="min_col"><a href="{{ path('stockman_blanks_statistics_view', { 'userType': 'referenceman' }) }}" class="text-success"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr>
                    <td class="text-left">У операторов</td>
                    <td class="min_col text-right">{{ blanks['operator'] }}</td>
                    <td class="min_col"><a href="{{ path('stockman_blanks_statistics_view', { 'userType': 'operator' }) }}" class="text-success"><i class="fa fa-eye"></i></a></td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3" class="min_col text-right"><b>Итого: {{ blanks['sum'] }}</b></td>
                </tr>
            </tfoot>

        </table>

{% endblock content %}
