{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>Статистика</h1>
    </div>
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-left">Тип бланка</th>
                        <th class="min_col text-right">Количество</th>
                    </tr>
                </thead>
            <tbody>
                {% set sum = 0 %}
                {% for blank in blanks %}
                        <tr>
                            <td class="text-left">{{ blank.0.name }}</td>
                            <td class="min_col text-right">{{ blank.b_cnt }} {% set sum = sum + blank.b_cnt %}</td>
                        </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="min_col text-right"><b>Итого: {{ sum }}</b></td>
                </tr>
            </tfoot>
        </table>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a class="btn btn-default pull-right" href="{{ path('stockman_blanks_statistics') }}">
                    <i class="fa fa-arrow-left"></i> Назад к списку
                </a>
            </div>
        </div>

{% endblock content %}
