{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Сформированный пакет для справковеда</h1>
    </div>

    {% if envelope is defined %}
        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Пакет №
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ envelope.id }}
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Юр. лицо
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ envelope.legalEntity }}
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Код юрлица
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ envelope.legalEntity.shortName }}
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Тип бланка
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ envelope.referenceType }}
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Серия
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ envelope.serie }}
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Интервалы бланков
                </label>
                <div class="col-sm-9">
                    <div class="form-control-static">
                        {% set sum = 0 %}
                        {% set amount = 0 %}
                        {% for legal_entity, reference_types__series in intervals %}
                            {% for reference_type, series in reference_types__series %}
                                {% for serie, leadingZeros in series %}
                                    {% for leadingZero, intervals in leadingZeros %}
                                            <td>
                                            {% set format = '%0'~leadingZero~'d' %}
                                            <table class="table table-condensed">
                                            <th>Интервал</th>
                                            <th class="min_col text-right">Количество</th>
                                            {% set amount = 0 %}
                                            {% for interval in intervals %}
                                                {% if interval is defined %}
                                                    {% set sum = 0 %}
                                                    <tr>
                                                        <td>
                                                            {%- if interval[0] == interval[1] -%}
                                                                {{ format|format(interval[0]) }}
                                                                {% set sum = sum + 1 %}
                                                            {%- else -%}
                                                                [{{ format|format(interval[0]) }}, {{ format|format(interval[1]) }}]
                                                                {% set sum = sum + (interval[1] - interval[0]) + 1 %}
                                                            {%- endif -%}
                                                            {% set amount = amount + sum %}
                                                        </td>
                                                        <td class="min_col text-right">
                                                            {{ sum }}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </table>
                                    {% endfor %}
                                {% endfor %}<br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Кол-во бланков
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ amount }}
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <a class="btn btn-default" href="{{ path('stockman_blanks_instock') }}">
                        Продолжить
                    </a>
                </div>
            </div>

        </form>
    {% endif %}

{% endblock content %}


