{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Пакет для справковеда</h1>
    </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-right">Номер пакета</th>
                <th class="text-left">Справковед</th>
                <th class="min_col text-left">Код юрлица</th>
                <th class="min_col text-left">Тип справки</th>
                <th class="min_col text-left">Серия</th>
                <th class="min_col text-right">Номер</th>

                {% if envelope.referenceman is null %}
                    <th class="min_col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for blank in envelope.blanks %}
                <tr>
                    <td class="min_col text-right">{{ envelope.id }}</td>
                    <td class="text-left">{{ envelope.referenceman ? envelope.referenceman : '-'}}</td>
                    <td class="min_col text-left">{{ envelope.legalEntity.shortName }}</td>
                    <td class="min_col text-left">{{ blank.referenceType }}</td>
                    <td class="min_col text-left">{{ blank.serie }}</td>
                    <td class="min_col text-right">{{ blank.number }}</td>
                    {% if envelope.referenceman is null %}
                        <td>
                            <a title="Изъять бланк из пакета" class="text-danger" href="{{ path('stockman_blanks__stockman_referenceman_envelope__delete_blank', { id : blank.id }) }}"><i class="fa fa-times"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="{% if envelope.referenceman is null %}7{% else %}6{% endif %}" class="text-right"><b>Всего: {{ envelope.blanks|length }}</b></td>
            </tr>
            </tfoot>
        </table>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a class="btn btn-default pull-right" href="{{ path('stockman_blanks__stockman_referenceman_envelopes') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
            </div>
        </div>
{% endblock content %}
