{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Просмотр интервалов</h1>
    </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col text-left">Интервал</th>
                <th class="min_col text-right">Количество</th>
            </tr>
            </thead>
            <tbody>
            {% for leadingZero, intervals in intervals %}
                {% set format = '%0'~leadingZero~'d' %}
                {% for interval in intervals %}
                    {% set amount = 0 %}
                    <tr>
                        {% set amount = amount + (interval[1]-interval[0]+1)  %}
                        {%- if interval[0] == interval[1] -%}
                            <td class="min_col text-left">{{ format|format(interval[0]) }}</td>
                        {%- else -%}
                            <td class="min_col text-left">[{{ format|format(interval[0]) }}, {{ format|format(interval[1]) }}]</td>
                        {%- endif -%}
                        <td class="min_col text-right">{{ amount }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a class="btn btn-default pull-right" href="{{ path('stockman_blanks_instock') }}"><i class="fa fa-arrow-left"></i> Назад к списку</a>
            </div>
        </div>
{% endblock content %}
